﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopInfoPicture

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
</head>
<body>
  <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "ShopInfo", new { id = ViewBag.ShopInfoId, type = "1" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script>    
        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @ViewBag.Message
        <fieldset>
            <legend>新增圖片</legend>

            <input type="hidden" name="ShopInfoId" value="@ViewBag.ShopInfoId"/>
           
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Subject)
    
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfoPicture>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
           
                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.UpImageUrl)
    
            </div>
            <div class="editor-field">
                <input type="file" name="upImageUrls" />
           
                
            </div>
    
                 @Html.Hidden("ListNum","0")
            <p>
                <input type="submit" value="新增" />
            </p>
        </fieldset>
    }
    
    
</body>
</html>
