﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicketOrderDetails

@{
    ViewBag.Title = "Check";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>核銷套票</title>
 <style>
        h2 {
            color: #00b1c9;
        }
        body {
            font-family: 微軟正黑體,sans-serif;
            text-align: center;
        }
        .cen img {
            width: 150px;
            margin: 20px;
        }
        .btn {
            text-align: center;
            font-size: 1em;
            width: 150px;
            display: inline-block;
            padding: 5px;
            background: #00b1c9;
            color: white;
            border-radius: 5px;
            border: 0;
            outline: 0;
            box-shadow: none;
            cursor: pointer;
        }
        .style-line {
            height: 2px;
            background: #00b1c9;
        }
    </style>
</head>
<body>
    <div>
        <div style="color: red">@ViewBag.Message</div>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>瘋趣台灣fun2tw-套票核銷</h2>
            <div class="cen">
                <img src="http://www.fun2tw.com/qrcode/@(Model.ActionQRCode).PNG" style="width: 80px; height: 80px"/>

                <div class="boxPrint">
                    <p>
                        編號：@Model.Id
                        @Html.HiddenFor(model => model.Id)
                    </p>
                    <p>
                        活動名稱：@Model.ActionName
                        @Html.HiddenFor(model => model.ActionName)
                    </p>
                    <p>
                        購買人：@Model.PackageTicketOrdersId.OrderName
                         @Html.HiddenFor(model => model.PackageTicketOrderId)
                    </p>
                    <p>
                        購買日期：@Model.InitDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd")
                    @Html.HiddenFor(model => model.InitDate)
                    </p>
                    <p>
                        供應商：@ViewBag.Suppliers
                        @Html.HiddenFor(model => model.SupplierId)
                    </p>
                    <p>
                        使用與否：@Model.TicketUseStatus
                    </p>
                    <div style="display: none">
                        <select id="BooleanType" name="BooleanType">
                            <option selected="selected">是</option>
                            <option>否</option>
                        </select>
                    </div>

                </div>

            </div>
            <div>
                
                @Html.HiddenFor(model => model.ActionArticle)
                @Html.HiddenFor(model => model.ActionNameEn)
                @Html.HiddenFor(model => model.ActionArticleEn)
                @Html.HiddenFor(model => model.ActionNameJp)
                @Html.HiddenFor(model => model.ActionArticleJp)
                @Html.HiddenFor(model => model.ActionQRCode)
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.UpdateDate)
                 @Html.HiddenFor(model => model.Updater)
                @Html.HiddenFor(model => model.UseDate)

                @if (@Model.TicketUseStatus == PackageTicketUseStatus.否)
                {
                    <input type="submit" value="已領取"/>
                }
                else
                {
                     <p>
                        使用日期：@Model.UseDate.Value.ToString("yyyy/MM/dd hh:mm:ss")
                    </p>
                }




            </div>

        }
    </div>
</body>
</html>
