﻿@{
    ViewBag.Title = "CheckSuccess";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>核銷成功</title>
</head>
<body>
    <div>
        <h1>核銷已完成</h1>
    </div>
</body>
</html>
