﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicketOrderDetails

@{
    ViewBag.Title = "交通套票活動核銷編輯";
    Member member = ViewBag.Member;
    
}

<h2>交通套票活動核銷編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PackageTicketOrderDetails</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActionName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrderDetails>.GetDisplayName("ActionName") })
           
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.TicketUseStatus)
        </div>
        <div class="editor-field">
            @if (ViewBag.Users == null)
            {
                @Html.DropDownListFor(model => model.TicketUseStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PackageTicketUseStatus))))
                @Html.ValidationMessageFor(model => model.TicketUseStatus)
            }
            else
            {
                if (Model.TicketUseStatus != PackageTicketUseStatus.否)
                {
                    @Html.Raw(Model.TicketUseStatus)
                }
                else
                {
                    @Html.DropDownListFor(model => model.TicketUseStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PackageTicketUseStatus))))
                    @Html.ValidationMessageFor(model => model.TicketUseStatus)
                }
            }

          

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId)
        </div>
        <div class="editor-field">
            @if (ViewBag.Users == null)
            {
                @Html.DropDownList("SupplierId")
                @Html.ValidationMessageFor(model => model.SupplierId)
            }
            else
            {
                @Html.Raw(member.Supplier.Subject)
                @Html.HiddenFor(model => model.SupplierId)
            }
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionQRCode)
        </div>
        <div>
           
           <img src="http://www.fun2tw.com/qrcode/@(Model.ActionQRCode).png" style="width:80px;height:80px"/>
        </div>
        @Html.HiddenFor(model => model.PackageTicketOrderId)
        @Html.HiddenFor(model => model.ActionQRCode)
        @Html.HiddenFor(model => model.UseDate)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
