﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登入</title>
</head>
<body>
<h1> 管理者資訊</h1>
    @using (Html.BeginForm())
  {

      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      @ViewBag.Message
<div>
    帳號:<input type="text" name="account"/> <br/>
    密碼:<input type="password" name="password"/>
    <input type="hidden" name="id" value="@ViewBag.Id"/> <br/>
     <input type="hidden" name="qrcode" value="@ViewBag.qrcode"/> <br/>
    <input type="submit" value="送出"/>
</div>
    }


</body>
</html>
