﻿@{
    ViewBag.Title = "TicketError";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>此票券尚未付款無法使用</title>
</head>
<body>
    <div>
        <h1>此票券尚未付款無法使用</h1>
    </div>
</body>
</html>