﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Navigation

@{
    ViewBag.Title = "路線規劃管理新增";
}

<h2>路線規劃管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Navigation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Navigation>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Navigation>.GetDisplayName("Address") })
            @Html.ValidationMessageFor(model => model.Address)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lon,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Navigation>.GetDisplayName("Lon") })
            @Html.ValidationMessageFor(model => model.Lon)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Navigation>.GetDisplayName("Lat") })
            @Html.ValidationMessageFor(model => model.Lat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortMemo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ShortMemo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.Navigation>.GetDisplayName("ShortMemo") })
            @Html.ValidationMessageFor(model => model.ShortMemo)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
