﻿@if (Request.IsAuthenticated) {
    <text>
        <i class="icon-user"></i> 您好，@User.Identity.Name ! @using (Html.BeginForm("LogOff", "Member", FormMethod.Post, new { id = "logoutForm" })) { @Html.AntiForgeryToken()<a href="/PasswordChange/index"><span  class="logout">修改密碼</span></a><a href="javascript:document.getElementById('logoutForm').submit()"><span  class="logout">登出</span></a>}
    </text>
} else {

    <a href="@(Url.Action("Login", "Member"))">
        <i class="icon-user"></i>
        <span>登入</span>
    </a>

}
