﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelSpecialHoliday

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravelSpecialHoliday</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId")
            @Html.ValidationMessageFor(model => model.ProductId)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActityDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActityDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.ActityDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSpecialHoliday>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsOnSale)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsOnSale, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsOnSale)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelDayStatus))))
            @Html.ValidationMessageFor(model => model.Status)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
