﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicket

@{
    ViewBag.Title = "套票商品上架管理新增";
}

<h2>套票商品上架管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>PackageTicket</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnSubject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EnSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("EnSubject") })
            @Html.ValidationMessageFor(model => model.EnSubject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpSubject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JpSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("JpSubject") })
            @Html.ValidationMessageFor(model => model.JpSubject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TicketType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TicketType))))
            @Html.ValidationMessageFor(model => model.TicketType)
       
            
        </div>

        <div class="editor-label">
            圖片(310*250)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.FeatureArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.FeatureArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnFeatureArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnFeatureArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.EnFeatureArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpFeatureArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpFeatureArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpFeatureArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("Price") })
            @Html.ValidationMessageFor(model => model.Price)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiscountPrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DiscountPrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("DiscountPrice") })
            @Html.ValidationMessageFor(model => model.DiscountPrice)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CastArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CastArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.CastArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnCastArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnCastArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.EnCastArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpCastArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpCastArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpCastArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoteArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoteArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.NoteArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnNoteArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnNoteArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.EnNoteArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpNoteArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpNoteArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpNoteArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoticeEmail)

        </div>
    <div class="editor-field">
        <input data-val="true" data-val-required="通知信件必填" id="NoticeEmail" name="NoticeEmail" placeholder="請輸入Email" type="text" value="">
      @*  <input data-val="true" data-val-number="欄位 原價 必須是數字。" data-val-required="原價必填" id="Price" name="Price" placeholder="請輸入原價" type="text" value="">
        @Html.TextBoxFor(model => model.NoticeEmail, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("NoticeEmail")})*@
        @Html.ValidationMessageFor(model => model.NoticeEmail)


    </div>
        <div style="display: none">
        <div class="editor-label">
            @Html.LabelFor(model => model.Paytypes)

       </div>
    <div class="editor-field">




        <input type="checkbox" name="PayType" value="@PayType.信用卡刷卡" id="@PayType.信用卡刷卡" checked="checked"/>
        <label style="display: inline; padding-right: 20px" for="信用卡刷卡">信用卡刷卡</label>


        @*    @foreach (var item in new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PayType)), PayType.信用卡刷卡))
        {
            if (item.Selected)
            {
                <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
            }
            else
            {
                <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
            }

            <label style="display: inline; padding-right: 20px" for="@item.Text">@item.Text</label>
        }*@


    </div>
</div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
