﻿@using Fun2twModels
@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicket

@{
    ViewBag.Title = "套票商品上架管理編輯";
}
<h2>套票商品上架管理編輯</h2>

<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab1" data-toggle="tab">基本資料</a></li>
        <li><a href="#tab2" data-toggle="tab">活動</a></li>
        <li><a href="#tab3" data-toggle="tab">已售出的票券</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>PackageTicket</legend>

                    @Html.HiddenFor(model => model.Id)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Subject)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("Subject") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnSubject)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.EnSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("EnSubject") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.JpSubject)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.JpSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("JpSubject") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TicketType)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.TicketType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TicketType))))
                        @Html.ValidationMessageFor(model => model.TicketType)

                    </div>

                    <div class="editor-label">
                        圖片(310*250)
                    </div>
                    <div class="editor-field">
                        <input type="file" name="UpImageUrls" />
                        @Html.HiddenFor(model => model.UpImageUrl)
                        @if (!string.IsNullOrEmpty(Model.UpImageUrl))
                        {
                            <img src="~/upfiles/images/S@(Model.UpImageUrl)"/>
                        }

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.FeatureArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.FeatureArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.FeatureArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnFeatureArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.EnFeatureArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.EnFeatureArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.JpFeatureArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.JpFeatureArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.JpFeatureArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Price)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Price, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("Price") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DiscountPrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.DiscountPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("DiscountPrice") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.CastArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.CastArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.CastArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnCastArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.EnCastArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.EnCastArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.JpCastArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.JpCastArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.JpCastArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.NoteArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.NoteArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.NoteArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.EnNoteArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.EnNoteArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.EnNoteArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.JpNoteArticle)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.JpNoteArticle, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.JpNoteArticle)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Enable)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
                        @Html.ValidationMessageFor(model => model.Enable)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.NoticeEmail)
                    </div>
                    <div class="editor-field">
                       <input data-val="true" data-val-required="通知信件必填" id="NoticeEmail" name="NoticeEmail" placeholder="請輸入Email" type="text" value="@Model.NoticeEmail">
      @*  <input data-val="true" data-val-number="欄位 原價 必須是數字。" data-val-required="原價必填" id="Price" name="Price" placeholder="請輸入原價" type="text" value="">
        @Html.TextBoxFor(model => model.NoticeEmail, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("NoticeEmail")})*@
        @Html.ValidationMessageFor(model => model.NoticeEmail)

                    @*@Html.TextBoxFor(model => model.NoticeEmail, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicket>.GetDisplayName("NoticeEmail")})*@

                    </div>


  <div style="display: none">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Paytypes)

                    </div>
                <div class="editor-field">

                    <input type="checkbox" name="PayType" value="@PayType.信用卡刷卡" id="@PayType.信用卡刷卡" checked="checked"/>
                    <label style="display: inline; padding-right: 20px" for="信用卡刷卡">信用卡刷卡</label>                   @* @foreach (var item in new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PayType))))
                    {
                        if (!string.IsNullOrEmpty(Model.Paytypes))
                        {
                            if (Model.Paytypes.IndexOf(item.Text, StringComparison.Ordinal) > -1)
                            {
                                <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                            }
                            else
                            {
                                <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                        }


                        <label style="display: inline; padding-right: 20px" for="@item.Text">@item.Text</label>
                    }*@


                </div>
       </div>
                    @Html.HiddenFor(model => model.Poster)
                    @Html.HiddenFor(model => model.InitDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    <p>
                        <input type="submit" value="更新" />
                        <input type="button" onclick="history.back()" value="回到上一頁" />
                    </p>
                </fieldset>
            }
        </div>

        <div class="tab-pane" id="tab2">

            @{
                List<ActionProduct> actionProducts = ViewBag.ActionProducts;
            }
            @using (Html.BeginForm("UpdateActionProduct", "PackageTicket"))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table class="table table-v" id="LocalTable">
                    <tr>
                        <th width="5%">選擇</th>
                        <th width="13%">
                            @Html.DisplayNameFor(model => model.ActionProducts.FirstOrDefault().Subject)
                        </th>
                        <th width="26%" style="display:none">
                            @Html.DisplayNameFor(model => model.ActionProducts.FirstOrDefault().Article)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActionProducts.FirstOrDefault().SupplierId)
                        </th>

                    </tr>
                    <tbody>
                        @*注意這邊,要指定排序*@
                        @foreach (var item in actionProducts)
                        {
                            <tr>
                                <td>
                                    @if (Model.ActionProducts.Contains(item))
                                    {
                                        <input type="checkbox" name="actionProducts" value="@item.Id" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="actionProducts" value="@item.Id"/>
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td style="display:none">
                                    @Html.Raw(item.Article)

                                </td>
                                <td>
                                    @Html.Raw(item.Supplier.Subject)
                                </td>
                                <td style="display: none">
                                    @Html.Raw(item.Id)
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>

                <div>
                    <input type="hidden" name="Id" value="@Model.Id"/>

                    <input type="hidden" name="updateaction" value="更新搭配活動" />
                    <input type="submit" value="更新搭配活動" class="btn-button" />

                </div>
            }







        </div>
        <div class="tab-pane" id="tab3">


            <table class="table table-v" id="Table">
                @{
                    List<PackageTicketOrder> packageTicketOrders = ViewBag.PackageTicketOrder;
                   }

                <tr>
                    <th>訂單編號
                    </th>
                    <th>訂單日期
                    </th>
                    <th>套票名稱
                    </th>
                    <th>車票兌換與否
                    </th>
                    <th>活動核銷狀態
                    </th>
                    <th>聯絡人姓名
                    </th>
                    <th>聯絡人電話
                    </th>
                    <th>訂單處理狀態
                    </th>
                    <th>總計
                    </th>

                    <th></th>
                </tr>
                <tbody>
                    @foreach (var item in packageTicketOrders)
                    {


                        if (item.PackageTicketIdCh == Model.Subject)
                        {
                        
                               <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Orderid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActityDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PackageTicketIdCh)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CarUseStatus)
                            </td>
                            <td>

                                @item.PackageTicketOrderDetail.Count(x => x.TicketUseStatus == PackageTicketUseStatus.是) <span>/</span>  @item.PackageTicketOrderDetail.Count
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTelphone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                          
                        </tr>
                            }            
                    }             
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css"/>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
        $('#myTab a:eq(@ViewBag.type)').tab('show');
        $("#TravelSchduleTable tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find(".sid").val() + ":" + (i + 1) + ",";
                }
                $("#TravelSchduleSortData").val(map);
            }
        });
        $("#CustomFieldTable tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find(".fid").val() + ":" + (i + 1) + ",";
                }
                $("#customFieldSortData").val(map);
            }
        });
    </script>
}