﻿@model Fun2twModels.Models.Products

@{
    ViewBag.Title = "供應商商品審核管理刪除";
}

<h2>供應商商品審核管理刪除</h2>

<h3>你確定要刪除嗎?</h3>
<fieldset>
    <legend>Products</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
