﻿
@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.Products>

@{
    ViewBag.Title = "供應商商品審核管理列表";
}

<h2>供應商商品審核管理列表</h2>


    @using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().ClassId):@Html.DropDownList("SearchByClassId", (IEnumerable<SelectListItem>)ViewBag.ClassId, "請選擇")
        <div style="display: none">  @Html.DisplayNameFor(model => model.FirstOrDefault().BrandId):@Html.DropDownList("SearchByBrandId", (IEnumerable<SelectListItem>)ViewBag.BrandId, "請選擇")</div>
        
      
        <div>@Html.DisplayNameFor(model => model.FirstOrDefault().MallId) :@Html.DropDownList("SearchByMallId", (IEnumerable<SelectListItem>)ViewBag.MallId, "請選擇")</div>
        
        @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().Status): @Html.DropDownList("SearchByStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PromotionProductStatus))), "請選擇")
        <br />   @Html.DisplayNameFor(model => model.FirstOrDefault().Verify): @Html.DropDownList("SearchByVerify", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))), "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().HotProduct)：@Html.DropDownList("SearchByHotProduct", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))), "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().HitoProduct)：@Html.DropDownList("SearchByHitoProduct", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))), "請選擇")
        <br /> 發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" /> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            商城
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductCategory.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OnSalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            產品剩餘數量
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderProductTotalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Verify)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HitoProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().HotProduct)
        </th>

        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Mall.Subject
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.Subject)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.UpImageUrl))
                    {
                        <img src="~/upfiles/images/S@(item.UpImageUrl)"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnSalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTotalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderProductTotalQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verify)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.HitoProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotProduct)
                </td>
                @*<td>
                        @{
                            var user = _db.Members.FirstOrDefault(x => x.Account == item.Poster);
                            <span>@user.Name</span>
                        }

                    </td>*@
                <td>
                    @Html.ActionLink("編輯", "Edit", new {id = item.Id})
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

