﻿@using Fun2twModels.Models
@model Fun2twModels.Models.SunMoonLakeTickets

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) { 

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>SunMoonLakeTickets</legend>
        
        <div style="display: none">
        <div class="editor-label">
            @Html.LabelFor(model => model.MoneyId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MoneyId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("MoneyId") })
            @Html.ValidationMessageFor(model => model.MoneyId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderId") })
            @Html.ValidationMessageFor(model => model.OrderId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDate,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderDate") })
            @Html.ValidationMessageFor(model => model.OrderDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketsName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TicketsName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("TicketsName") })
            @Html.ValidationMessageFor(model => model.TicketsName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketsChange)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TicketsChange,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("TicketsChange") })
            @Html.ValidationMessageFor(model => model.TicketsChange)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionCheckStatus)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActionCheckStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("ActionCheckStatus") })
            @Html.ValidationMessageFor(model => model.ActionCheckStatus)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderName") })
            @Html.ValidationMessageFor(model => model.OrderName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderPhone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderPhone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderPhone") })
            @Html.ValidationMessageFor(model => model.OrderPhone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderStatus") })
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Total,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("Total") })
            @Html.ValidationMessageFor(model => model.Total)
       
        </div>
        </div>
        <div class="editor-field">
            <input type="file" name="UpFiles" />

        </div>
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
