﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.SunMoonLakeTickets

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SunMoonLakeTickets</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label" style="display:none">
            @Html.LabelFor(model => model.MoneyId)
        </div>
        <div class="editor-field" style="display:none">
            @Html.TextBoxFor(model => model.MoneyId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("MoneyId") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderId") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDate,new {placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderDate") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketsName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TicketsName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("TicketsName") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TicketsChange)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TicketsChange,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("TicketsChange") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionCheckStatus)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActionCheckStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("ActionCheckStatus") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderName") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderPhone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderPhone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderPhone") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("OrderStatus") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Total,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.SunMoonLakeTickets>.GetDisplayName("Total") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
