﻿@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.SunMoonLakeTickets>

@{
    ViewBag.Title = "日月潭套票訂單管理列表";
}

<h2>日月潭套票訂單管理列表</h2>

<p style="display:none">
    @Html.ActionLink("新增", "Create")
</p>
<div>
    
    @using (Html.BeginForm("GetFile", "SunMoonLakeTicketOrder"))
    {
        <select name="fileName" style="display: none">
            <option value="日月潭報表">日月潭報表</option>
        </select>
       <input type="submit" value="匯出報表"/>
    }
</div>
    @using (Html.BeginForm())
{
<div>
    
	</div>
    
}

<table class="table">
    <tr>
       @* <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MoneyId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TicketsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TicketsChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActionCheckStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.MoneyId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketsChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionCheckStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id })
            @* |@Html.ActionLink("內容", "Details", new { id=item.Id }) |
    @Html.ActionLink("刪除", "Delete", new { id=item.Id })*@
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

