﻿<p style="color: red">此為系統發出信件，請勿直接回信！</p>
<p>親愛的 ##OrderName## 您好:</p>
<p>感謝您的訂購，您的訂單我們已經收到，以下是此次訂購資料</p>
<div style="color: blue">行程資訊</div>
<div>
    <span style="color: red">交易方式:ATM轉帳</span> <br/>
    <span style="color: red">訂單編號：##Orderid##</span><br/>
    行程名稱：##Subject##
    <br/>
    Coupon Code: ##Coupon##
    <br/>
    出發日期：##ActityDate##<br/>
    總 金 額：##Total##
</div>
<br />

<div style="color: blue">聯絡人資料</div>
<div>
    姓 名：##OrderName##<br/>
    聯絡電話：##OrderTelphone##<br/>
    行動電話：##OrderMobile##<br/>
    傳 真：##FAX##<br/>
    電子郵件：##OrderEmail##<br/>
    聯絡地址：##OrderAddress##<br/>
    上車地點：##CarArea##<br/>
    特別需求：##CustomerMemo##<br/>
</div>
<br />
<div style="color: blue">旅客清單</div>
<div>
    <table style="width: 600px; border-bottom: 1px">
        <tr>
            <th style="width: 5%; text-align: left"></th>
            <th  style="width: 20%; text-align: left">房間樣式</th>
            <th  style="width: 15%; text-align: left">中文姓名</th>
            <th  style="width: 20%; text-align: left">英文姓名</th>
            <th  style="width: 20%; text-align: left">身分證字號</th>
            <th  style="width: 20%; text-align: left">出生年月日</th>
        </tr>
        <tbody>
            ##TravelOrderDetails##
        </tbody>
    </table>
</div>
<br/>
<div style="color: #AAAAAA">
屏東旅行社<br/>
TEL:08-7221292<br/>
FAX:08-7215767
</div>

