﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelLocation

@{
    ViewBag.Title = "相關景點管理新增";
}

<h2>相關景點管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelLocation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelLocation>.GetDisplayName("Subject")})
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnSubject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EnSubject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelLocation>.GetDisplayName("EnSubject")})
            @Html.ValidationMessageFor(model => model.EnSubject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpSubject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JpSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelLocation>.GetDisplayName("JpSubject") })
            @Html.ValidationMessageFor(model => model.JpSubject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field">
            <input type="file" name="upImageUrls" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article, new {@class = "ckeditor"})
            @Html.ValidationMessageFor(model => model.Article)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnArticle, new {@class = "ckeditor"})
            @Html.ValidationMessageFor(model => model.EnArticle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JpArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpArticle)
        </div>

        @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
