﻿@using Fun2twModels.Models
@model Fun2twModels.Models.VoteVideo

@{
    ViewBag.Title = "影音票選新增";
}

<h2>影音票選新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>VoteVideo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeUrl)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("YoutubeUrl") })
            @Html.ValidationMessageFor(model => model.YoutubeUrl)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Name") })
            @Html.ValidationMessageFor(model => model.Name)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Tel") })
            @Html.ValidationMessageFor(model => model.Tel)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Address") })
            @Html.ValidationMessageFor(model => model.Address)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Views)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Views,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.VoteVideo>.GetDisplayName("Views") })
            @Html.ValidationMessageFor(model => model.Views)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Verify)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Verify, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Verify)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
