﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.VoteVideo>

@{
    ViewBag.Title = "影音票選列表";
}

<h2>影音票選列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div style="display:none">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name):@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Verify): @Html.DropDownList("SearchByVerify", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))),"請選擇")
        	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div style="display:none">
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().YoutubeUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Verify)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
      
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td style="display: none">
            @Html.DisplayFor(modelItem => item.YoutubeUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verify)
        </td>
     
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

