﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Mall

@{
    ViewBag.Title = "伴手禮市集供應商管理新增";
}

<h2>伴手禮市集供應商管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>商城管理新增</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingfeeRule)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingfeeRule, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ShippingfeeRule") })
            @Html.ValidationMessageFor(model => model.ShippingfeeRule)


        </div>
        
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Shippingfee)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Shippingfee, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("Shippingfee") })
            @Html.ValidationMessageFor(model => model.Shippingfee)


        </div>
        
          <div class="editor-label">
            @Html.LabelFor(model => model.ContactName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ContactName") })
            @Html.ValidationMessageFor(model => model.ContactName)


        </div>
        
          <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ContactTelphone") })
            @Html.ValidationMessageFor(model => model.ContactTelphone)


        </div>



        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.BannerUpImageUrl)

        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="BannerUpImageUrls" />
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
