﻿@model Fun2twModels.Models.Mall

@{
    ViewBag.Title = "伴手禮市集供應商管理刪除";
}

<h2>伴手禮市集供應商管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<h2><div style="color: red">提示:一旦刪除了與此商城有關聯的所有產品會一併刪除</div></h2>
<fieldset>
    <legend>Mall</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BannerUpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BannerUpImageUrl)
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>
     <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactTelphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactTelphone)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Article)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (ViewBag.DelMessage == null)
        {
            <input type="submit" value="刪除" />
        }
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
