﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.Mall

@{
    ViewBag.Title = "伴手禮市集供應商管理編輯";
}

<h2>伴手禮市集供應商管理編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Mall</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingfeeRule)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingfeeRule, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ShippingfeeRule") })

        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Shippingfee)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Shippingfee, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("Shippingfee") })

        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.ContactName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ContactName") })

        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.ContactTelphone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Mall>.GetDisplayName("ContactTelphone") })

        </div>
        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.UpImageUrl)
        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="UpImageUrls" />
            @Html.HiddenFor(model => model.UpImageUrl)
            @if (!string.IsNullOrEmpty(Model.UpImageUrl))
            {
                <img src="~/upfiles/images/S@(Model.UpImageUrl)" />
            }
           
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.BannerUpImageUrl)
        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="BannerUpImageUrls" />
            @Html.HiddenFor(model => model.BannerUpImageUrl)
            @if (!string.IsNullOrEmpty(Model.BannerUpImageUrl))
            {
                <img src="~/upfiles/images/S@(Model.BannerUpImageUrl)" />
            }
           
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field" style="display: none">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
           
        </div>
         <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
            @Html.HiddenFor(model => model.ListNum)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
