﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.Mall>

@{
    ViewBag.Title = "伴手禮市集供應商管理列表";
}

<h2>伴手禮市集供應商管理列表</h2>
@if (ViewBag.Users!="供應商"){
<p>
    @Html.ActionLink("新增", "Create")
</p>
}
 

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().BannerUpImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactTelphone)
        </th>
         @if (ViewBag.Users!="供應商"){
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>     
         <th>
            新排序
        </th>
        }
        <th>
            免運門檻
        </th>
        <th>
            運費
        </th>
      
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td style="display: none">
        @if (!string.IsNullOrEmpty(item.UpImageUrl))
        {
                    <img src="~/upfiles/images/S@(item.UpImageUrl)" />
        }
        </td>
        <td style="display: none">
            @if (!string.IsNullOrEmpty(item.BannerUpImageUrl))
            {
                <img src="~/upfiles/images/S@(item.BannerUpImageUrl)" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactTelphone)
        </td>
           @if (ViewBag.Users != "供應商")
           {
        <td>
            @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        
               <td>
                   @Html.TextBoxFor(modelItem => item.ListNum, new {@class = "position"})
               </td>
           }
        <td>
            @Html.DisplayFor(modelItem => item.ShippingfeeRule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shippingfee)
        </td>

        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.Id }) 
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @if (ViewBag.Users != "供應商")
                    {
                       <span>|</span> @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                    }
            @Html.Hidden("ID", item.Id)
        </td>
    </tr>
}
</tbody>
</table>

@using (Html.BeginForm("Sort", null))
{   
    if (ViewBag.Users != "供應商")
     {
         <div>
             <input type="hidden" id="sortData" name="sortData"/>
             <input type="submit" value="更新排序"/>
         </div>
     }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
   
<script>
    $(document).ready(function () {
        $("tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find("#ID").val() + ":" + (i + 1) + ",";
                }
                $("#sortData").val(map);
            }
        });
    });
</script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}


