﻿@model List<Fun2twAdmin.Models.Prize>

@{
    ViewBag.Title = "Prize";
    Layout = null;
}

<style>

    body {
        font-family: Microsoft JhengHei,arial,sans-serif;
        background: url(../images/Prize.jpg) no-repeat right bottom;
        background: #67d1df;
        background-attachment: fixed;
    }
    h1 {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 40px;
        margin: 0;
        color: #ff8651;
        color: #008eaa;
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
    }
    .main_block {
        padding: 20px;
        width: 800px;
        margin: 120px auto 0 auto;
        border-radius: 20px; 
        /*background: rgba(255,227,213,.9);*/
        background: rgba(255,255,255,.9);
    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 20px;
        margin: 0 auto;
    }
    th {
        padding: 20px 0;
        background: rgb(11, 176, 208);
        text-align: center;
        color: white;
    }
    td {
        padding: 20px 0;
        border-bottom: 1px solid gray;
    }
   
    .tac {
        text-align: center;
    }
    input[type=submit] {
        font-size: 20px;
        border: 0;
        background: gray;
        color: white;
        padding: 10px;
    }
    input[type="file" i] {
        font-size: 20px;
        padding: 10px;
        border-radius: 0;

    }
    .center {
        font-size: 20px;
        text-align: center;
        padding: 40px 0;
    }
</style>

<h1>抽獎獎項</h1>
<div class="main_block">

    @using (Html.BeginForm("Result", "Prize"))
    {
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script>
    $('form').submit(function () {

    // Get the Login Name value and trim it
        var name = $.trim($('#selectfile').val());

    // Check if empty of not
    if (name === '') {
        alert('請選擇檔案');
        return false;
    }
});
</script>
        <div class="center">
            <Input Type="File" Name="selectfile" id="selectfile"/>
            <Input Type="Hidden" Name="list" value="1"/>
            <input type="submit" value="抽獎"/>
        </div>
        <table>
            <tr>
                <th>
                    獎品
                </th>
                <th>
                    數量
                </th>
                <th>
                    得獎者
                </th>
                <th>
                    電話
                </th>
            </tr>

            @{
                //string first = "" , last = "", center = "";
                //var addressList = (List<string>)ViewBag.Address;


                foreach (var item in Model.OrderBy(x => x.Id))
                {
                    <tr>
                        @*<div>@item.Id</div>*@
                        <td>@item.PrizeName</td>
                        <td class="tac">1</td>
                        <td class="tac"></td>
                        <td></td>
                    </tr>
                }
            }

        </table>
    }
    </div>
