﻿@model System.Collections.Generic.List<Fun2twAdmin.Models.Prize>

@{
    ViewBag.Title = "title";
    Layout = null;
}
<link rel="stylesheet" href="/css/animate.css">
<style>

    body {
        font-family: Microsoft JhengHei,arial,sans-serif;
        background: url(../images/Prize.jpg) no-repeat right bottom;
        background: #67d1df;
        background-attachment: fixed;
        padding: 0;
        margin: 0;
    }
    h1 {
        width: 100%;
        position: absolute;
        z-index: 2;
        top: 40px;
        margin: 0;
        color: #ff8651;
        color: #008eaa;
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
    }
    .main_block {
        display: none;
        padding: 30px;
        width: 800px;
        margin: 120px auto 0 auto;
        border-radius: 20px; 
        /*background: rgba(255,227,213,.9);*/
        background: rgba(255,255,255,.9);
    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 20px;
        margin: 0 auto;
    }
    th {
        padding: 20px 0;
        background: rgb(11, 176, 208);
        text-align: center;
        color: white;
    }
    td {
        padding: 20px 0;
        border-bottom: 1px solid gray;
    }
    
    .tac {
        text-align: center;
    }
    input[type=submit] {
        font-size: 20px;
        border: 0;
        background: gray;
        color: white;
        padding: 10px;
    }
    input[type="file" i] {
        font-size: 20px;
        padding: 10px;
        border-radius: 0;

    }
    .center {
        font-size: 20px;
        text-align: center;
        padding: 40px 0;
    }
    .loading {
        width: 100%;
        height: 100%;
        position: fixed;
        text-align: center;
        padding-top: 20%;
        z-index: 5;
        background: #67d1df;

    }
    .name {
        letter-spacing: 5px;
        font-size: 30px;
        color: #008097;
    }
    .block {
        display: block;
    }
    .loading_text {
        color: #008097;
        font-size: 50px!important;
        float: left;
    }
    .clear {
        clear: both;
    }
    #text1 {
        animation-delay: 0s;
    }
    #text2 {
        animation-delay: .4s;
    }
    #text3 {
        animation-delay: .7s;
    }
    
</style>
<div class="loading">
    <img class="bounce animated infinite" src="/images/logo_loading.png" alt="">
    <div class="name">Fun 2 TW</div>
    <div style="width: 180px; margin: 0 auto;letter-spacing: 5px;padding: 40px 0;">
        <div id="text1" class="loading_text bounce animated infinite">開</div>
        <div id="text2" class="loading_text bounce animated infinite">獎</div>
        <div id="text3" class="loading_text bounce animated infinite">中</div>
        <div class="clear"></div>
    </div>
</div>
<h1>獲獎名單</h1>
<div class="main_block">
  @using (Html.BeginForm("GetFile", "Prize"))
    {
      
        <script src="~/Scripts/jquery-1.9.1.js"></script>
      if (Model.Count > 0)
       {
<div class="center">

                <input type="submit" name="export" value="匯出" />
   </div>

       }
      
        <table>
            <tr>
                <th>
                    獎品
                </th>
                <th>
                    數量
                </th>
                <th>
                    得獎者
                </th>
                <th>
                    電話
                </th>
            </tr>

            @{
        //string first = "" , last = "", center = "";
                //var addressList = (List<string>)ViewBag.Address;


                foreach (var item in Model.OrderBy(x => x.Id))
                {
                    <tr>
                        @*<div>@item.Id</div>*@
                        <td>@item.PrizeName</td>
                        <td class="tac">1</td>
                        <td class="tac">@item.PublicName</td>
                        <td class="tac">@item.PublicPhone</td>
                    </tr>
                }
            }

        </table>
    }
</div>
<script type="text/javascript">
    $(document).ready(function() {
        function closeAnime () {
            $('.loading').slideUp();
        }
        function showPrize () {
            $('.main_block').addClass('block');
        }

        setTimeout(closeAnime,10000);
        setTimeout(showPrize,10000);

        
    });
</script>