﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelDayView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
</head>
<body>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelProduct", new { id = ViewBag.ProductId, type = "3" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script>
  

    <script src="/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="/Scripts/multidatespicker-zh-TW .js"></script>

    <link href="/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
<link href="@Url.Content("~/Content/MultiDatesPicker v1/css/pepper-ginder-custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
<style>
    .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none;
    color: white;
}
</style>
    <script>
        $(document).ready(function () {
            var today = new Date();
            //today.setMonth(today.getMonth()- 1);
            var y = today.getFullYear();
            
            $('#full-year').multiDatesPicker({
                @Html.Raw(ViewBag.SelectDate)
                numberOfMonths: [2, 3],
                defaultDate: (today.getMonth()) +'/1/' + y
            });
            $('.sub').on('mouseover', function () {
                
                var str = $('#full-year').multiDatesPicker('getDates') + "";
                $('#fullYear').val(str);
            });

         
        });
    </script>
  
    @using (Html.BeginForm())
    {
    
        @Html.AntiForgeryToken()

        @ViewBag.Message
        <fieldset>
            <legend>團體旅遊售價&出遊日</legend>
            <h2>團體旅遊售價&出遊日</h2>
            <div style="float: left;padding-left: 20px">
                 <div class="editor-label">
                   請選擇日期:

                </div>
                <div id="full-year" class="box"></div>
            </div>
             <div style="display: none">
                <div class="editor-label">
                    @Html.LabelFor(model => model.SinglePrice)
                    
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("SinglePrice"),@Value="0" })
                  


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.DoublePrice)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.DoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("DoublePrice"),@Value="0" })
                    @Html.ValidationMessageFor(model => model.DoublePrice)


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.WithoutBedPrice)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.WithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("WithoutBedPrice"),@Value="0" })
                   


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.BabyPric)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.BabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("BabyPric"),@Value="0" })
                  

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OneDayAdult)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("OneDayAdult"),@Value="0" })
                    @Html.ValidationMessageFor(model => model.OneDayAdult)


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OneDayChild)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("OneDayChild"),@Value="0" })
                   


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.OneDayBaby)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("OneDayBaby"),@Value="0" })
                  

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Seat)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Seat, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("Seat"),@Value="0" })
                    @Html.ValidationMessageFor(model => model.Seat)


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SoldSeat)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SoldSeat, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("SoldSeat"),@Value="0" })
                    @Html.ValidationMessageFor(model => model.SoldSeat)


                </div>



                <div class="editor-label">
                    @Html.LabelFor(model => model.Memo)

                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelDayView>.GetDisplayName("Memo") })
                   

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.IsOnSale)

                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IsOnSale, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)),BooleanType.否))
                    @Html.ValidationMessageFor(model => model.IsOnSale)


                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Status)

                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelDayStatus))))
                    @Html.ValidationMessageFor(model => model.Status)
                  

                </div>
            </div>

            <input type="hidden" id="fullYear" name="ActityDates" value=" "/>
            
            <div style="clear: both"></div>
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId"/>
            <p>
                <input type="submit" class="sub" value="新增"/>

            </p>
        </fieldset>
    }
    

</body>
</html>
