﻿
@model Fun2twModels.Models.TravelDay

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>內容</title>
</head>
<body>
    <fieldset>
        <legend>TravelDay內容</legend>
    	<table>
    	<tr>
    	<td colspan="7">
    	 TravelDay
    	</td>
    
    	</tr>
    	<tr>
        <td>
             欄位中文名稱
        </td>
        <td>
          欄位名稱
        </td>
    	 <td>
           是否主索引
        </td>
    	<td>
    	是否唯讀
    	</td>
    	<td>
    	 是否外索引
    	</td>
    	<td>
    	型別
    	</td>
    </tr>
    
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.TravelProduct.Subject)
        </td>
        <td>
           ProductId
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 True
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.SinglePrice)
        </td>
        <td>
           SinglePrice
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.DoublePrice)
        </td>
        <td>
           DoublePrice
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.WithoutBedPrice)
        </td>
        <td>
           WithoutBedPrice
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.BabyPric)
        </td>
        <td>
           BabyPric
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.OneDayAdult)
        </td>
        <td>
           OneDayAdult
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.OneDayChild)
        </td>
        <td>
           OneDayChild
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.OneDayBaby)
        </td>
        <td>
           OneDayBaby
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Seat)
        </td>
        <td>
           Seat
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.SoldSeat)
        </td>
        <td>
           SoldSeat
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.ActityDate)
        </td>
        <td>
           ActityDate
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 DateTime
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Memo)
        </td>
        <td>
           Memo
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Poster)
        </td>
        <td>
           Poster
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.InitDate)
        </td>
        <td>
           InitDate
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 DateTime
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Updater)
        </td>
        <td>
           Updater
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.UpdateDate)
        </td>
        <td>
           UpdateDate
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 DateTime
    	</td>
    	
    </tr>
    </table>
    </fieldset>
    <p>
        @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
         <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
</body>
</html>
