﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelDay

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>編輯</title>
</head>
<body>
  <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelProduct", new { id = ViewBag.ProductId, type = "3" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script>
  

    <script src="/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="/Scripts/multidatespicker-zh-TW .js"></script>

    <link href="/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
<link href="@Url.Content("~/Content/MultiDatesPicker v1/css/pepper-ginder-custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
<style>
    .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none;
    color: white;
}
</style>
  
    
        @using (Html.BeginForm()) {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>團體旅遊售價&出遊日</legend>
            <h2>團體旅遊售價&出遊日</h2>
            
            <div style=" padding-left: 20px">
            
           
            @Html.HiddenFor(model => model.Id)
     @Html.HiddenFor(model => model.ProductId)
           
     <div class="editor-label">
                @Html.LabelFor(model => model.ActityDate)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.ActityDate)
              
               
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.SinglePrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SinglePrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("SinglePrice") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DoublePrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DoublePrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("DoublePrice") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.WithoutBedPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WithoutBedPrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("WithoutBedPrice") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.BabyPric)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BabyPric,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("BabyPric") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayAdult)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayAdult,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("OneDayAdult") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayChild)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayChild,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("OneDayChild") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayBaby)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayBaby,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("OneDayBaby") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Seat)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Seat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("Seat") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.SoldSeat)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SoldSeat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("SoldSeat") })
               
            </div>
    
           
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Memo)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDay>.GetDisplayName("Memo") })
                @Html.ValidationMessageFor(model => model.Memo)
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IsOnSale)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.IsOnSale, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
                @Html.ValidationMessageFor(model => model.IsOnSale)
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Status)
            </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.TravelDayStatus))))
                    @Html.ValidationMessageFor(model => model.Status)

                </div>
                 <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
                @Html.HiddenFor(model => model.ActityDate)
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.UpdateDate)
            <p>
                <input type="submit" value="更新" /> 
            </p>  </div>
        </fieldset>
    }
    
</body>
</html>
