﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.DigitalSignage

@{
    ViewBag.Title = "數位看板編輯";
}

<h2>數位看板編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DigitalSignage</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.DigitalSignage>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)
        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
            @Html.HiddenFor(model => model.UpImageUrl)
            @if (!string.IsNullOrEmpty(Model.UpImageUrl))
            {
                <img src="~/upfiles/images/S@(Model.UpImageUrl)" />
            }
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Status)
           
        </div>

            @Html.HiddenFor(model => model.ListNum)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
