﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopVideo

@{
    ViewBag.Title = "店家影音介紹新增";
}

<h2>店家影音介紹新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ShopVideo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopVideo>.GetDisplayName("Subject")})
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TownId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("TownId","不分區")
            @Html.ValidationMessageFor(model => model.TownId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopVideo>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
       
            
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.ThumbnailUrl)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ThumbnailUrl, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopVideo>.GetDisplayName("ThumbnailUrl")})
            @Html.ValidationMessageFor(model => model.ThumbnailUrl)

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl) (若無縮圖網址，請上傳縮圖圖片)

        </div>
        <div class="editor-field">
            <input type="file" name="upImageUrls"/>


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeUrl)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopVideo>.GetDisplayName("YoutubeUrl") })
            @Html.ValidationMessageFor(model => model.YoutubeUrl)
       
            
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.ListNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ListNum)
            @Html.ValidationMessageFor(model => model.ListNum)
       
            
        </div>
        <input name="Views" value="0" type="hidden"/>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
