﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlanCatalog

@{
    ViewBag.Title = "景點類別管理編輯";
}

<h2>景點類別管理編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravelPlanCatalog</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Type,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlanCatalog>.GetDisplayName("Type") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlanCatalog>.GetDisplayName("Subject") })
           
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
