﻿@model Fun2twModels.Models.ThemePlan

@{
    ViewBag.Title = "主題式旅遊行程管理刪除";
}

<h2>主題式旅遊行程管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ThemePlan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Memo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Memo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Article)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
