body {
  /*width: 350px!important;
  height: 142px!important;
  min-height: 142px!important;*/

  width: auto!important;
  height: auto!important;
  min-height: auto!important;

}
.navbar,#sidebar,.print{
  display: none
}
#content{
  width: 350px;
  float: left;
}
.boxPrint{
  text-align: left;
  float: left;
}
#content p{
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 2px;
}
#content img{
  margin-bottom: 5px;
  float: left;
  margin-right: 3px;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 15px;
}
#content h2{
  display: none
}
#topbar{
  display: none
}
.sidebar-max #content{
  position: relative;
  top: 0;
  left: 0;
  padding: 0 !important;
}
#content{
  padding: 0;
}
.cen{
  text-align: center;
}
.boxPrint{
  margin-top: 10px;
  float: right;
  width: 240px;
}