/* === UTILS ==={ */
/* }=== UTILS === */
/* === COLOR - AZURE ==={ */
/* }=== COLOR - AZURE === */
/* === MADMIN MENU ==={ */
/* general setup & list styles reset */
.sidebar-menu li > a,
.sidebar-menu li > div > a {
  position: relative;
}
.sidebar-menu,
.sidebar-menu ul,
.sidebar-menu li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu > li,
.sidebar-menu > li > div {
  width: 180px;
}
.sidebar-menu li > a {
  white-space: nowrap;
}
.sidebar-menu li > div > a > [class^="icon-"] + span {
  position: relative;
  top: -4px;
}
.sidebar-menu li > div > a > span {
  display: block;
  text-align: center;
  position: relative;
  top: -3px;
  font-size: 15px;
  padding: 15px;
}
/* drop sub-menu mix-in */
/* main menu styles */
.sidebar-menu {
  /* level 0 */

  /* levels 1+ */

  /* arrows */

}
.sidebar-menu > li > div {
  position: relative;

}
.sidebar-menu > li > div > a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    text-shadow: none;
}



.sidebar-menu > li > div > a > [class^="icon-"] {
  margin-right: 10px;
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
}
.sidebar-menu > li > div > a > [class^="icon-icomoon-"] {
  position: relative;
  top: 2px;
  font-size: 26px;
  line-height: 26px;
}


.sidebar-menu > li.active > div > a {
  /* background: #cfcfcf; */
  /* color: #20202f; */
}

.sidebar-menu ul {
  display: none;
}
.sidebar-menu ul > li > a {
  display: block;
  padding: 10px;
}
.sidebar-menu > li.parent li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #ffffff;
  margin-left: 8px;
}
/* drop-right */
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul,
.sidebar-menu > li.parent.inactive.open > div > ul {
  display: block;
  position: absolute;
  top: 0 !important;
  left: 100% !important;
  background: #67d1df;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li > div > a {
  color: #ffffff;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li:hover > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #fcfca0;
}
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > a:hover,
.sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover,
.sidebar-menu > li.parent.inactive.open > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-menu > li.parent > div > ul li.open > ul,
.sidebar-menu > li.parent > div > ul li:hover > ul {
  display: block;
  position: absolute;
  top: -10px !important;
  left: 100% !important;
  padding: 10px 0;
  background: #6bbef6;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li:hover > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > a:hover,
.sidebar-menu > li.parent > div > ul li.open > ul > li.active > div > a:hover,
.sidebar-menu > li.parent > div > ul li:hover > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
/* maximized sidebar - active's item submenu */
.sidebar-max .sidebar-menu {
  /* level 1+ arrows */

}
.sidebar-max .sidebar-menu > li.active,
.sidebar-max .sidebar-menu > li.active > div {

}
.sidebar-max .sidebar-menu .active > div > ul {
  display: none;
  padding-bottom: 10px;
  background: #D2DAFF;
}
.sidebar-max .sidebar-menu .active > div > ul > li > a {
  /* margin-left: 72px; */
  color: #61b0e9;
  border-color: #61b0e9;
}

.sidebar-max .sidebar-menu .active > div > ul > li.active > a {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #61b0e9;
  top: 0px;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active > div > ul > li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #ffffff #ffffff #20202f;
  top: 0;
  margin-left: 8px;
}
.sidebar-max .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #20202f;
  margin-left: 8px;
}
/* minimized sidebar */
.sidebar-min .sidebar-menu {
  /* levels 1+ arrows */

}
.sidebar-min .sidebar-menu > li {
  width: 60px;
  overflow: hidden;
}
.sidebar-min .sidebar-menu > li.active {
  width: 61px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #ffffff;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent.active li.parent.active > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #6bbef6 #6bbef6 #6bbef6 #20202f;
  margin-left: 8px;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul {
  display: block;
  position: absolute;
  top: 50px !important;
  left: 60px !important;
  padding: 10px 0;
  background: #6bbef6;
  min-width: 160px;
  padding-top: 0 !important;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li > div > a {
  padding: 5px 16px;
  height: 20px;
  color: #ffffff;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li:hover > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li:hover > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover {
  padding-left: 8px !important;
  border-left: 8px solid #aedcfb;
}
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > a:hover,
.sidebar-min .sidebar-menu > li.parent > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu > li.parent.active > div.sidebar-menu-item-wrapper > ul > li.active > div > a:hover,
.sidebar-min .sidebar-menu.on-hover > li.parent.inactive:hover > div > ul > li.active > div > a:hover {
  color: #20202f;
  border-color: #20202f;
}
.sidebar-min .sidebar-menu.on-hover > li:hover,
.sidebar-min .sidebar-menu > li.open {
  overflow: visible;
}
.sidebar-min .sidebar-menu.on-hover > li:hover > div > a,
.sidebar-min .sidebar-menu > li.open > div > a {
  background: #6bbef6;
}
.sidebar-min .sidebar-menu.on-hover > li.parent.active:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.active.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #20202f #6bbef6 #6bbef6 #6bbef6;
  position: relative;
  top: 1px;
}
.sidebar-min .sidebar-menu.on-hover > li.parent:hover > div > a > span:before,
.sidebar-min .sidebar-menu > li.parent.open > div > a > span:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #6bbef6 #6bbef6 #6bbef6;
  position: relative;
  top: 1px;
}
/* }=== MADMIN MENU === */
/* === LAYOUT ==={ */
body {
  padding: 30px 0 40px 0;
  min-height: 600px;
}
body.help-page {
  padding: 0;
}
#topbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 0 3px;
  border: 0;
  margin: 0;
  text-align: center;
  z-index: 5000;
}
#topbar > li {
  display: inline-block;
  position: relative;
}
#sidebar {
  position: absolute;
  width: 180px;
  padding: 140px 0 50px 0;
  z-index: 1;
  top: 0px;
  left: 0;
  background: #10b6d1;
}
#sidebar.fixed {
  position: fixed !important;
  padding-top: 160px;
  left: 0;
  bottom: 0;
  top: 0;
}
#content {
  padding-left: 200px;
  padding-top: 100px;
}
.sidebar-min #sidebar {
  width: 61px;
}
.sidebar-min #content {
  left: 80px;
}
.sidebar-max #content {

}
#container {
  padding: 0;
  position: relative;
}
.page.hidden {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.panel {
  margin: 0 auto 20px auto;
}
.panel header {
  padding: 0 10px;
  height: 30px;
}
.panel header i {
  position: relative;
  top: 6px;
  margin-right: 5px;
  font-size: 17px;
  line-height: 17px;
}
.panel header i[class^="icon-icomoon-"] {
  font-size: 14px;
  line-height: 14px;
}
.panel header span {
  position: relative;
  top: 5px;
}
.panel .content {
  padding: 10px;
}
#panel-login {
  width: 345px;
  margin-top: 20px;
}
#panel-login .content {
  padding: 30px;
}
/* }=== LAYOUT === */
/* === LOOKS ==={ */
body.help-page {
  background-color: #FDFCE4;
}
/* squarify */
code,
pre,
.modal,
table,
.table,
.table-bordered,
.well,
.label,
.hero-unit,
.navbar-inner,
.btn-group > .btn:last-child,
button,
select,
textarea,
input,
.input-append .add-on:last-child,
.input-append .btn:last-child,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child,
.btn-group > .btn:first-child,
.dropdown-menu,
.nav-pills .dropdown-menu,
.nav-tabs .dropdown-menu,
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:last-child > a,
.tabs-below > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a,
.pager li > a,
.pager li > span,
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  border-left: 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  filter: none;
}
ul {
  list-style: square;
}
/* Top Bar */
#topbar {
  background: #3a4450;
  color: #ffffff;
}
#topbar h1 {
  position: relative;
  height: 30px;
  margin: 0;
  top: -8px;
  font-size: 14px;
  font-weight: normal;
}
#topbar h1 [class^="icon-"] {
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #6ac8fb;
}
#topbar h1 [class^="icon-icomoon-"] {
  top: 4px;
}
#topbar h1 a {
  position: relative;
  top: 3px;
  color: #ffffff;
}
#topbar h1 a:hover {
  text-decoration: none;
}
#topbar > li > a {
  display: inline-block;
  padding: 5px 10px 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  height: 24px;
  line-height: 21px;
}
#topbar > li > a:hover {
  text-decoration: none;
  background: #4b5867;
}
#topbar > li.pull-right > a {
  margin-left: 10px;
}
#topbar > li.parent > a > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #3a4450 #3a4450 #3a4450;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar > li.parent > a:hover > span:after {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff #4b5867 #4b5867 #4b5867;
  position: relative;
  top: 1px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}
#topbar .dropdown-menu {
  top: 98%;
  right: 0;
  margin: 0;
  padding: 0 0 0 0;
  background: #3a4450;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
#topbar .dropdown-menu * {
  color: #ffffff;
}
#topbar .dropdown-menu > li > a {
  height: 24px;
}
#topbar .dropdown-menu > li > a:hover {
  background: #4b5867;
}
#topbar .dropdown-menu > li.divider {
  background: none;
  border-bottom-color: #4b5867;
}
/* Bootstrap drop-downs behavior enhancement */
ul.on-hover > li.parent:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #f7f7fd;
  box-shadow: none;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  background: #61b0e9;
}
/* Sidebar Resizer */
#sidebar-resizer {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: 32px;
  color: #20202f;
}
#sidebar-resizer:hover {
  text-decoration: none;
}
#sidebar-resizer i.max {
  display: none;
}
.sidebar-min #sidebar-resizer {
  width: 40px;
}
.sidebar-min #sidebar-resizer i.max {
  display: inline-block;
}
.sidebar-min #sidebar-resizer i.min {
  display: none;
}
/* Sidebar Mini-Search */
.search-mini-wrapper {
  width: 220px;
  height: 50px;
  background: #61b0e9;
  overflow: hidden;
}
.search-mini-wrapper ::-webkit-input-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-moz-placeholder {
  color: #8090a0;
}
.search-mini-wrapper :-ms-input-placeholder {
  color: #8090a0;
}
.sidebar-min .search-mini-wrapper {
  width: 60px;
}
.sidebar-min .search-mini-wrapper:hover {
  width: 220px;
}
.sidebar-min .search-mini-wrapper:hover input {
  width: 192px;
}
.sidebar-min .search-mini-wrapper:hover button {
  left: 174px;
}
.search-mini {
  position: relative;
  margin: 10px 0 10px 0;
}
.search-mini input {
  border: 0;
  margin: 0 8px;
  width: 192px;
  height: 22px;
  background: #3a4450;
  color: #ffffff;
}
.search-mini button {
  position: absolute;
  width: 36px;
  height: 30px;
  padding: 0;
  border: 0;
  margin: 0;
  background: #3a4450;
  color: #ffffff;
  top: 0;
  right: 10px;
  font-size: 18px;
}
.sidebar-min .search-mini input {
  width: 32px;
}
.sidebar-min .search-mini button {
  right: 22.5%;
}
/* Panels */
.panel header,
.accordion-heading {
  background: #3a4450;
}
.panel header *,
.accordion-heading *,
.panel header a:hover,
.accordion-heading a:hover {
  color: #ffffff;
  text-decoration: none;
}
.panel .content {
  background: #f7f7fd;
  color: #3a4450;
  border: 1px solid #f0f0fb;
}
.hero-unit,
.form-actions {
  background: #f7f7fd;
}
/* Hero Special */
.hero-special {
  background: #f7f7fd url(../img/bg-hero-special.jpg) center center no-repeat;
}
/* Table of Key Numbers */
.table-key-numbers {
  width: 100%;
  text-align: center;
}
.table-key-numbers td {
  font-family: Candara, 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.6em;
  color: #20202f;
}
.table-key-numbers th {
  color: #666;
  font-weight: normal;
  color: #8b9198;
}
/* Demo Charts */
#stats-area-chart,
#dashboard-dynamic-chart,
#stats-pie-chart {
  margin: 10px;
  width: 95%;
  height: 200px;
}
#stats-pie-chart {
  margin: 10px auto 10px auto;
  width: 400px;
  overflow: hidden;
}
/* Sidebar */
#sidebar {
}
/* Tablesorter Plugin */
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
  background-color: #aedcfb;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
  background-color: #61b0e9;
}
table.tablesorter {
  background-color: #f7f7fd;
}
/* Accordions */
.accordion-group,
.accordion-inner {
  border: 0;
}
/* }=== LOOKS === */
/* === TYPO ==={ */
body,
p,
input,
button,
select,
textarea,
.navbar-search .search-query {
  font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.sidebar-menu a:hover {
  text-decoration: none;
  background: #67d1df;
}
.sidebar-menu > li > div > a {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
}
.sidebar-menu > li i:before {
  display: block;
  padding-top: 5px;
}
.sidebar-menu > li > div > a > i{
     font-size: 28px;
    display: block;
    text-align: center;
    border: white 1px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
.sidebar-menu  li li i{
  font-size:20px;

}
.hero-unit h1 {
  margin-bottom: 0.15em;
}
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: 'Segoe UI Light', 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
/* }=== TYPO === */
/* === FORMS ==={ */
/* }=== FORMS === */
/* === BUTTONS ==={ */
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  filter: none;
  text-shadow: none;
  background: #dce0f1;
  border-color: #c1c1e3;
}
.btn:hover {

}
.btn.disabled,
.btn[disabled] {
  background: #e6e6e6;
}
.btn.disabled:hover,
.btn[disabled]:hover {
  background: #e6e6e6;
  border-color: #C1C1E3;
}
.btn.btn-primary {
  color: #18a9bd !important;
  background: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-color: #18a9bd;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 3px;
  text-decoration: none !important;
  padding-top:7px;
  padding-bottom:7px;
}
.btn.btn-primary:hover {
}
.btn.btn-primary.btn-large {
  font-size: 16px;
}
.btn.btn-primary.btn-small {
  font-size: 12px;
}
.btn.btn-primary.btn-mini {
  font-size: 10px;
}
.btn-primary.disabled,
.btn-primary[disabled] {
  background: #75afda;
  border-color: #75afda;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover {
  background: #75afda;
  border-color: #75afda;
}
.btn-info {
  background: #d3b6ff;
  border-color: #bea7d6;
  color: #333;
}
.btn-info:hover {
  border-color: #dec5ff;
  background: #dec5ff;
  color: #333;
}
.btn-success {
  background: #5BB75B;
  border-color: #55a255;
}
.btn-success:hover {
  border-color: #69ce69;
  background: #69ce69;
}
.btn-warning {
  background: #FAA732;
  border-color: #e99723;
}
.btn-warning:hover {
  border-color: #ffb54c;
  background: #ffb54c;
}
.btn-danger {
  background: #DA4F49;
  border-color: #af403b;
  color: #fff;
}
.btn-danger:hover {
  border-color: #fa6c51;
  background: #fa6c51;
  color: #fff;
}
.btn-inverse {
  background: #3a4450;
  border-color: #556981;
  color: #eeeeee;
}
.btn-inverse:hover {
  border-color: #556981;
  background: #556981;
  color: #eeeeee;
}
.btn-link,
.btn-link:hover {
  background: transparent;
  border: 0;
}
/* Bootstrap-style buttons if you don't like the MADMIN ones */
.btn.btn-info-bs {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn.btn-info-bs:hover,
.btn.btn-info-bs:active,
.btn.btn-info-bs.active,
.btn.btn-info-bs.disabled,
.btn.btn-info-bs[disabled] {
  color: #ffffff;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn.btn-info-bs:active,
.btn.btn-info-bs.active {
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #24748c \9;
}
.btn.btn-primary-bs {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn.btn-primary-bs:hover,
.btn.btn-primary-bs:active,
.btn.btn-primary-bs.active,
.btn.btn-primary-bs.disabled,
.btn.btn-primary-bs[disabled] {
  color: #ffffff;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn.btn-primary-bs:active,
.btn.btn-primary-bs.active {
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #003399 \9;
}
/* Tile buttons */
.tile-btn {
  display: inline-block;
  width: 105px;
  height: 85px;
  margin: 5px;
  background: #61b0e9;
  color: #ffffff;
  text-align: center;
}
.tile-btn:hover {
  text-decoration: none;
  background: #6bbef6;
  color: #ffffff;
}
.tile-btn i {
  display: block;
  font-size: 32px;
  line-height: 32px;
  margin-top: 14px;
}
.tile-btn i[class^="icon-icomoon-"] {
  font-size: 28px;
  line-height: 28px;
  line-height: 31px\9;
}
.tile-btn span {
  display: block;
  margin-top: 10px;
}
.tiles-container {
  text-align: center;
}
/* }=== BUTTONS === */
/* === FIXES ==={ */
[class^="icon-"] {
  text-transform: none !important;
}
#pageslide {
  top: 30px;
  height: 94.5%;
  padding: 10px;
  border-left: 1px solid #a3a18c;
}
.login-checkbox {
  position: relative;
  top: -3px;
}
    .display-label {
        padding-top: 20px;
    }

td img {
  width: 200px;
  max-width: 200px;
}
.table th, .table td {
  vertical-align: middle;

}

@media (max-width: 1400px) {
  table.table {
    width: 1150px!important;
  }

}
/* }=== FIXES === */
td.ui-datepicker-unselectable.ui-state-disabled {
  opacity: 0;
}