﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelDisableDateView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
</head>
<body>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelProduct", new { id = ViewBag.ProductId, type = "4" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script>
  

    <script src="/Scripts/jquery-ui-1.10.0.js"></script>
    <script src="/Scripts/multidatespicker-zh-TW .js"></script>

    <link href="/Content/themes/base/jquery.ui.core.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-ui.multidatespicker.js"></script>
<link href="@Url.Content("~/Content/MultiDatesPicker v1/css/pepper-ginder-custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
<style>
    .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #743620 none;
    color: white;
}
</style>
    <script>
        $(document).ready(function () {
            var today = new Date();
            //today.setMonth(today.getMonth() - 1);
            var y = today.getFullYear();

            $('#full-year').multiDatesPicker({
                @Html.Raw(ViewBag.SelectDate)
                numberOfMonths: [2, 3],
                defaultDate: (today.getMonth()) + '/1/' + y
            });
            $('.sub').on('mouseover', function () {

                var str = $('#full-year').multiDatesPicker('getDates') + "";
                $('#fullYear').val(str);
            });


        });
    </script>
  
    @using (Html.BeginForm())
    {
    
        @Html.AntiForgeryToken()

        @ViewBag.Message
        <fieldset>
            <legend>團體旅遊售價&出遊日</legend>
            <h2>團體旅遊售價&出遊日</h2>
            <div style="float: left;padding-left: 20px">
                 <div class="editor-label">
                   請選擇日期:

                </div>
                <div id="full-year" class="box"></div>
            </div>
             
             <input type="hidden" name="Subject" value="不販賣日期"/>
            <input type="hidden" id="fullYear" name="DisableDate" value=" "/>
            
            <div style="clear: both"></div>
            <input type="hidden" name="ProductId" value="@ViewBag.ProductId"/>
            <p>
                <input type="submit" class="sub" value="新增"/>

            </p>
        </fieldset>
    }
    

</body>
</html>
