﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelDisableDate

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>編輯</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
        @using (Html.BeginForm()) {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>TravelDisableDate</legend>
    
            @Html.HiddenFor(model => model.Id)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelDisableDate>.GetDisplayName("Subject") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ProductId)
            </div>
            <div class="editor-field">
                @Html.DropDownList("ProductId")
                @Html.ValidationMessageFor(model => model.ProductId)
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DisableDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DisableDate,"{0:d}",new {@class="datepicker",target="" })
                @Html.ValidationMessageFor(model => model.DisableDate)
               
            </div>
    
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.InitDate)
                @Html.HiddenFor(model => model.UpdateDate)
            <p>
                <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
            </p>
        </fieldset>
    }
    
</body>
</html>
