﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelDisableDate>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>列表</title>
</head>
<body>
    <p>
        @Html.ActionLink("新增", "Create")
    </p>
    
        @using (Html.BeginForm())
    {
    <div>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                         @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId):@Html.DropDownList("SearchByProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, "請選擇") 
            	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
        </div>
     <div>
            <input type="submit" value="搜尋" />
        </div>
    
        
    }
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TravelProduct.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().DisableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
            </th>
            <th></th>
        </tr>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelProduct.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisableDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updater)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
                @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                @Html.ActionLink("刪除", "Delete", new { id=item.Id })
                @Html.Hidden("ID",item.Id)
            </td>
        </tr>
    }
    </tbody>
    </table>
    
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
   
        @Scripts.Render("~/bundles/jqueryval")
    
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        <script>
            $(document).ready(function() {
                $(".datepicker").datepicker();
    
            });
        </script>
   
    
</body>
</html>
