﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct

@{
    ViewBag.Title = "行程套票管理新增";
}

<h2>行程套票管理新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId")
            @Html.ValidationMessageFor(model => model.CityId)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThemeId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("ThemeId")
            @Html.ValidationMessageFor(model => model.ThemeId)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TravelStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TravelStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelStatus))))
            @Html.ValidationMessageFor(model => model.TravelStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Subject") })
        @Html.ValidationMessageFor(model => model.Subject)
    </div>



    <div class="editor-label">
            @Html.LabelFor(model => model.EnSubject)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EnSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EnSubject") })
        @Html.ValidationMessageFor(model => model.EnSubject)
    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpSubject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JpSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("JpSubject") })
            @Html.ValidationMessageFor(model => model.JpSubject)
        </div>

    <div class="editor-label">
           圖片

        </div>
        <div class="editor-field">
            <input type="file" name="upImageUrls" />


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.FeatureArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.FeatureArticle)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.EnFeatureArticle)
        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.EnFeatureArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.EnFeatureArticle)
    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpFeatureArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpFeatureArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpFeatureArticle)
        </div>

      <div class="editor-label">
            @Html.LabelFor(model => model.CastArticle)
        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CastArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.CastArticle)
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnCastArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnCastArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.EnCastArticle)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpCastArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpCastArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpCastArticle)
        </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.NoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.NoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.NoteArticle)
    </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.EnNoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.EnNoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.EnNoteArticle)
    </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.JpNoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.JpNoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.JpNoteArticle)
    </div>

    <div class="editor-label">
            @Html.LabelFor(model => model.TravelNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TravelNum, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("TravelNum") })
            @Html.ValidationMessageFor(model => model.TravelNum)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDay)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.OrderDay, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OrderDay")})
        @Html.ValidationMessageFor(model => model.OrderDay)


    </div>

    <h3>訂購設定(沒填不會出現在訂購畫面)</h3>
           <div class="editor-label">
              @Html.LabelFor(model => model.TicketsPrice)<SPAN Style="color: red">(沒填，前台不會顯示)</SPAN>
             
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TicketsPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("TicketsPrice") })
            @Html.ValidationMessageFor(model => model.TicketsPrice)


        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalSinglePrice) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalSinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSinglePrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SinglePrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SinglePrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalDoublePrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalDoublePrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalDoublePrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoublePrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("DoublePrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.DoublePrice)


    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.OriginalFourPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalFourPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalFourPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FourPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("FourPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.FourPrice)


    </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.OriginalSixPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalSixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSixPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalSixPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SixPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SixPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.SixPrice)

    </div>

                  <div class="editor-label">
            @Html.LabelFor(model => model.OriginalEightPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalEightPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalEightPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EightPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EightPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.EightPrice)

    </div>


    <div class="editor-label">
            @Html.LabelFor(model => model.OriginalWithoutBedPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalWithoutBedPrice"), @Value = "0" })



        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.WithoutBedPrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("WithoutBedPrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalBabyPric)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalBabyPric"), @Value = "0" })


        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BabyPric)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("BabyPric"), @Value = "0" })


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayAdult)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayAdult"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalOneDayAdult)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayAdult)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayAdult"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OneDayAdult)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayChild)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayChild"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayChild)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayChild"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayBaby)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayBaby"), @Value = "0" })


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayBaby)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.OneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayBaby"), @Value = "0" })


    </div>






        

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalSinglePrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalSinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalSinglePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidaySinglePrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidaySinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidaySinglePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalDoublePrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalDoublePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayDoublePrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayDoublePrice"), @Value = "0"  })

                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalFourPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalFourPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidayOriginalFourPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayFourPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayFourPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidayFourPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalSixPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalSixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalSixPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidayOriginalSixPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidaySixPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidaySixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidaySixPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidaySixPrice)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalEightPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalEightPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidayOriginalEightPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayEightPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayEightPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.HolidayEightPrice)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalWithoutBedPrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalWithoutBedPrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayWithoutBedPrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayWithoutBedPrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalBabyPric) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalBabyPric"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayBabyPric)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayBabyPric"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalOneDayAdult) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalOneDayAdult"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOneDayAdult)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOneDayAdult"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalOneDayChild) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalOneDayChild"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOneDayChild)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOneDayChild"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOriginalOneDayBaby) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOriginalOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOriginalOneDayBaby"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.HolidayOneDayBaby)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.HolidayOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("HolidayOneDayBaby"), @Value = "0"  })

                    </div>















                                        <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalSinglePrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalSinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalSinglePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidaySinglePrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidaySinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidaySinglePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalDoublePrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalDoublePrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayDoublePrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayDoublePrice"), @Value = "0"  })

                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalFourPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalFourPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidayOriginalFourPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayFourPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayFourPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidayFourPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalSixPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalSixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalSixPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidayOriginalSixPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidaySixPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidaySixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidaySixPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidaySixPrice)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalEightPrice)<span style="color: red">(顯示原價，不顯示請設定為0)</span>

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalEightPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidayOriginalEightPrice)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayEightPrice)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayEightPrice"), @Value = "0"  })
                        @Html.ValidationMessageFor(model => model.SpecialHolidayEightPrice)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalWithoutBedPrice) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalWithoutBedPrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayWithoutBedPrice)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayWithoutBedPrice"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalBabyPric) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalBabyPric"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayBabyPric)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayBabyPric"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalOneDayAdult) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalOneDayAdult"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOneDayAdult)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOneDayAdult"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalOneDayChild) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalOneDayChild"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOneDayChild)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOneDayChild"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOriginalOneDayBaby) <span style="color: red">(顯示原價，不顯示請設定為0)</span>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOriginalOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOriginalOneDayBaby"), @Value = "0"  })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.SpecialHolidayOneDayBaby)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SpecialHolidayOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SpecialHolidayOneDayBaby"), @Value = "0"  })

                    </div>




    <div class="editor-label">
            @Html.LabelFor(model => model.Paytypes)

        </div>
        <div class="editor-field">
            @foreach (var item in new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType)), PayType.信用卡刷卡))
            {
                if (item.Selected)
                {
                    <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                }
                else
                {
                    <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                }

                 <label style="display: inline;padding-right: 20px" for="@item.Text">@item.Text</label>  
            }


        </div>

    <div class="editor-label">
            @Html.LabelFor(model => model.Seat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Seat, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Seat"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.Seat)


        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsUseCoupon)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsUseCoupon, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
            @Html.ValidationMessageFor(model => model.IsUseCoupon)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoticeEmail) (Email請用 ; 分開)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.NoticeEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("NoticeEmail") })


    </div>


    <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)


        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

}
