﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct

@{
    ViewBag.Title = "行程套票管理新增";
}

<h2>行程套票管理新增</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId")
            @Html.ValidationMessageFor(model => model.CityId)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThemeId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("ThemeId")
            @Html.ValidationMessageFor(model => model.ThemeId)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TravelStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TravelStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelStatus))))
            @Html.ValidationMessageFor(model => model.TravelStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Subject") })
        @Html.ValidationMessageFor(model => model.Subject)
    </div>



    <div class="editor-label">
            @Html.LabelFor(model => model.EnSubject)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EnSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EnSubject") })
        @Html.ValidationMessageFor(model => model.EnSubject)
    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpSubject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JpSubject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("JpSubject") })
            @Html.ValidationMessageFor(model => model.JpSubject)
        </div>

    <div class="editor-label">
           圖片

        </div>
        <div class="editor-field">
            <input type="file" name="upImageUrls" />


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeatureArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.FeatureArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.FeatureArticle)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.EnFeatureArticle)
        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.EnFeatureArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.EnFeatureArticle)
    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpFeatureArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpFeatureArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpFeatureArticle)
        </div>

      <div class="editor-label">
            @Html.LabelFor(model => model.CastArticle)
        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.CastArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.CastArticle)
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnCastArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.EnCastArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.EnCastArticle)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.JpCastArticle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.JpCastArticle, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.JpCastArticle)
        </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.NoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.NoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.NoteArticle)
    </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.EnNoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.EnNoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.EnNoteArticle)
    </div>

        <div class="editor-label">
        @Html.LabelFor(model => model.JpNoteArticle)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.JpNoteArticle, new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.JpNoteArticle)
    </div>

    <div class="editor-label">
            @Html.LabelFor(model => model.TravelNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TravelNum, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("TravelNum") })
            @Html.ValidationMessageFor(model => model.TravelNum)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDay)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDay, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OrderDay") })
            @Html.ValidationMessageFor(model => model.OrderDay)


        </div>
        <h3>訂購設定(沒填不會出現在訂購畫面)</h3>
        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalSinglePrice) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalSinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSinglePrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SinglePrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SinglePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SinglePrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalDoublePrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalDoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalDoublePrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalDoublePrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoublePrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.DoublePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("DoublePrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.DoublePrice)


    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.OriginalFourPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalFourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalFourPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalFourPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FourPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FourPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("FourPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.FourPrice)


    </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.OriginalSixPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalSixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSixPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalSixPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SixPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SixPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.SixPrice)

    </div>

                  <div class="editor-label">
            @Html.LabelFor(model => model.OriginalEightPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalEightPrice"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalEightPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EightPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EightPrice"), @Value = "0" })
        @Html.ValidationMessageFor(model => model.EightPrice)

    </div>


    <div class="editor-label">
            @Html.LabelFor(model => model.OriginalWithoutBedPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalWithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalWithoutBedPrice"), @Value = "0" })



        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.WithoutBedPrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WithoutBedPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("WithoutBedPrice"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalBabyPric)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalBabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalBabyPric"), @Value = "0" })


        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BabyPric)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BabyPric, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("BabyPric"), @Value = "0" })


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayAdult)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayAdult"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OriginalOneDayAdult)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayAdult)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OneDayAdult, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayAdult"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.OneDayAdult)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayChild)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayChild"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayChild)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OneDayChild, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayChild"), @Value = "0" })



        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OriginalOneDayBaby)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalOneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayBaby"), @Value = "0" })


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OneDayBaby)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.OneDayBaby, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayBaby"), @Value = "0" })


    </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Paytypes)

        </div>
        <div class="editor-field">
            @foreach (var item in new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType)), PayType.信用卡刷卡))
            {
                if (item.Selected)
                {
                    <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                }
                else
                {
                    <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                }

                 <label style="display: inline;padding-right: 20px" for="@item.Text">@item.Text</label>  
            }


        </div>

    <div class="editor-label">
            @Html.LabelFor(model => model.Seat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Seat, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Seat"), @Value = "0" })
            @Html.ValidationMessageFor(model => model.Seat)


        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsUseCoupon)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsUseCoupon, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
            @Html.ValidationMessageFor(model => model.IsUseCoupon)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoticeEmail) (Email請用 ; 分開)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.NoticeEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("NoticeEmail") })


    </div>


    <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)


        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

}
