﻿@model Fun2twModels.Models.TravelProduct

@{
    ViewBag.Title = "行程套票管理刪除";
}

<h2>行程套票管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TravelProduct</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TravelCity.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TravelCity.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TravelTheme.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TravelTheme.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnSubject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnSubject)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.JpSubject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JpSubject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FeatureArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FeatureArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnFeatureArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnFeatureArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JpFeatureArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JpFeatureArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CastArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CastArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnCastArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnCastArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JpCastArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JpCastArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoteArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoteArticle)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.EnNoteArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnNoteArticle)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.JpNoteArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JpNoteArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TravelNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TravelNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
