﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelProduct

@{
    ViewBag.Title = "行程套票管理編輯";
}
<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab1" data-toggle="tab">基本資料</a></li>
        <li><a href="#tab2" data-toggle="tab">景點</a></li>
        <li><a href="#tab3" data-toggle="tab">詳細行程</a></li>
        <li><a href="#tab4" data-toggle="tab">逐一設定報名日</a></li>
         <li><a href="#tab5" data-toggle="tab">不可報名日</a></li>
    </ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <h2>行程套票管理編輯</h2>

        @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>TravelProduct</legend>

                @Html.HiddenFor(model => model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.CityId)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CityId")
                    @Html.ValidationMessageFor(model => model.CityId)

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ThemeId)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("ThemeId")
                    @Html.ValidationMessageFor(model => model.ThemeId)

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TravelStatus)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.TravelStatus, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.TravelStatus))))
                    @Html.ValidationMessageFor(model => model.TravelStatus)

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Subject)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Subject")})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EnSubject)
                </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnSubject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EnSubject")})
            </div>

                 <div class="editor-label">
                    @Html.LabelFor(model => model.JpSubject)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.JpSubject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("JpSubject")})
                </div>

            <div class="editor-label">
                圖片
                </div>
                <div class="editor-field">
                    <input type="file" name="upImageUrls"/>
                    @Html.HiddenFor(model => model.UpImageUrl)
                    @if (!string.IsNullOrEmpty(Model.UpImageUrl))
                    {
                        <img src="~/upfiles/images/S@(Model.UpImageUrl)"/>
                    }

                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FeatureArticle)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.FeatureArticle, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.FeatureArticle)
            </div>

                 <div class="editor-label">
                    @Html.LabelFor(model => model.EnFeatureArticle)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EnFeatureArticle, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.EnFeatureArticle)
            </div>

                 <div class="editor-label">
                    @Html.LabelFor(model => model.JpFeatureArticle)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.JpFeatureArticle, new {@class = "ckeditor"})
                    @Html.ValidationMessageFor(model => model.JpFeatureArticle)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CastArticle)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.CastArticle, new {@class = "ckeditor"})
                    @Html.ValidationMessageFor(model => model.CastArticle)
                </div>

                 <div class="editor-label">
                    @Html.LabelFor(model => model.EnCastArticle)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EnCastArticle, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.EnCastArticle)
            </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.JpCastArticle)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.JpCastArticle, new {@class = "ckeditor"})
                    @Html.ValidationMessageFor(model => model.JpCastArticle)
                </div>

            <div class="editor-label">
                    @Html.LabelFor(model => model.NoteArticle)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.NoteArticle, new {@class = "ckeditor"})
                    @Html.ValidationMessageFor(model => model.NoteArticle)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.EnNoteArticle)
                </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EnNoteArticle, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.EnNoteArticle)
            </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.JpNoteArticle)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.JpNoteArticle, new {@class = "ckeditor"})
                    @Html.ValidationMessageFor(model => model.JpNoteArticle)
                </div>

            <div class="editor-label">
                    @Html.LabelFor(model => model.TravelNum)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.TravelNum, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("TravelNum")})

                </div>
                

            <div class="editor-label">
                    @Html.LabelFor(model => model.OrderDay) 
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.OrderDay, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OrderDay")})

                </div>

             <div class="editor-label">
                @Html.LabelFor(model => model.OriginalSinglePrice) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalSinglePrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSinglePrice") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.SinglePrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.SinglePrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SinglePrice")})

            </div>

                 <div class="editor-label">
                @Html.LabelFor(model => model.OriginalDoublePrice) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalDoublePrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalDoublePrice") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DoublePrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DoublePrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("DoublePrice")})

            </div>
                  <div class="editor-label">
            @Html.LabelFor(model => model.OriginalFourPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalFourPrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalFourPrice")})
                @Html.ValidationMessageFor(model => model.OriginalFourPrice)


            </div>

                        <div class="editor-label">
            @Html.LabelFor(model => model.FourPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.FourPrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("FourPrice")})
        @Html.ValidationMessageFor(model => model.FourPrice)


    </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.OriginalSixPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalSixPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalSixPrice") })
            @Html.ValidationMessageFor(model => model.OriginalSixPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SixPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SixPrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("SixPrice")})
        @Html.ValidationMessageFor(model => model.SixPrice)

    </div>

                  <div class="editor-label">
            @Html.LabelFor(model => model.OriginalEightPrice)<SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OriginalEightPrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalEightPrice") })
            @Html.ValidationMessageFor(model => model.OriginalEightPrice)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EightPrice)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.EightPrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("EightPrice")})
        @Html.ValidationMessageFor(model => model.EightPrice)

    </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OriginalWithoutBedPrice) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalWithoutBedPrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalWithoutBedPrice") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.WithoutBedPrice)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.WithoutBedPrice, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("WithoutBedPrice")})

            </div>

                   <div class="editor-label">
                @Html.LabelFor(model => model.OriginalBabyPric) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalBabyPric,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalBabyPric") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BabyPric)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BabyPric, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("BabyPric")})

            </div>

                   <div class="editor-label">
                @Html.LabelFor(model => model.OriginalOneDayAdult) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalOneDayAdult,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayAdult") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayAdult)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayAdult, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayAdult")})

            </div>

                    <div class="editor-label">
                @Html.LabelFor(model => model.OriginalOneDayChild) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalOneDayChild,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayChild") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayChild)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayChild, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayChild")})

            </div>

                  <div class="editor-label">
                @Html.LabelFor(model => model.OriginalOneDayBaby) <SPAN Style="color: red">(顯示原價，不顯示請設定為0)</SPAN>
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OriginalOneDayBaby,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OriginalOneDayBaby") })
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OneDayBaby)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.OneDayBaby,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("OneDayBaby") })
               
            </div>
             <div class="editor-label">
            @Html.LabelFor(model => model.Paytypes)

        </div>
        <div class="editor-field">
            @foreach (var item in new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
            {
                if (!string.IsNullOrEmpty(Model.Paytypes))
                {
                    if (Model.Paytypes.IndexOf(item.Text, StringComparison.Ordinal) > -1)
                    {
                        <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                    }
                }
                else
                {
                     <input type="checkbox" name="PayType" value="@item.Text" id="@item.Text"/>
                }


                <label style="display: inline;padding-right: 20px" for="@item.Text">@item.Text</label>  
            }


        </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Seat)
            </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Seat, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("Seat")})

                </div>

                 <div class="editor-label">
                    @Html.LabelFor(model => model.NoticeEmail) (Email請用 ; 分開)

                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NoticeEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelProduct>.GetDisplayName("NoticeEmail") })
                  

                </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.IsUseCoupon)

        </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.IsUseCoupon, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.BooleanType))))
                @Html.ValidationMessageFor(model => model.IsUseCoupon)


            </div>


            <div class="editor-label">
                    @Html.LabelFor(model => model.Enable)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.BooleanType))))
                    @Html.ValidationMessageFor(model => model.Enable)

                </div>
                 <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.UpdateDate)
                <p>
                    <input type="submit" value="更新"/> <input type="button" onclick="history.back()" value="回到上一頁"/>
                </p>
            </fieldset>
        }
    </div>
<div class="tab-pane" id="tab2">
    @{
        List<TravelLocation> travelLocations = ViewBag.Location;
    }
       @using (Html.BeginForm("UpdateLocation","TravelProduct"))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
    <table class="table table-v" id="LocalTable">
        <tr>
            <th width="5%">選擇</th>
            <th width="13%">
                @Html.DisplayNameFor(model => model.TravelLocations.FirstOrDefault().UpImageUrl)
            </th>
            <th width="26%">
                @Html.DisplayNameFor(model => model.TravelLocations.FirstOrDefault().Subject)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.TravelLocations.FirstOrDefault().Article)
            </th>

        </tr>
        <tbody>
        @*注意這邊,要指定排序*@
        @foreach (var item in travelLocations)
        {
            <tr>
                <td>
                    @if (Model.TravelLocations.Contains(item))
                    {
                         <input type="checkbox" name="location" value="@item.Id" checked />
                    }
                    else
                    {
                         <input type="checkbox" name="location" value="@item.Id"/>
                    }
                   
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.UpImageUrl))
                    {
                    <img src="~/upfiles/images/S@(item.UpImageUrl)" />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                 <td>
                   @Html.Raw(item.Article)
                </td>
              
               
            </tr>
        }
        </tbody>
    </table>

 
        <div>
            <input type="hidden" name="Id" value="@Model.Id"/>
            <input type="submit" value="更新相關景點" class="btn-button"/>

        </div>
    }
</div>
<div class="tab-pane" id="tab3">
   
    <p>
        <a id="colorlink" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Create", "TravelSchdule", new {id = Model.Id})' })" href="javascript:return false;" class="btn btn-primary">新增行程</a>
    </p>
    <table class="table table-v" id="TravelSchduleTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelSchdules.FirstOrDefault().Subject)
            </th>

            <th width="13%">
                @Html.DisplayNameFor(model => model.TravelSchdules.FirstOrDefault().ListNum)
            </th>
            <th width="13%">
                新排序
            </th>
            <th width="13%">功能</th>
        </tr>
        <tbody>
        @*注意這邊,要指定排序*@
        @foreach (var item in Model.TravelSchdules.OrderBy(m => m.ListNum))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ListNum)
                </td>
                <td>

                    @Html.TextBoxFor(modelItem => item.ListNum, new {@class = "position"})
                </td>
                <td>

                    <input type="button" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Edit", "TravelSchdule", new {id = item.Id})        ' })" value="編輯" class="btn btn-primary"/>

                    @using (Html.BeginForm("Delete", "TravelSchdule"))
                    {
                        @Html.AntiForgeryToken()

                        <input class="btn btn-primary" type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;"/>

                                    @*這邊也有改*@
                        @Html.Hidden("sid", item.Id, new {@class = "sid"})
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>

    @using (Html.BeginForm("Sort", "TravelSchdule"))
    {
        <div>
            <input type="hidden" name="Id" value="@Model.Id"/>
            <input type="hidden" id="TravelSchduleSortData" name="SortData"/>
            <input type="submit" value="更新排序" class="btn-button"/>

        </div>
    }
</div>

<div class="tab-pane" id="tab4">
    <div style="color: red">
        有設定此項目，前台只會顯示這裡選擇的日期，適用於只開放幾個日期報名:
    </div>
    <p>
        <a id="colorlink" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Create", "TravelDay", new {id = Model.Id})' })" href="javascript:return false;" class="btn btn-primary">新增出團日</a>
    </p>
    <table class="table table-v" id="TravelSchduleTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelDays.FirstOrDefault().ActityDate)
            </th>


            <th width="13%">功能</th>
        </tr>
        <tbody>
        @*注意這邊,要指定排序*@
        @foreach (var item in Model.TravelDays.OrderBy(m => m.ActityDate))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActityDate)
                </td>


                <td>



                    @using (Html.BeginForm("Delete", "TravelDay"))
                    {
                        @Html.AntiForgeryToken()

                        <input class="btn btn-primary" type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;"/>

                                    @*這邊也有改*@
                        @Html.Hidden("did", item.Id, new {@class = "did"})
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>


</div>
    <div class="tab-pane" id="tab5">
     <div style="color:red">
        若沒設定<span style="color: blue">逐一設定報名日</span>，每天都可以報名，這裡可以設定哪幾天不可報名
    </div>
    <p>
        <a id="colorlink" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Create", "TravelDisableDate", new {id = Model.Id})' })" href="javascript:return false;" class="btn btn-primary">新增不可報名日</a>
    </p>
    <table class="table table-v" id="TravelDisableDateTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TravelDisableDates.FirstOrDefault().DisableDate)
            </th>


            <th width="13%">功能</th>
        </tr>
        <tbody>
        @*注意這邊,要指定排序*@
        @foreach (var item in Model.TravelDisableDates.OrderBy(m => m.DisableDate))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisableDate)
                </td>


                <td>



                    @using (Html.BeginForm("Delete", "TravelDisableDate"))
                    {
                        @Html.AntiForgeryToken()

                        <input class="btn btn-primary" type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;"/>

                                    @*這邊也有改*@
                        @Html.Hidden("cid", item.Id, new {@class = "cid"})
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>


</div>
    </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css"/>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
        $('#myTab a:eq(@ViewBag.type)').tab('show');
        $("#TravelSchduleTable tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function(table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find(".sid").val() + ":" + (i + 1) + ",";
                }
                $("#TravelSchduleSortData").val(map);
            }
        });
        $("#CustomFieldTable tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function(table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find(".fid").val() + ":" + (i + 1) + ",";
                }
                $("#customFieldSortData").val(map);
            }
        });
    </script>
}