﻿
@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelProduct>

@{
    ViewBag.Title = "行程套票管理列表";
}

<h2>行程套票管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().CityId):@Html.DropDownList("SearchByCityId", (IEnumerable<SelectListItem>)ViewBag.CityId, "請選擇") 
                     @Html.DisplayNameFor(model => model.FirstOrDefault().ThemeId):@Html.DropDownList("SearchByThemeId", (IEnumerable<SelectListItem>)ViewBag.ThemeId, "請選擇") 
                     @Html.DisplayNameFor(model => model.FirstOrDefault().TravelStatus): @Html.DropDownList("SearchByTravelStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelStatus))),"請選擇")
                 <br/>   @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Enable): @Html.DropDownList("SearchByEnable", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))),"請選擇")
        	 <br/>發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            城市
        </th>
        <th>
            主題
        </th>
        <th>
            類型
        </th>
        <th>
            活動名稱
        </th>
       
        <th>
          圖片
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Enable)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelCity.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelTheme.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
       
        <td>
        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                    <img src="~/upfiles/images/S@(item.UpImageUrl)" />
                }
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Enable)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

