﻿@using Fun2twAdmin.Helpers
@using Fun2twModels.Models
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.NargoOrders>

@{
    ViewBag.Title = "台灣特產商城訂單管理列表";
    NargoOrderFunction nargoOrderFunction = new NargoOrderFunction();
    String password = System.Web.Configuration.WebConfigurationManager.AppSettings["NargoPassword"];
    String orderrderUri = System.Web.Configuration.WebConfigurationManager.AppSettings["NargoOrderURI"];                 
}

<h2>台灣特產商城訂單管理列表</h2>

@*<p>
    @Html.ActionLink("新增", "Create")
</p>*@

   @using (Html.BeginForm())
   {
       <div>
           @Html.DisplayNameFor(model => model.FirstOrDefault().OrderId):@Html.InputSearchBox("SearchByOrderid", ViewData["SearchByOrderid"])
           @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName):@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
           <br/>
           @Html.DisplayNameFor(model => model.FirstOrDefault().PayType): @Html.DropDownList("SearchByPayType", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))), "請選擇")
           @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus): @Html.DropDownList("SearchByOrderStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.OrderStatus))), "請選擇")
           <br/>
           訂單日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/>
           ~
           <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/>
       </div>
       <div>
           <input type="submit" value="搜尋"/> 
<input type="submit" name="excel" value="匯出Excel(.xlsx)" />
       </div>
       <div>@ViewBag.ReturnMessage</div>

       <table class="table">
           <tr>
               <th>
                   @*@Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)*@
                   訂單日期
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().OrderId)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().OrderTelphone)
               </th>

               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
               </th>
               <th>
                   南仁湖訂單狀態
               </th>
               <th></th>
               <th></th>
           </tr>
           <tbody>
           @foreach (var item in Model)
           {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.InitDate)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.OrderId)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.OrderName)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.OrderTelphone)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.PayType)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.OrderStatus)
                   </td>
                   <td>
                       @Html.DisplayFor(modelItem => item.Total)
                   </td>
                    <td>
                       @if (item.OrderStatus == OrderStatus.已付款 && item.IsSentNargo == BooleanType.是){
                            String message = nargoOrderFunction.GetNargoOrderStatus(item.OrderId, password, orderrderUri);
                            @Html.DisplayFor(modelItem => message)
                       }
                   </td>
                   <td>
                       @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                       @Html.Hidden("ID", item.Id)
                   </td>
                   <td>
                       @if (item.OrderStatus == OrderStatus.已付款 && item.IsSentNargo != BooleanType.是)
                       {
                           <input type="submit" name="sendorder" value="傳送訂單" onclick="return submitform(this, this.form);" data-assigned-id="@item.Id"/>
                       }
                       else if (item.OrderStatus == OrderStatus.已付款 && item.IsSentNargo == BooleanType.是)
                       {
                           <text>已傳送</text>
                       }
                   </td>

               </tr>
           }
           </tbody>
       </table>

       @Html.Hidden("Nargoid")

   }       
       
<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });

        function submitform(elem, form) {
            var id = $(elem).data('assigned-id');
            //alert(id);
            $('input[name="Nargoid"]').val(id);
            //alert("AA " + $('input[name="Nargoid"]').val());
            return true;
        }
    </script>
}

