﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelHoliDay>

@{
    ViewBag.Title = "列表";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId)：@Html.DropDownList("SearchByProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, "請選擇") 
                     @Html.DisplayNameFor(model => model.FirstOrDefault().IsOnSale)：@Html.DropDownList("SearchByIsOnSale", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))),"請選擇")
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Status)：@Html.DropDownList("SearchByStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelDayStatus))),"請選擇")
        
	</div>
	<div>
	發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TravelProduct.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Memo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsOnSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TravelProduct.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActityDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOnSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

