﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelCity

@{
    ViewBag.Title = "城市管理新增";
}

<h2>城市管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelCity</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AreaId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("AreaId")
            @Html.ValidationMessageFor(model => model.AreaId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelCity>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
