﻿@using Fun2twModels.Models
@model Fun2twModels.Models.BusSeat

@{
    ViewBag.Title = "車輛資料維護新增";
}

<h2>車輛資料維護新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>BusSeat</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Car)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Car") })
            @Html.ValidationMessageFor(model => model.Car)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Seat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Seat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Seat") })
            @Html.ValidationMessageFor(model => model.Seat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Baggage)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Baggage,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Baggage") })
            @Html.ValidationMessageFor(model => model.Baggage)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
