﻿@model Fun2twModels.Models.BusSeat

@{
    ViewBag.Title = "車輛資料維護刪除";
}

<h2>車輛資料維護刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BusSeat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
