﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.BusSeat

@{
    ViewBag.Title = "車輛資料維護編輯";
}

<h2>車輛資料維護編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BusSeat</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Car)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Car") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Seat)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Seat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Seat") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Baggage)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Baggage,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusSeat>.GetDisplayName("Baggage") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
