﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Orders

@{
    ViewBag.Title = "一般訂單管理新增";
}

<h2>一般訂單管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Orders</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uid)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Uid,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("Uid") })
            @Html.ValidationMessageFor(model => model.Uid)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerID)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerID")
            @Html.ValidationMessageFor(model => model.CustomerID)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderName") })
            @Html.ValidationMessageFor(model => model.OrderName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEmail)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderEmail,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderEmail") })
            @Html.ValidationMessageFor(model => model.OrderEmail)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderTelphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderTelphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderTelphone") })
            @Html.ValidationMessageFor(model => model.OrderTelphone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderMobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderMobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderMobile") })
            @Html.ValidationMessageFor(model => model.OrderMobile)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderAddress)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderAddress,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderAddress") })
            @Html.ValidationMessageFor(model => model.OrderAddress)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingName") })
            @Html.ValidationMessageFor(model => model.ShippingName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingEmail)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingEmail,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingEmail") })
            @Html.ValidationMessageFor(model => model.ShippingEmail)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingTelphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingTelphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingTelphone") })
            @Html.ValidationMessageFor(model => model.ShippingTelphone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingMobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingMobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingMobile") })
            @Html.ValidationMessageFor(model => model.ShippingMobile)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingAddress)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingAddress,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingAddress") })
            @Html.ValidationMessageFor(model => model.ShippingAddress)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
            @Html.ValidationMessageFor(model => model.PayType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ShippingType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShippingType))))
            @Html.ValidationMessageFor(model => model.ShippingType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.OrderStatus))))
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subtotal)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subtotal,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("Subtotal") })
            @Html.ValidationMessageFor(model => model.Subtotal)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShippingFee)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ShippingFee,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingFee") })
            @Html.ValidationMessageFor(model => model.ShippingFee)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Total,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("Total") })
            @Html.ValidationMessageFor(model => model.Total)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayMomo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PayMomo,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("PayMomo") })
            @Html.ValidationMessageFor(model => model.PayMomo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PayDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.PayDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderMomo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderMomo,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderMomo") })
            @Html.ValidationMessageFor(model => model.OrderMomo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemittanceName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RemittanceName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("RemittanceName") })
            @Html.ValidationMessageFor(model => model.RemittanceName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemittanceAccount)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RemittanceAccount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("RemittanceAccount") })
            @Html.ValidationMessageFor(model => model.RemittanceAccount)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemittanceMomo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RemittanceMomo,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("RemittanceMomo") })
            @Html.ValidationMessageFor(model => model.RemittanceMomo)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
