﻿@model Fun2twModels.Models.Orders

@{
    ViewBag.Title = "一般訂單管理刪除";
}

<h2>一般訂單管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Orders</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Uid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderTelphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderTelphone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingTelphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingTelphone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subtotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subtotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShippingFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShippingFee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayMomo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayMomo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderMomo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderMomo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemittanceName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemittanceName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemittanceAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemittanceAccount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RemittanceMomo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RemittanceMomo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
