﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.Orders

@{
    ViewBag.Title = "一般訂單管理編輯";

    int i = 0;
}

<h2>一般訂單管理編輯</h2>

    @using (Html.BeginForm())
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Orders</legend>

          @Html.HiddenFor(model => model.Id)
          @Html.HiddenFor(model => model.Uid)


    <table border="0" class="od1 table table-bordered">
        <tr>
            <th class="l_4">訂購時間
                @Html.HiddenFor(model => model.InitDate)
            </th>
            <td class="gt2" colspan="3">
                @Model.InitDate
            </td>
        </tr>
        <tr>
            <th class="l_4">訂單編號
                @Html.HiddenFor(model => model.Orderid)
            </th>
            <td class="gt2" colspan="3">
                @Model.Orderid
            </td>
        </tr>
        <tr>
            <th class="l_4">訂購會員
                @Html.HiddenFor(model => model.CustomerID)
            </th>
            <td class="gt2" colspan="1">
                @Html.DisplayFor(model => model.Customer.Name)

            </td>
            <td class="gt2" colspan="2">

                @Html.DisplayFor(model => model.Customer.Account)

            </td>
        </tr>
        <tr>
            <th class="l_4">訂單處理狀態
            </th>
            <td class="gt2">

                @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.OrderStatus))))
                @Html.ValidationMessageFor(model => model.OrderStatus)

            </td>
            <th class="l_4">付款方式
                @Html.HiddenFor(model => model.PayType)
            </th>
            <td class="gt2" style="color: #000;">
                @Model.PayType
            </td>
        </tr>
        <tr>
            <th class="l_4">@Html.LabelFor(model => model.OrderMomo)
            </th>
            <td class="gt2" colspan="3">
                @Html.TextAreaFor(model => model.OrderMomo, new {@style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderMomo")})
                @Html.ValidationMessageFor(model => model.OrderMomo)
            </td>
        </tr>
        <tr>
            <th class="l_4"> @Html.LabelFor(model => model.PayDate)
            </th>
            <td class="gt2" colspan="3">
                @Html.TextBoxFor(model => model.PayDate, "{0:d}", new {@class = "datepicker", target = ""})
                @Html.ValidationMessageFor(model => model.PayDate)
            </td>
        </tr>
        @{
          List<Transaction> transactions = ViewBag.Transaction;
            foreach (var transaction in transactions)
            {
                <tr>
                    <th class="l_4">
                        信用卡卡號
                    </th>
                    <td class="gt2">
                        @transaction.Pan
                    </td>
                    <th class="l_4">
                        信用卡授權碼
                    </th>
                    <td class="gt2">
                        @transaction.Approvecode
                    </td>
                </tr>
            }
        }

        @*  @if (Model.PayType == PayType.自動櫃員機ATM繳費)
        {
            <tr>
                <th class="l_4">匯款人姓名
                </th>
                <td class="gt2">
                    @Model.RemittanceName
                </td>
                <th class="l_4">匯款帳號後五碼
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.RemittanceAccount
                </td>
            </tr>
             <tr>
            <th class="l_4"> @Html.LabelFor(model => model.RemittanceMomo)
            </th>
            <td class="gt2" colspan="3">
                  @Model.RemittanceMomo
            </td>
            </tr>
        }
        else if (Model.PayType == PayType.信用卡刷卡)
        {
            List<Transaction> transactions = ViewBag.Transaction;
            foreach (var transaction in transactions)
            {
                <tr>
                    <th class="l_4">
                        信用卡卡號
                    </th>
                    <td class="gt2">
                        @transaction.Pan
                    </td>
                    <th class="l_4">
                        信用卡授權碼
                    </th>
                    <td class="gt2">
                        @transaction.Approvecode
                    </td>
                </tr>
            }
        }*@
    </table>


    <h3>購買人資訊</h3>
    <table border="0" class="od1 table table-bordered">
        <tbody>
        <tr>
            <th width="130" class="l_2"> @Html.LabelFor(model => model.OrderName)
            </th>
            <td class="l_2 gt2" width="180">
                @Html.TextBoxFor(model => model.OrderName, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderName")})
            </td>
            <th class="l_4">@Html.LabelFor(model => model.OrderEmail)
            </th>
            <td class="gt2" style="color: #000;">
                @Html.TextBoxFor(model => model.OrderEmail, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderEmail")})

            </td>
        </tr>
        <tr>
            <th class="l_4"> @Html.LabelFor(model => model.OrderTelphone)
            </th>
            <td class="gt2">
                @Html.TextBoxFor(model => model.OrderTelphone, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderTelphone")})

            </td>
            <th class="l_4"> @Html.LabelFor(model => model.OrderMobile)
            </th>
            <td class="gt2" style="color: #000;">
                @Html.TextBoxFor(model => model.OrderMobile, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderMobile")})
            </td>
        </tr>
        <tr>
            <th class="l_4"> @Html.LabelFor(model => model.OrderAddress)
            </th>
            <td class="gt2" colspan="3">

                @Html.TextBoxFor(model => model.OrderAddress, new {style = "width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderAddress")})

            </td>
        </tr>
         <tr>
            <th class="l_4"> @Html.LabelFor(model => model.PayMomo)
            </th>
            <td class="gt2" colspan="3">
                @Html.TextAreaFor(model => model.PayMomo, new {@style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("PayMomo")})
                @Html.ValidationMessageFor(model => model.PayMomo)
            </td>
        </tr>
        </tbody>
    </table>

 <h3>收件人資訊</h3>
    <table border="0" class="od1 table table-bordered">
        <tbody>
        <tr>
            <th width="130" class="l_2">@Html.LabelFor(model => model.ShippingName)
            </th>
            <td class="l_2 gt2" width="180">
                @Html.TextBoxFor(model => model.ShippingName, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingName")})
            </td>
            <th class="l_4">@Html.LabelFor(model => model.ShippingEmail)
            </th>
            <td class="gt2" style="color: #000;">
                @Html.TextBoxFor(model => model.ShippingEmail, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingEmail")})

            </td>
        </tr>
        <tr>
            <th class="l_4">@Html.LabelFor(model => model.ShippingTelphone)
            </th>
            <td class="gt2">
                @Html.TextBoxFor(model => model.ShippingTelphone, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingTelphone")})

            </td>
            <th class="l_4"> @Html.LabelFor(model => model.ShippingMobile)
            </th>
            <td class="gt2" style="color: #000;">
                @Html.TextBoxFor(model => model.ShippingMobile, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingMobile")})
            </td>
        </tr>
        <tr>
            <th class="l_4">@Html.LabelFor(model => model.ShippingAddress)
            </th>
            <td class="gt2" colspan="3">

                @Html.TextBoxFor(model => model.ShippingAddress, new {style = "width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingAddress")})

            </td>
        </tr>
            <tr>
            <th class="l_4">@Html.LabelFor(model => model.ShippingType)
                   @Html.HiddenFor(model => model.ShippingType)
            </th>
            <td class="gt2" colspan="3">
                @*   @Html.DropDownListFor(model => model.ShippingType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShippingType))))
                @Html.ValidationMessageFor(model => model.ShippingType)*@
                @Model.ShippingType
            </td>
        </tr>
        </tbody>
    </table>

          @Html.HiddenFor(model => model.Subtotal)
          @Html.HiddenFor(model => model.ShippingFee)
          @Html.HiddenFor(model => model.Total)

        @Html.HiddenFor(model => model.RemittanceName)
        @Html.HiddenFor(model => model.RemittanceAccount)

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.UpdateDate)

        <h3>訂單明細</h3>
        <div class="common">
         <table class="cart table table-bordered">
                <tr>
                    <th width="25%">品名</th>
                    <th width="15%" class="text-center">單價</th>
                    <th width="8%" class="text-center">數量</th>
                    <th width="15%" class="text-center">金額</th>
                </tr>
            @foreach (var item in Model.OrderDetailses)
            {
                //sumPrice += item.TotalPrice;
                <tr>
                    <td align="left">
                        <span class="blue">@item.Subject</span>
                        <input type="hidden" name="shoppingCar[@i].Subject" value="@item.Subject" />
                    </td>
                 
            <td align="center">
                <em class="red">NTD$@item.Price</em>
                <input type="hidden" name="shoppingCar[@i].Price" value="@item.Price" />
            </td>
            <td align="center">
                @item.Quantity

            </td>
            <td align="center">
                <em class="red">NTD$@item.TotalPrice</em>
                <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@item.TotalPrice" />
                <input type="hidden" name="shoppingCar[@i].ProductId" value="@item.ProductId" />
               
            </td>

        </tr>
                i++;
            }

             <tr>
                 <td colspan="4">
                     <p class="text-right">小計：<span class="red"  style="color: red">$@Model.Total</span></p>
                 </td>
             </tr>
             <tr style="display: none">
                 <td colspan="4">
                     <p class="text-right">運費：<span class="red"  style="color: red">$@Model.ShippingFee</span></p>
                 </td>
             </tr>
             <tr>
                 <td colspan="4">
                     <p class="text-right">消費總金額：<span class="red" style="color:red">$@(Model.Total + Model.ShippingFee)</span></p>
                 </td>
             </tr>
        </table>
        </div>

        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
