﻿@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.Customers>

@{
    ViewBag.Title = "註冊會員帳號管理列表";
}

<h2>註冊會員帳號管理列表</h2>



@using (Html.BeginForm())
{

    <div>

        <input type="submit" name="csv" value="匯出.csv" />
        <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
           Account ID
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
        </th>
        <th>
            發佈者
        </th>
        <th>
            註冊日期
        </th>
         <th>
           來源
        </th>
        
       
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @item.Poster
                </td>
                <td>
                    @item.InitDate
                </td>
                 <td>
                    @item.Source
                </td>
               
               
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

