﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelArea

@{
    ViewBag.Title = "區域管理新增";
}

<h2>區域管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelArea</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelArea>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnSubject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EnSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelArea>.GetDisplayName("EnSubject") })
            @Html.ValidationMessageFor(model => model.EnSubject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field">
            <input type="file" name="upImageUrls" />
       
            
        </div>

             @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
