﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopInfoCategory

@{
    ViewBag.Title = "店家類別管理新增";
}

<h2>產品類別管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>產品類別管理新增</legend>

      
        @Html.Hidden("ParentId",Request["ParentId"])
       

        @Html.Hidden("OrderCount","0")

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEnglish)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEnglish,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("SubjectEnglish") })
            @Html.ValidationMessageFor(model => model.SubjectEnglish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectJapan)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectJapan,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("SubjectJapan") })
            @Html.ValidationMessageFor(model => model.SubjectJapan)
        </div>

        @Html.Hidden("ListNum","0")

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
