﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.ShopInfoCategory

@{
    ViewBag.Title = "店家類別管理編輯";
}

<h2>產品類別管理編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductCategory</legend>

        @Html.HiddenFor(model => model.Id)
         @Html.HiddenFor(model => model.ParentId)

       
      

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("Subject")})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEnglish)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEnglish, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("SubjectEnglish")})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectJapan)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectJapan, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfoCategory>.GetDisplayName("SubjectJapan")})
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
       

            @Html.HiddenFor(model => model.ListNum)
        
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
