﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>領取成功</title>
</head>
<body>
    <div>
        <h1>行李領取成功</h1>
    </div>
</body>
</html>
