﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TicketSeat

@{
    ViewBag.Title = "行李托運內容";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>領取行李</title>
</head>
<body>
<div>
   
@using (Html.BeginForm())
  {

      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      @ViewBag.Message
  <h2>屏東客運-行李托運</h2>
      <div class="cen">
          <img src="/Qrcode/QSD@(Model.Orderid).PNG" style="width:80px;height:80px"/>
          <div class="boxPrint">
              <p>
                  編號：@Model.Orderid
                   @Html.HiddenFor(model => model.Orderid)
              </p>
              <p>
                  日期：@Model.UseDate
                   @Html.HiddenFor(model => model.UseDate)
              </p>
              <p>
                  姓名：@Model.Subject
                   @Html.HiddenFor(model => model.Subject)
              </p>

              <p>
                  電話：@Model.Tel
                   @Html.HiddenFor(model => model.Tel)
              </p>
              <p>
                  件數： @Model.Quantity
                  @Html.HiddenFor(model => model.Quantity)
              </p>
              <p>
                  車號：@Model.Car
                  @Html.HiddenFor(model => model.Car)
              </p>
               <p>
                  是否領取：@Model.IsUse
                 
              </p>
              <p>
                  目的地：@Model.Destination
                  @Html.HiddenFor(model => model.Destination)
              </p>

                <div style="display: none">
            <select id="IsUse" name="IsUse"><option selected="selected">是</option>
<option>否</option>
</select>
        </div>
            
          </div>

      </div>
      <div>
          
          @Html.HiddenFor(model => model.Poster)
          @Html.HiddenFor(model => model.InitDate)
          @Html.HiddenFor(model => model.UpdateDate)
          <input type="submit" value="已領取"/>
      </div>
  
  }
</div>
</body>
</html>







