﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TicketSeat

@{
    ViewBag.Title = "行李托運新增";
}

<h2>行李托運新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TicketSeat</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.UseDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UseDate, "{0:d}", new {@class = "datepicker", target = ""})
            @Html.ValidationMessageFor(model => model.UseDate)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Orderid)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Orderid,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Orderid") })
            @Html.ValidationMessageFor(model => model.Orderid)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Quantity") })
            @Html.ValidationMessageFor(model => model.Quantity)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Tel") })
            @Html.ValidationMessageFor(model => model.Tel)
       
            
        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.Car)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Car"), @Value = ""})
            @Html.ValidationMessageFor(model => model.Car)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Destination)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Destination, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Destination"), @Value = "恆春轉運站"})
            @Html.ValidationMessageFor(model => model.Destination)


        </div>
        <div style="display: none">
             @Html.DropDownListFor(model => model.IsUse, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)),BooleanType.否))
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
    
}
