﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TicketSeat

@{
    ViewBag.Title = "行李托運編輯";
}

<h2>行李托運編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TicketSeat</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Subject") })
           
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.UseDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UseDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.UseDate)
       
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Orderid)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Orderid,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Orderid") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Quantity") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Tel")})

        </div>

                  <div class="editor-label">
            @Html.LabelFor(model => model.Car)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Car")})
            @Html.ValidationMessageFor(model => model.Car)


        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Destination)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Destination, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TicketSeat>.GetDisplayName("Destination")})

        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.IsUse)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsUse, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsUse)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
    
}