﻿
@model Fun2twModels.Models.TicketSeat

@{
    ViewBag.Title = "行李托運內容";
}

<h2>屏東客運-行李托運</h2>
<div class="cen">
<img src="/Qrcode/QSD@(Model.Orderid).PNG" style="width:80px;height:80px"/>
  <div class="boxPrint">
  <p>
      編號：@Model.Orderid
  </p>
  <p>
    日期：@Model.UseDate、目的地：@Model.Destination
  </p>
  <p>
      姓名：@Model.Subject、件數： @Model.Quantity、車號： @Model.Car
  </p>
  <p>
      電話：@Model.Tel
  </p>
</div>
<p style="font-size: 8px;clear:both;text-align: left;border-top: 1px dashed #000;margin-left: 15px">
  易燃品類、高壓縮罐、腐蝕性物品、磁性物質、毒性物料、爆藥、強氧化劑、放射性物質及其他影響行車安全之物品是禁止托運的。
  </p>
  <p style="font-size: 8px;text-align: left;margin-left: 15px;">
    • 左營櫃台連絡專線:07-960-6090
  </p>
</div>




<p class="print">
    
     <input type="button" onclick="window.print(); " value="友善列印" />
    <a href="/TicketSeats">回列表</a>
</p>
