﻿@model List<Fun2twModels.Models.Member>

@{
    ViewBag.Title = "供應商管理管理者";
}

<h2>@ViewBag.Title</h2>

<div class="top">
   
    @Html.ActionLink("建立供應商帳號", "Create",null, new { @class = "btn btn-primary" })
</div>






<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().JobTitle)
        </th>
      
       
        
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
       
       
        
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id },new { @class = "btn btn-primary" })
            @Html.ActionLink("刪除", "Delete", new { id=item.Id },new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>

