﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlanImage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
</head>
<body>
     <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelPlan", new { id = ViewBag.ShopInfoId, type = "1" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script>
    
       @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @ViewBag.Message
        <fieldset>
            <legend>新增照片</legend>
    
           <input type="hidden" name="TravelPlanId" value="@ViewBag.TravelPlanId"/>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Subject)
    
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlanImage>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
           
                
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FileName)
    
            </div>
            <div class="editor-field">
                <input type="file" name="upImageUrls" />
           
                
            </div>
    
            
            <p>
                <input type="submit" value="新增" />
            </p>
        </fieldset>
    }
    
    
</body>
</html>
