﻿
@model Fun2twModels.Models.TravelPlanImage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>內容</title>
</head>
<body>
    <fieldset>
        <legend>TravelPlanImage內容</legend>
    	<table>
    	<tr>
    	<td colspan="7">
    	 TravelPlanImage
    	</td>
    
    	</tr>
    	<tr>
        <td>
             欄位中文名稱
        </td>
        <td>
          欄位名稱
        </td>
    	 <td>
           是否主索引
        </td>
    	<td>
    	是否唯讀
    	</td>
    	<td>
    	 是否外索引
    	</td>
    	<td>
    	型別
    	</td>
    </tr>
    
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.TravelPlan.Subject)
        </td>
        <td>
           TravelPlanId
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 True
    	</td>
    	<td>
    	 Int32
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Subject)
        </td>
        <td>
           Subject
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.FileName)
        </td>
        <td>
           FileName
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Extension)
        </td>
        <td>
           Extension
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Folder)
        </td>
        <td>
           Folder
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Poster)
        </td>
        <td>
           Poster
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.InitDate)
        </td>
        <td>
           InitDate
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 DateTime
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.Updater)
        </td>
        <td>
           Updater
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 String
    	</td>
    	
    </tr>
    <tr>
        <td>
             @Html.DisplayNameFor(model => model.UpdateDate)
        </td>
        <td>
           UpdateDate
        </td>
    	 <td>
           False
        </td>
    	<td>
    	 False
    	</td>
    	
    	<td>
    	 False
    	</td>
    	<td>
    	 DateTime
    	</td>
    	
    </tr>
    </table>
    </fieldset>
    <p>
        @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
         <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
</body>
</html>
