﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlanImage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>編輯</title>
</head>
<body>
      <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/modernizr-2.5.3.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>

      @{
        if (ViewBag.close == "true")
        {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelPlan", new { id = ViewBag.ShopInfoId, type = "1" })';
            });
        </script>
        }
    
      
    }


    <script src="/Scripts/madmin.js"></script>
    <script src="/Scripts/application.js"></script> 

    
         @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>TravelPlanImage</legend>
    
            @Html.HiddenFor(model => model.Id)
             @Html.HiddenFor(model => model.TravelPlanId)
            @Html.HiddenFor(model => model.Extension)
             @Html.HiddenFor(model => model.Folder)
          
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlanImage>.GetDisplayName("Subject") })
               
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.FileName)
            </div>
           <div class="editor-field">
                <input type="file" name="upImageUrls" />
                @Html.HiddenFor(model => model.FileName)
                @if (!string.IsNullOrEmpty(Model.FileName))
                {
                   <img src="~/upfiles/@Model.Folder@Model.FileName" width="200px" />
                }
               
            </div>
     <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
          
    
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.UpdateDate)
            <p>
                <input type="submit" value="更新" />
            </p>
        </fieldset>
    }
    
</body>
</html>
