﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlan

@{
    ViewBag.Title = "景點管理新增";
    List<TravelPlanCatalogTag> travelCategories = ViewBag.ClassId;
}
<style>
    input[type="checkbox"] {
        display: inline;
    }
    label {
        display: inline;
    }
</style>
<h2>景點管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelPlan</legend>

     
        <input type="hidden" name="CategoryId" value="2"/>
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Subject")})
        @Html.ValidationMessageFor(model => model.Subject)
    </div>

               <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.Language)
        </div>

    @foreach (TravelPlanCatalogTag category in travelCategories.Where(x => x.ParentId == null))
       {
           <p>
               <span style="color: blue;">@category.Subject</span><br/>
               @foreach (var item in category.ChildCategory)
               {

                   <label><input type="checkbox" name="travelCategory" value="@item.Subject">@item.Subject</label>
               }
               
           </p>
       }

    <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TrivalInfo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TrivalInfo,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("TrivalInfo") })
            @Html.ValidationMessageFor(model => model.TrivalInfo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipsInfo)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TipsInfo,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("TipsInfo") })
            @Html.ValidationMessageFor(model => model.TipsInfo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Special)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Special,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Special") })
            @Html.ValidationMessageFor(model => model.Special)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Town)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Town,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Town") })
            @Html.ValidationMessageFor(model => model.Town)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Tel") })
            @Html.ValidationMessageFor(model => model.Tel)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Fax,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Fax") })
            @Html.ValidationMessageFor(model => model.Fax)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSite)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WebSite,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("WebSite") })
            @Html.ValidationMessageFor(model => model.WebSite)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Email") })
            @Html.ValidationMessageFor(model => model.Email)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Street,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Street") })
            @Html.ValidationMessageFor(model => model.Street)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceTime)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ServiceTime,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("ServiceTime") })
            @Html.ValidationMessageFor(model => model.ServiceTime)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConsumerMode)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ConsumerMode,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("ConsumerMode") })
            @Html.ValidationMessageFor(model => model.ConsumerMode)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Banking)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Banking,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Banking") })
            @Html.ValidationMessageFor(model => model.Banking)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)

        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Article, new {@class = "ckeditor"})
        @Html.ValidationMessageFor(model => model.Article)


    </div>

    <div class="editor-label">
            @Html.LabelFor(model => model.IsNavigation)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsNavigation, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsNavigation)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lat") })
            @Html.ValidationMessageFor(model => model.Lat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lon,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lon") })
            @Html.ValidationMessageFor(model => model.Lon)
       
            
        </div>

        <input name="Views" value="0" type="hidden"/>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
