﻿@model Fun2twModels.Models.TravelPlan

@{
    ViewBag.Title = "景點管理刪除";
}

<h2>景點管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TravelPlan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Catalog.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Catalog.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Memo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Memo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TrivalInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TrivalInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipsInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipsInfo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Special)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Special)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Town)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Town)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSite)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSite)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ServiceTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ServiceTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConsumerMode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConsumerMode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Banking)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Banking)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Article)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
