﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelPlan

@{
    ViewBag.Title = "景點管理編輯";
    List<TravelPlanCatalogTag> travelPlanCatalog = ViewBag.ClassId;
}
<style>
    input[type="checkbox"] {
        display: inline;
    }

    label {
        display: inline;
    }
</style>
<div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#tab1" data-toggle="tab">景點管理編輯</a></li>
        <li><a href="#tab2" data-toggle="tab">附加圖片</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <h2>景點管理編輯</h2>
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>TravelPlan</legend>

                    @Html.HiddenFor(model => model.Id)

                    @Html.HiddenFor(model => model.CategoryId)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Subject)
                    </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Subject")})
                </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.Language)
        </div>

                <div class="editor-field">

       @foreach (TravelPlanCatalogTag category in travelPlanCatalog.Where(x => x.ParentId == null))
       {
           <p>
               <span style="color: blue;">@category.Subject</span><br/>
               @foreach (var item in category.ChildCategory)
               {
                   if (Model.TagInfo == null)
                   {
                       Model.TagInfo = "";
                   }

                   if (Model.TagInfo.Contains(item.Subject))
                   {
                       <label><input type="checkbox" name="travelCategory" value="@item.Subject" checked="checked">@item.Subject</label>
                   }
                   else
                   {
                        <label><input type="checkbox" name="travelCategory" value="@item.Subject">@item.Subject</label>
                   }

               }
               
           </p>
       }
            
        </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Memo)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Memo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Memo") })
                        @Html.ValidationMessageFor(model => model.Memo)

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TrivalInfo)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TrivalInfo, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("TrivalInfo") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.TipsInfo)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.TipsInfo, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("TipsInfo") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Special)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Special, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Special") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Town)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Town, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Town") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Tel)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Tel, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Tel") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Fax)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Fax, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Fax") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.WebSite)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.WebSite, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("WebSite") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Email") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Street)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Street, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Street") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ServiceTime)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ServiceTime, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("ServiceTime") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConsumerMode)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.ConsumerMode, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("ConsumerMode") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Banking)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Banking, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("Banking") })

                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Article)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Article, new { @class = "ckeditor" })
                        @Html.ValidationMessageFor(model => model.Article)



                    </div>
                      <div class="editor-label">
                        @Html.LabelFor(model => model.TagInfo)

                    </div>
                    <div class="editor-field">
                       @Html.TextBoxFor(model => model.TagInfo, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelPlan>.GetDisplayName("TagInfo") })
                        @Html.ValidationMessageFor(model => model.TagInfo)


                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsNavigation)

                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.IsNavigation, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
                        @Html.ValidationMessageFor(model => model.IsNavigation)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Lat)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Lat, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lat") })
                        @Html.ValidationMessageFor(model => model.Lat)


                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Lon)

                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Lon, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lon") })
                        @Html.ValidationMessageFor(model => model.Lon)


                    </div>

                    @Html.HiddenFor(model => model.Views)

                    @Html.HiddenFor(model => model.Poster)
                    @Html.HiddenFor(model => model.InitDate)
                    @Html.HiddenFor(model => model.UpdateDate)
                    <p>
                        <input type="submit" value="更新" />
                    </p>
                </fieldset>
            }
        </div>
        <div class="tab-pane" id="tab2">
            <div>
                <p>

                    <a id="colorlink" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Create", "TravelPlanImage", new { id = Model.Id })' })" href="javascript:return false;" class="btn btn-primary">新增圖片</a>
                </p>
                <table class="table table-v" id="PicturesTable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TravelPlanImages.FirstOrDefault().Subject)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.TravelPlanImages.FirstOrDefault().ListNum)
                        </th>
                        <th>新排序
                        </th>
                        <th>功能</th>
                    </tr>
                    @*注意這邊,要指定排序*@
                    @if (Model.TravelPlanImages.FirstOrDefault()!=null)
                    {
                        foreach (var item in Model.TravelPlanImages.OrderBy(m => m.ListNum))
                        {
                        <tr>

                            <td>
                                @if (!string.IsNullOrEmpty(item.FileName))
                                {
                                    <img src="~/upfiles/@item.Folder@item.FileName" width="200px" />
                                }
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ListNum)
                            </td>
                            <td>

                                @Html.TextBoxFor(modelItem => item.ListNum, new { @class = "position" })
                            </td>
                            <td>
                                <input type="button" onclick="$.colorbox({ width: '80%', height: '80%', iframe: true, href: '@Url.Action("Edit", "TravelPlanImage", new { id = item.Id })        '})" value="編輯" class="btn btn-primary" />
                                @using (Html.BeginForm("Delete", "TravelPlanImage"))
                                {
                                    @Html.AntiForgeryToken()
                                
                                    <input type="submit" value="刪除" onclick="javascript: if (!window.confirm('你確定要刪除嗎?')) window.event.returnValue = false;" class="btn btn-primary" />
                                

@*這邊也有改*@
                                    @Html.Hidden("fileid", item.Id, new { @class = "fid" })
                                }

                            </td>
                        </tr>
                        }
                    }


                </table>

                @using (Html.BeginForm("Sort", "TravelPlanImage"))
                {
                    <div>
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" id="fileSortData" name="SortData" />
                        <input type="submit" value="更新排序" class="btn-button" />

                    </div>
                }

            </div>
        </div>
    </div>
</div>
<input type="button" onclick="history.back()" value="回到上一頁" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox/colorbox.css")" rel="stylesheet" type="text/css"/>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $('#myTab a:eq(@ViewBag.type)').tab('show');
        $("#PicturesTable").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.tBodies[0].rows;
                var map = "";
                for (var i = 1; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i);
                    map += $(rows[i]).find(".fid").val() + ":" + i + ",";
                }
                $("#fileSortData").val(map);
            }
        });
    </script>
}
