﻿@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelPlan>

@{
    ViewBag.Title = "景點管理列表";
}

<h2>景點管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
       
        @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().Language): @Html.DropDownList("SearchByLanguage", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))), "請選擇")  
        <br/>
        新舊圖:<select name="SearchByimgType">
            <option value>全部</option>
            <option value="1">舊圖</option>
             <option value="2">新圖</option>

        </select>
        <br/>  發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
        ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>

          <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Town)
        </th>
        <th>新舊圖
        </th>

        <th></th>


        <th>路線規劃測試</th>
        <th>路線規劃地圖</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Town)
                </td>
                <td>
                    @if (item.TravelPlanImages.FirstOrDefault() == null)
                    {
                        <span>沒圖</span>
                    }
                    else
                    {
                        if (item.TravelPlanImages.FirstOrDefault().Folder == "images/")
                        {
                        <span>新圖</span>
                        }
                        else
                        {
                        <span>舊圖</span>
                        }
                    }

                </td>



                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                    @Html.Hidden("ID", item.Id)
                </td>
                <td id="@item.Id"></td>
                <td><a style="cursor: pointer" onclick="window.open('TravelPlan/Map/@item.Id');">Goole地圖</a></td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>

    <script>

        function initMap() {
            var directionsService = new google.maps.DirectionsService;

             @foreach (var item in Model)
             {
                 <text>

            var waypts = [];
            waypts.push({
                address: '@item.Subject',
                    lat: '@item.Lat',
                    lng: '@item.Lon'
                });
                displayRoute('屏東火車站', '台東火車站', directionsService, waypts, '@item.Id');
                
                </text>
             }
        }

        function displayRoute(origin, destination, service, waypoints, locationid) {
            var waypts = [];
            var checkboxArray = waypoints;
            for (var i = 0; i < checkboxArray.length; i++) {
                if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                    //alert(checkboxArray[i].lat + ', ' + checkboxArray[i].lng);
                    waypts.push({
                        location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                        //location: new google.maps.LatLng(21.991613, 120.764112),
                        //location: new google.maps.LatLng(21.959973, 120.763275),
                        stopover: true
                    });
                } else {
                    //alert(checkboxArray[i].address);
                    waypts.push({
                        location: checkboxArray[i].address,
                        stopover: true
                    });
                }
            }

            service.route({
                origin: origin,
                destination: destination,
                //waypoints: [{ location: waypoint }],
                waypoints: waypts,
                travelMode: google.maps.TravelMode.DRIVING,
                //travelMode: google.maps.TravelMode.TRANSIT,
                //travelMode: google.maps.TravelMode.WALKING,
                //travelMode: google.maps.TravelMode['@Request["mode"]'],
                 avoidTolls: true
             }, function (response, status) {
                 if (status === google.maps.DirectionsStatus.OK) {
                     $('#' + locationid).html(status);
                 } else {
                     $('#' + locationid).html(status);

                 }
             });
         }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW" async defer></script>
}

