﻿@model Fun2twModels.Models.TravelPlan

@{
    ViewBag.Title = "景點管理內容";
    Layout = null;
}

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map {
        height: 100%;
        float: left;
        width: 63%;
        height: 100%;
    }

    #right-panel {
        float: right;
        width: 34%;
        height: 100%;
    }

    #right-panel {
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

        #right-panel select, #right-panel input {
            font-size: 15px;
        }

        #right-panel select {
            width: 100%;
        }

        #right-panel i {
            font-size: 12px;
        }

    .panel {
        height: 100%;
        overflow: auto;
    }
</style>
<div id="map"></div>
<div id="right-panel">
    <p>Total Distance: <span id="total"></span></p>
</div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: { lat: 19.6053582, lng: 118.3022123 }
        });
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({
            draggable: true,
            map: map,
            panel: document.getElementById('right-panel')
        });

        directionsDisplay.addListener('directions_changed', function () {
            computeTotalDistance(directionsDisplay.getDirections());
        });
        //alert('@Model.Subject');
        var waypts = [];
        waypts.push({
            address: '@Model.Subject',
            lat:'@Model.Lat',
            lng:'@Model.Lon'
        });
      
        displayRoute('946屏東縣恆春鎮省北路二段393號', '屏東縣恆春鎮船帆路730號', directionsService, directionsDisplay, waypts);
    }

        function displayRoute(origin, destination, service, display, waypoints, lat, lng) {
            var waypts = [];
            var checkboxArray = waypoints;
            for (var i = 0; i < checkboxArray.length; i++) {
                if (checkboxArray[i].lat.length > 0 && checkboxArray[i].lng.length > 0) {
                    //alert(checkboxArray[i].lat + ', ' + checkboxArray[i].lng);
                    waypts.push({
                        location: new google.maps.LatLng(checkboxArray[i].lat, checkboxArray[i].lng),
                        //location: new google.maps.LatLng(21.991613, 120.764112),
                        //location: new google.maps.LatLng(21.959973, 120.763275),
                        stopover: true
                    });
                } else {
                    //alert(checkboxArray[i].address);
                    waypts.push({
                        location: checkboxArray[i].address,
                        stopover: true
                    });
                }
            }

            service.route({
                origin: origin,
                destination: destination,
                waypoints: waypts,
                travelMode: google.maps.TravelMode.DRIVING,
                avoidTolls: true
            }, function (response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    display.setDirections(response);
                } else {
                    alert('Could not display directions due to: ' + status);
                }
            });
        }

        function computeTotalDistance(result) {
            var total = 0;
            var myroute = result.routes[0];
            for (var i = 0; i < myroute.legs.length; i++) {
                total += myroute.legs[i].distance.value;
            }
            total = total / 1000;
            document.getElementById('total').innerHTML = total + ' km';
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHNgGDd59BQqpVBV6Hza24iIgfZTEwjZA&signed_in=true&callback=initMap&region=TW"
    async defer></script>


