﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOrder

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelOrder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActityDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActityDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.ActityDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId")
            @Html.ValidationMessageFor(model => model.CustomerId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderName") })
            @Html.ValidationMessageFor(model => model.OrderName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEnglishName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderEnglishName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEnglishName") })
            @Html.ValidationMessageFor(model => model.OrderEnglishName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEmail)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderEmail,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEmail") })
            @Html.ValidationMessageFor(model => model.OrderEmail)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderTelphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderTelphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderTelphone") })
            @Html.ValidationMessageFor(model => model.OrderTelphone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderMobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderMobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderMobile") })
            @Html.ValidationMessageFor(model => model.OrderMobile)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FAX)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FAX,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("FAX") })
            @Html.ValidationMessageFor(model => model.FAX)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderAddress)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderAddress,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderAddress") })
            @Html.ValidationMessageFor(model => model.OrderAddress)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarArea)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarArea,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("CarArea") })
            @Html.ValidationMessageFor(model => model.CarArea)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerMemo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CustomerMemo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("CustomerMemo") })
            @Html.ValidationMessageFor(model => model.CustomerMemo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
            @Html.ValidationMessageFor(model => model.PayType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelOrderStatus))))
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Total,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("Total") })
            @Html.ValidationMessageFor(model => model.Total)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProcesssMemo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ProcesssMemo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("ProcesssMemo") })
            @Html.ValidationMessageFor(model => model.ProcesssMemo)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
