﻿@model Fun2twModels.Models.TravelOrder

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TravelOrder</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActityDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActityDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customers.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customers.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderEnglishName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderEnglishName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderTelphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderTelphone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FAX)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FAX)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarArea)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarArea)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerMemo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerMemo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProcesssMemo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProcesssMemo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
