﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOrder

@{
    ViewBag.Title = "熱門行程套票訂單管理編輯";
}

<h2>熱門行程套票訂單管理編輯</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravelOrder</legend>

        @Html.HiddenFor(model => model.Id)


        <div class="editor-field">
            訂購時間: @Model.InitDate
            @Html.HiddenFor(model => model.InitDate)
        </div>
        <table border="0" class="od1 table table-bordered">
            <tr>
                <th class="l_4">訂單編號
                @Html.HiddenFor(model => model.Orderid)
                </th>
                <td class="gt2" colspan="3">
                    @Model.Orderid
                </td>
            </tr>
            <tr style="display:none">
                <th class="l_4">訂購會員 
                @Html.HiddenFor(model => model.CustomerId)
                </th>
                <td class="gt2" colspan="1">
                    @Html.DisplayFor(model => model.Customers.Name)

                </td>
                <td class="gt2" colspan="2">

                    @Html.DisplayFor(model => model.Customers.Account)

                </td>
            </tr>


            <tr>
                <th class="l_4">訂單處理狀態
                </th>
                <td class="gt2">
                    @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                    { 
                        @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelOrderStatus))))
                        @Html.ValidationMessageFor(model => model.OrderStatus)
                    }
                    else
                    {
                        @Model.OrderStatus
                        @Html.HiddenFor(model => model.OrderStatus)
                    }


                </td>
                <th class="l_4">付款方式
                 @Html.HiddenFor(model => model.PayType)
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.PayType
                </td>
            </tr>
            <tbody>
                <tr>
                    <th width="130" class="l_2">行程名稱 
                    @Html.HiddenFor(model => model.SchduleId)
                    </th>
                    <td colspan="3">

                        @Model.Product.Subject
                    </td>

                </tr>
                <tr>
                    <th width="130" class="l_2"><span style="color: red"></span>出發日期
                    </th>
                    <td colspan="3">

                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.ActityDate, "{0:d}", new { @class = "datepicker", target = "" })
                            @Html.ValidationMessageFor(model => model.ActityDate)
                        }
                        else
                        {
                            @Model.ActityDate
                            @Html.HiddenFor(model => model.ActityDate)
                        }
                    </td>

                </tr>
                <tr>
                    <th width="130" class="l_2"><span style="color: red"></span>中文姓名
                    </th>
                    <td class="l_2 gt2" width="180">
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.OrderName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderName") })

                        }
                        else
                        {
                            @Model.OrderName
                            @Html.HiddenFor(model => model.OrderName)
                        }
                    </td>
                    <th width="130" class="l_2">英文姓名
                    </th>
                    <td class="l_2 gt2" style="color: #000;">
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.OrderEnglishName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEnglishName") })
                   
                        }
                        else
                        {
                            @Model.OrderEnglishName
                            @Html.HiddenFor(model => model.OrderEnglishName)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4"><span style="color: red"></span>聯絡電話
                    </th>
                    <td class="gt2">

                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                     
                            @Html.TextBoxFor(model => model.OrderTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderTelphone") })

                        }
                        else
                        {
                            @Model.OrderTelphone
                            @Html.HiddenFor(model => model.OrderTelphone)
                        }


                    </td>
                    <th class="l_4">行動電話
                    </th>
                    <td class="gt2" style="color: #000;">


                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.OrderMobile, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderMobile") })
                
                        }
                        else
                        {
                            @Model.OrderMobile
                            @Html.HiddenFor(model => model.OrderMobile)
                        }

                    </td>
                </tr>
                <tr>
                    <th class="l_4">傳 真
                    </th>
                    <td class="gt2">
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.FAX, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("FAX") })
                        }
                        else
                        {
                            @Model.FAX
                            @Html.HiddenFor(model => model.FAX)
                        }

                    </td>
                    <th class="l_4"><span style="color: red"></span>Email
                    </th>
                    <td class="gt2" style="color: #000;">
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.OrderEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderEmail") })
                        }
                        else
                        {
                            @Model.OrderEmail
                            @Html.HiddenFor(model => model.OrderEmail)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4"><span style="color: red"></span>聯絡地址
                    </th>
                    <td class="gt2" colspan="3">

                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.OrderAddress, new { style = "width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("OrderAddress") })
                        }
                        else
                        {
                            @Model.OrderAddress
                            @Html.HiddenFor(model => model.OrderAddress)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4">上車地點
                    </th>
                    <td class="gt2" colspan="3">
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
                            @Html.TextBoxFor(model => model.CarArea, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("CarArea") })
                        }
                        else
                        {
                            @Model.CarArea
                            @Html.HiddenFor(model => model.CarArea)
                        }



                    </td>
                </tr>
                <tr>
                    <th class="l_4">特別需求
                    @Html.HiddenFor(model => model.CustomerMemo)
                    </th>
                    <td class="gt2" colspan="3">
                        @Model.CustomerMemo

                    </td>
                </tr>
                <tr>
                    <th class="l_4">行程來源
                     @Html.HiddenFor(model => model.Source)
                    </th>
                    <td class="gt2" colspan="3">
                        @Model.Source

                    </td>
                </tr>
                <tr>
                    <th class="l_4">處理備註
                    </th>
                    <td class="gt2" colspan="3">


                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        { 
                   
             
                            @Html.TextAreaFor(model => model.ProcesssMemo, new { @style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrder>.GetDisplayName("ProcesssMemo") })
                            @Html.ValidationMessageFor(model => model.ProcesssMemo)           }
                        else
                        {
                            @Model.ProcesssMemo
                            @Html.HiddenFor(model => model.ProcesssMemo)
                        }


                    </td>
                </tr>
                <tr>
                    <th class="l_4">Coupon Code
                     @Html.HiddenFor(model => model.Coupon)
                    </th>
                    <td class="gt2" colspan="3">
                        @Model.Coupon

                    </td>
                </tr>
                <tr>
                    <th class="l_4">總金額
                     @Html.HiddenFor(model => model.Total)
                    </th>
                    <td class="gt2" colspan="3">
                        <span style="color: red">@Model.Total</span>
                    </td>
                </tr>

                @if (Model.PayType == PayType.自動櫃員機ATM繳費)
                {
                    <tr>
                        <th class="l_4">匯款人姓名
                        </th>
                        <td class="gt2">
                            @Model.RemittanceName
                        </td>
                        <th class="l_4">匯款帳號後五碼
                        </th>
                        <td class="gt2" style="color: #000;">
                            @Model.RemittanceAccount
                        </td>
                    </tr>
                }
                else if (Model.PayType == PayType.信用卡刷卡)
                {
                    List<Transaction> transactions = ViewBag.Transaction;
                    foreach (var transaction in transactions)
                    {
                    <tr>
                        <th class="l_4">信用卡卡號
                        </th>
                        <td class="gt2">
                            @transaction.Pan
                        </td>
                        <th class="l_4">信用卡授權碼
                        </th>
                        <td class="gt2">
                            @transaction.Approvecode
                        </td>
                    </tr>
                    }
                }

            </tbody>
        </table>

        @Html.HiddenFor(model => model.RemittanceName)
        @Html.HiddenFor(model => model.RemittanceAccount)

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.UpdateDate)

        <h3>訂單明細</h3>
        <table class="table table-bordered">
            <thead>
                <th>品項
                </th>
                <th>價格
                </th>
                <th>
                    <span style="color: red">*</span>  中文姓名
                </th>
                <th>英文姓名 (與護照同)
                </th>
                <th>
                    <span style="color: red">*</span>身分證字號
                </th>
                <th>
                    <span style="color: red">*</span>出生年月日
                </th>
                @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                {
                    <th></th>
                }
            </thead>
            <tbody>
                @foreach (var item in Model.OrderDetailses)
                {
                    <tr>
                        <td>
                            @item.Subject
                        </td>
                        <td>
                            <span style="color: red">@item.Price</span>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.LastName @item.FirstName
                        </td>
                        <td>
                            @item.PassID
                        </td>
                        <td>
                            @item.Birthday
                        </td>
                        @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
                        {
                            <td>

                                @Html.ActionLink("編輯", "OrderDetailEdit", new { id = item.Id })
                            </td>
                        }
                    </tr>                    
                }
            </tbody>
        </table>


        <p>
            @if (Model.OrderStatus != TravelOrderStatus.取消訂單)
            {
                <input type="submit" value="更新" />
            }
            <input type="button" onclick="history.back()" value="回到上一頁" />
            @if (Model.PayType == PayType.自動櫃員機ATM繳費)
            {
                <a href="/TravelOrder/SendTravelOrderEmail/@Model.Id">發送已繳費通知</a>
            }

        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>

}
