﻿@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelOrder>

@{
    ViewBag.Title = "熱門行程套票訂單管理列表";
}

<h2>熱門行程套票訂單管理列表</h2>

@*<p style="display: none">
    @Html.ActionLink("新增", "Create")
</p>*@

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid):@Html.InputSearchBox("SearchByOrderid", ViewData["SearchByOrderid"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName):@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
        <br />
        @Html.DisplayNameFor(model => model.FirstOrDefault().PayType): @Html.DropDownList("SearchByPayType", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))), "請選擇")
        @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus): @Html.DropDownList("SearchByOrderStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelOrderStatus))), "請選擇")
        <br />
        訂單日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
        ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        <input type="submit" value="搜尋" />
        <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>

    
}

<table class="table">
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)*@
            訂單日期
        </th>
        <th>
            出發日期
           
        </th>
        <th>
            行程名稱
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
 <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderTelphone)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>
       
        @* <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>*@
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.Orderid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitDate)
                </td>
                <td>
                   @item.ActityDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @item.Product.Subject
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTelphone)
                </td>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.PayType)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
               
                @* <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>*@
                <td>
                    @Html.ActionLink("編輯", "Edit", new {id = item.Id})
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

