﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelOrderDetail

@{
    ViewBag.Title = "熱門行程套票訂購明細編輯";
}

<h2>熱門行程套票訂購明細編輯</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TravelOrderDetail</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
            @Html.HiddenFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Subject)
        </div>
        <input type="hidden" name="orderId" value="@Model.TravelOrder.Id" />
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
            @Html.HiddenFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrderDetail>.GetDisplayName("Name") })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrderDetail>.GetDisplayName("LastName") })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrderDetail>.GetDisplayName("FirstName") })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PassID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PassID, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelOrderDetail>.GetDisplayName("PassID") })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Birthday, "{0:d}", new { @class = "datepicker", target = "" })
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" />
            <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>

}

