﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelTheme

@{
    ViewBag.Title = "主題式旅遊分類新增";
}

<h2>主題式旅遊分類新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>TravelTheme</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelTheme>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label"  style="display:none">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field"  style="display:none">
            <input type="file" name="upImageUrls"/>


        </div>

            <div class="editor-label">
            @Html.LabelFor(model => model.Status)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PromotionProductStatus))))
            @Html.ValidationMessageFor(model => model.Status)
       
            
        </div>

        @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
