﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelTheme>

@{
    ViewBag.Title = "主題式旅遊分類列表";
}

<h2>主題式旅遊分類列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div style="display:none">
    	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
         <th>
            新排序
        </th>
 <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td style="display: none">
        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                    <img src="~/upfiles/images/S@(item.UpImageUrl)" />
                }
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
                @Html.TextBoxFor(modelItem => item.ListNum,new {@class="position"})
        </td>
 <td>
            @Html.DisplayFor(modelItem=>item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

@using (Html.BeginForm("Sort",null))
    {
        <div>
            <input type="hidden" id="sortData" name="sortData"/>
            <input type="submit" value="更新排序" />
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
   
<script>
    $(document).ready(function () {
        $("tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find("#ID").val() + ":" + (i + 1) + ",";
                }
                $("#sortData").val(map);
            }
        });
    });
</script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}


