﻿@using Fun2twModels.Models
@model Fun2twModels.Models.RealTimeVideo

@{
    ViewBag.Title = "即時影像設定新增";
}

<h2>即時影像設定新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>RealTimeVideo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RealTimeVideo>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            <b>影片連結</b>

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RealTimeVideo>.GetDisplayName("YoutubeUrl") })
            @Html.ValidationMessageFor(model => model.YoutubeUrl)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
