﻿@using Fun2twModels.Models
@model Fun2twModels.Models.AdForHome

@{
    ViewBag.Title = "首頁彈出廣告管理新增";
}

<h2>首頁彈出廣告管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>AdForHome</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.AdForHome>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
           圖片(限640*480)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageLink)
        </div>
        <div class="editor-field">

            @Html.TextBoxFor(model => model.UpImageLink, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.AdForHome>.GetDisplayName("UpImageLink") })

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.AdForHome>.GetDisplayName("Description") })
           </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
