﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.AdForHome>

@{
    ViewBag.Title = "首頁彈出廣告管理列表";
}

<h2>首頁彈出廣告管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
        
	</div>
	<div>
	發布日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageLink)
        </th>
      
        <th width="5%">
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
        <th>
            新排序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
        @if (!string.IsNullOrEmpty(item.UpImageUrl))
                {
                    <img src="~/upfiles/images/S@(item.UpImageUrl)" />
                }
        </td>
        <td style="display: none">
            @Html.DisplayFor(modelItem => item.UpImageLink)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.ListNum, new { @class = "position" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>
@using (Html.BeginForm("Sort", null))
{
    <div>
        <input type="hidden" id="sortData" name="sortData" />
        <input type="submit" value="更新排序" />
        <span>(請拖曳表格進行排序)</span>
    </div>
}
<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
<script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $("tbody").tableDnD({
                onDragClass: "showDragHandle",
                onDrop: function (table, row) {
                    var rows = table.rows;
                    var map = "";
                    for (var i = 0; i < rows.length; i++) {
                        $(rows[i]).find(".position").val(i + 1);
                        map += $(rows[i]).find("#ID").val() + ":" + (i + 1) + ",";
                    }
                    $("#sortData").val(map);
                }
            });
        });
    </script>
}
<style>
    .position {
        width: 27px;
    }
</style>

