﻿@using Fun2twModels.Models
@model Fun2twModels.Models.OrderDetails

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>OrderDetails</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderID)

        </div>
        <div class="editor-field">
            @Html.DropDownList("OrderID")
            @Html.ValidationMessageFor(model => model.OrderID)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Productkey)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Productkey,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Productkey") })
            @Html.ValidationMessageFor(model => model.Productkey)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Price") })
            @Html.ValidationMessageFor(model => model.Price)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Quantity") })
            @Html.ValidationMessageFor(model => model.Quantity)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalPrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TotalPrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("TotalPrice") })
            @Html.ValidationMessageFor(model => model.TotalPrice)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId")
            @Html.ValidationMessageFor(model => model.ProductId)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
