﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.OrderDetails

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrderDetails</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderID)
        </div>
        <div class="editor-field">
            @Html.DropDownList("OrderID")
            @Html.ValidationMessageFor(model => model.OrderID)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Productkey)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Productkey,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Productkey") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Price") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("Quantity") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalPrice)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TotalPrice,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.OrderDetails>.GetDisplayName("TotalPrice") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ProductId")
            @Html.ValidationMessageFor(model => model.ProductId)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
