﻿
@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.OrderDetails>

@{
    ViewBag.Title = "列表";
}

<h2>列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                 @Html.DisplayNameFor(model => model.FirstOrDefault().OrderID):@Html.DropDownList("SearchByOrderID", (IEnumerable<SelectListItem>)ViewBag.OrderID, "請選擇") 
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId):@Html.DropDownList("SearchByProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, "請選擇") 
        	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Order.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Productkey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productkey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

