﻿@{
    ViewBag.Title = "CheckError";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>您沒有兌換此票券的權限</title>
</head>
<body>
<div>
    <h1>您沒有兌換此票券的權限</h1>
</div>
</body>
</html>