﻿@{
    ViewBag.Title = "CheckSuccess";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>兌換成功</title>
</head>
<body>
<div>
    <h1>兌換已完成</h1>
</div>
</body>
</html>