﻿@using Fun2twModels.Models
@model Fun2twModels.Models.GiftExchange

@{
    ViewBag.Title = "Check";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>禮品兌換</title>
    <style>
        h2 {
            color: #00b1c9;
        }
        body {
            font-family: 微軟正黑體,sans-serif;
            text-align: center;
        }
        .cen img {
            width: 150px;
            margin: 20px;
        }
        .btn {
            text-align: center;
            font-size: 1em;
            width: 150px;
            display: inline-block;
            padding: 5px;
            background: #00b1c9;
            color: white;
            border-radius: 5px;
            border: 0;
            outline: 0;
            box-shadow: none;
            cursor: pointer;
        }
        .style-line {
            height: 2px;
            background: #00b1c9;
        }
    </style>
</head>
<body>
<div>
    <div style="color: red">@ViewBag.Message</div>
    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2>瘋趣台灣-禮品兌換</h2>
        <div class="style-line"></div>
        <div class="cen">
            <img src="/Qrcode/@(Model.Subject).PNG" style=""/>

            <div class="boxPrint">
                 <p>
                    編號：@Model.Id
                    @Html.HiddenFor(model => model.Id)
                </p>
                <p>
                    商品名稱：@Model.Subject
                    @Html.HiddenFor(model => model.Subject)
                </p>
                <p>
                    數量：@Model.JobTitle
                    @Html.HiddenFor(model => model.JobTitle)
                </p>
                <p>
                    購買人：@Model.Name
                    @Html.HiddenFor(model => model.Name)
                </p>
               
               <p>
                    使用與否：@Model.IsUse
                </p>
                <div style="display: none">
                    <select id="BooleanType" name="BooleanType">
                        <option selected="selected">是</option>
                        <option>否</option>
                    </select>
                </div>

            </div>

        </div>
        <div>
                
            @Html.HiddenFor(model => model.QRCode)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
            @Html.HiddenFor(model => model.Updater)
            @Html.HiddenFor(model => model.InitDate)

            @if (@Model.IsUse == BooleanType.否)
            {
                <input class="btn" type="submit" value="領取"/>
            }




        </div>

    }
</div>
</body>
</html>
