﻿@using Fun2twModels.Models
@model Fun2twModels.Models.GiftExchange

@{
    ViewBag.Title = "禮品兌換新增";
}

<h2>禮品兌換新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>GiftExchange</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("Name") })
            @Html.ValidationMessageFor(model => model.Name)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobTitle)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JobTitle,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("JobTitle") })
            @Html.ValidationMessageFor(model => model.JobTitle)
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.QRCode)

        </div>
        <div class="editor-field"  style="display: none">
            @Html.TextBoxFor(model => model.QRCode,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("QRCode") })
            @Html.ValidationMessageFor(model => model.QRCode)
       
            
        </div>

        <div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.IsUse)

        </div>
        <div class="editor-field"  style="display: none">
            @Html.DropDownListFor(model => model.IsUse, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
            @Html.ValidationMessageFor(model => model.IsUse)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
