﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.GiftExchange

@{
    ViewBag.Title = "禮品兌換編輯";
}

<h2>禮品兌換編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GiftExchange</legend>

        @Html.HiddenFor(model => model.Id)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.QRCode)
        </div>
        <div>
           
            <img src="/Qrcode/@(Model.Subject).PNG" style="width:80px;height:80px"/>
        </div>

        <div class="editor-label">
商品名稱
          @*  @Html.LabelFor(model => model.Subject)*@
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
購買人
           @* @Html.LabelFor(model => model.Name)*@
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("Name") })
           
        </div>

        <div class="editor-label">
數量
            @*@Html.LabelFor(model => model.JobTitle)*@
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.JobTitle,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("JobTitle") })
           
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.QRCode)
        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.QRCode,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.GiftExchange>.GetDisplayName("QRCode") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsUse)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IsUse, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.IsUse)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
