﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.GiftExchange>

@{
    ViewBag.Title = "禮品兌換列表";
}

<h2>禮品兌換列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)：@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)：@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().IsUse)：@Html.DropDownList("SearchByIsUse", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))),"請選擇")
        
	</div>
	<div>
	建立日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <t <th>
         商品
            @* @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)*@
        </th>
        <th>
            購買人
            @* @Html.DisplayNameFor(model => model.FirstOrDefault().Name)*@
        </th>
        <th>
            數量
            @*@Html.DisplayNameFor(model => model.FirstOrDefault().JobTitle)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsUse)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
      <td>
            @Html.DisplayFor(modelItem => item.IsUse)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

