﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ShopInfo

@{
    ViewBag.Title = "店家管理新增";
    List<ShopInfoCategory> shopInfoCategories = ViewBag.ClassId;
}
<style>
    input[type="checkbox"] {
        display: inline;
    }
    label {
        display: inline;
    }
</style>

<h2>店家管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ShopInfo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Subject")})
        @Html.ValidationMessageFor(model => model.Subject)
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LanguageArea)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LanguageArea, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.LanguageArea)
        </div>

    @foreach (ShopInfoCategory category in shopInfoCategories.Where(x=>x.ParentId==null ))
       {
           <p>
               <span style="color: blue;">@category.Subject</span><br/>
               @foreach (var item in category.ChildCategory)
               {

                   <label><input type="checkbox" name="shopInfoCategory" value="@item.Subject">@item.Subject</label>
               }
               
           </p>
       }

    <div class="editor-label">
            @Html.LabelFor(model => model.ShopType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ShopType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShopType))))
            @Html.ValidationMessageFor(model => model.ShopType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Address") })
            @Html.ValidationMessageFor(model => model.Address)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Tel") })
            @Html.ValidationMessageFor(model => model.Tel)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Fax,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Fax") })
            @Html.ValidationMessageFor(model => model.Fax)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Email") })
            @Html.ValidationMessageFor(model => model.Email)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebSiteUrl)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WebSiteUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("WebSiteUrl") })
            @Html.ValidationMessageFor(model => model.WebSiteUrl)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OpenTime)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OpenTime,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("OpenTime") })
            @Html.ValidationMessageFor(model => model.OpenTime)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Holiday)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Holiday,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Holiday") })
            @Html.ValidationMessageFor(model => model.Holiday)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contact)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Contact,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Contact") })
            @Html.ValidationMessageFor(model => model.Contact)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactTel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactTel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("ContactTel") })
            @Html.ValidationMessageFor(model => model.ContactTel)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactMobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ContactMobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("ContactMobile") })
            @Html.ValidationMessageFor(model => model.ContactMobile)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Parking)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="機車" class="Parking" />機車</label>
        <label><input type="checkbox" value="汽車"  class="Parking" />汽車</label>
        @Html.HiddenFor(model => model.Parking)
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facility)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="WIFI" class="Facility"/>WIFI</label>
        <label><input type="checkbox" value="無障礙空間" class="Facility"/>無障礙空間</label>
        <label><input type="checkbox" value="親子友善" class="Facility"/>親子友善</label>
        <label><input type="checkbox" value="寵物友善" class="Facility" />寵物友善</label>
        @Html.HiddenFor(model => model.Facility)



    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="英文" class="Language"/>英文</label>
        <label><input type="checkbox" value="日語" class="Language"/>日語</label>
        <label><input type="checkbox" value="韓語" class="Language"/>韓語</label>
         <label><input type="checkbox" value="其他" class="Language"/>其他</label>

        @Html.HiddenFor(model => model.Language)


    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Payment)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="現金" class="Payment"/>現金</label>
        <label><input type="checkbox" value="信用卡" class="Payment"/>信用卡</label>
        <label><input type="checkbox" value="訂金" class="Payment"/>訂金</label>

        @Html.HiddenFor(model => model.Payment)

    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ecommerce)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="YAHOO" class="Ecommerce"/>YAHOO</label>
        <label><input type="checkbox" value="PCHOME" class="Ecommerce"/>PCHOME</label>
        <label><input type="checkbox" value="其他購物網" class="Ecommerce"/>其他購物網</label>
        <label><input type="checkbox" value="自建平台" class="Ecommerce"/>自建平台</label>
        <label><input type="checkbox" value="瘋台灣" class="Ecommerce"/>瘋台灣</label>
        <label><input type="checkbox" value="悠遊墾丁" class="Ecommerce"/>悠遊墾丁</label>
        <label><input type="checkbox" value="HOT墾丁" class="Ecommerce"/>HOT墾丁</label><br/>
        <label><input type="checkbox" value="Hotels.com" class="Ecommerce"/>Hotels.com</label>
        <label><input type="checkbox" value="agoda" class="Ecommerce"/>agoda</label>
        <label><input type="checkbox" value="Hotelscombined" class="Ecommerce"/>Hotelscombined</label>
        <label><input type="checkbox" value="Booking" class="Ecommerce"/>Booking</label>
        <label><input type="checkbox" value="Airbnb" class="Ecommerce"/>Airbnb</label>
        <label><input type="checkbox" value="其他" class="Ecommerce"/>其他</label>
        @Html.HiddenFor(model => model.Ecommerce)
    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Social)

        </div>
    <div class="editor-field">
        <label><input type="checkbox" value="FaceBook" class="Social"/>FaceBook</label>
        <label><input type="checkbox" value="Line" class="Social"/>Line</label>

        @Html.HiddenFor(model => model.Social)

    </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IntroArticle)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.IntroArticle,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.IntroArticle)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InfoArticle)

        </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.InfoArticle, new {@class = "ckeditor"})
        @Html.ValidationMessageFor(model => model.InfoArticle)


    </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lat") })
            @Html.ValidationMessageFor(model => model.Lat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Lon, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ShopInfo>.GetDisplayName("Lon")})
        @Html.ValidationMessageFor(model => model.Lon)


    </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.ListNum)

        </div>
        <div class="editor-field">
             @Html.TextBox("ListNum",0)
            @Html.ValidationMessageFor(model => model.ListNum)
       
            
        </div>

    <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
            $(":checkbox").change(function() {
                GetCheckBoxVal($(".Parking"), $("#Parking"));
                GetCheckBoxVal($(".Facility"), $("#Facility"));
                GetCheckBoxVal($(".Language"), $("#Language"));
                GetCheckBoxVal($(".Payment"), $("#Payment"));
                GetCheckBoxVal($(".Ecommerce"), $("#Ecommerce"));
                GetCheckBoxVal($(".Social"), $("#Social"));
            });


        });

        function GetCheckBoxVal(checkbox, textbox) {
            var beSelect = "";
            checkbox.each(function () {
                if ($(this).prop("checked") == true) {
                    beSelect = beSelect + $(this).val() + ",";
                };
            });
            textbox.val(beSelect);
        }
    </script>

}
