﻿@model Fun2twModels.Models.ShopInfo

@{
    ViewBag.Title = "店家管理刪除";
}

<h2>店家管理ˋ刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ShopInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebSiteUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebSiteUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpenTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpenTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Holiday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Holiday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactTel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactTel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parking)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parking)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facility)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Facility)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Language)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Language)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Payment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Payment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ecommerce)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ecommerce)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Social)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Social)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IntroArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IntroArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InfoArticle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InfoArticle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
