﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.ShopInfo>

@{
    ViewBag.Title = "店家管理列表";
}

<h2>店家管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                     @Html.DisplayNameFor(model => model.FirstOrDefault().ShopType): @Html.DropDownList("SearchByShopType", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShopType))),"請選擇")
    <br/>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LanguageArea): @Html.DropDownList("SearchByLanguage", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))), "請選擇")
                     @Html.DisplayNameFor(model => model.FirstOrDefault().Enable): @Html.DropDownList("SearchByEnable", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))),"請選擇")
        	<br/>發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th width ="180px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShopType)
        </th>
          <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LanguageArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ContactTel)
        </th>
          <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Lat)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Lon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
     
        <th  width ="100px"></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactTel)
        </td>
         <td style="display: none">
            @Html.DisplayFor(modelItem => item.Lat)
        </td>
        <td style="display: none">
            @Html.DisplayFor(modelItem => item.Lon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
     
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

