﻿@model Fun2twModels.Models.TravelPlanCatalogTag

@{
    ViewBag.Title = "景點類別管理刪除";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ProductCategory</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentCategory.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentCategory.Subject)
    </div>

   

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PathNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PathNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

  

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListNum)
    </div>

  
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
