﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelPlanCatalogTag>

@{
    ViewBag.Title = "景點類別管理列表";
}

<h2>景點類別管理列表</h2>
<p>
    @Html.ActionLink("新增", "Create", new { ParentId=@ViewBag.ParentId})
</p>


<div>
    所在位置: @Html.ActionLink("最上層","Index", new { id=0})  @Html.Raw(ViewBag.categoryPath)
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubjectEnglish)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SubjectJapan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
         <th>
            新排序
        </th>
      
       
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Subject,"Index",new {id=item.Id})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectEnglish)
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.SubjectJapan)
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
                @Html.TextBoxFor(modelItem => item.ListNum,new {@class="position"})
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("Cid",item.Id)
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("Sort",null))
    {
        <div>
            <input type="hidden" id="sortData" name="sortData"/>
            <input type="submit" value="更新排序" />
        </div>
    }

@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
   
    <script>
        $(document).ready(function () {
            $("table").tableDnD({
                onDragClass: "showDragHandle",
                onDrop: function (table, row) {
                    var rows = table.tBodies[0].rows;
                    var map = "";
                    for (var i = 1; i < rows.length; i++) {
                        $(rows[i]).find(".position").val(i);
                        map += $(rows[i]).find("#Cid").val() + ":" + i + ",";
                    }
                    $("#sortData").val(map);
                }
            });
        });
    </script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}

