﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ActionProduct

@{
    ViewBag.Title = "活動管理新增";
}

<h2>活動管理新增</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ActionProduct</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEn, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("SubjectEn") })
            @Html.ValidationMessageFor(model => model.SubjectEn)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectJp)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectJp, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("SubjectJp") })
            @Html.ValidationMessageFor(model => model.SubjectJp)


        </div>
        @if (ViewBag.Role)
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.SupplierId)

            </div>
            <div class="editor-field">
                @Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>) ViewBag.SupplierId, "請選擇")
                @Html.ValidationMessageFor(model => model.SupplierId)


            </div>
        }
        else
        {
             <div class="editor-label" style="display: none">
                @Html.LabelFor(model => model.SupplierId)

            </div>
            <div class="editor-field" style="display: none">
                <input type="hidden" name="SupplierId" value="@ViewBag.SupplierId"/>
              
                @Html.ValidationMessageFor(model => model.SupplierId)


            </div>
        }


        <div class="editor-label">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleEn)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ArticleEn, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.ArticleEn)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleJp)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ArticleJp, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.ArticleJp)


        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

}
