﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.ActionProduct

@{
    ViewBag.Title = "活動管理編輯";
}

<h2>活動管理編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ActionProduct</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEn)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEn,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("SubjectEn") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectJp)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectJp,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ActionProduct>.GetDisplayName("SubjectJp") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SupplierId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SupplierId")
            @Html.ValidationMessageFor(model => model.SupplierId)
          
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleEn)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ArticleEn,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.ArticleEn)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArticleJp)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ArticleJp,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.ArticleJp)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
