﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Orders

@{
    ViewBag.Title = "瘋趣南島商城訂單管理編輯";
    int i = 0;
}

<h2>瘋趣南島商城訂單管理編輯</h2>
<div style="color: red; size: 20px;">提示訊息</div>
<div style="color: red; size: 15px;">一旦供應商的訂單處理狀態為可退款，且屏客退貨處理狀態為已退款，則此訂單已無法再編輯</div>
<div style="color: red; size: 15px;">一旦供應商的訂單處理狀態為已寄送發票，則此訂單已無法再編輯</div>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="color: red">@ViewBag.Message</div>
    <fieldset>
        <legend>Orders</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Uid)
        @Html.HiddenFor(model => model.MallId)

        <table border="0" class="od1 table table-bordered">
            <tr>
                <th class="l_4">訂購時間
                    @Html.HiddenFor(model => model.InitDate)
                </th>
                <td class="gt2">
                    @Model.InitDate

                </td>
                <th class="l_4">退貨申請時間
                    @Html.HiddenFor(model => model.CancelDate)
                </th>
                <td class="gt2">
                    @Model.CancelDate

                </td>
            </tr>
            <tr>
                <th class="l_4">訂單編號
                    @Html.HiddenFor(model => model.Orderid)
                </th>
                <td class="gt2" colspan="3">
                    @Model.Orderid
                </td>
            </tr>

            <tr>
                <th class="l_4">訂購會員
                    @Html.HiddenFor(model => model.CustomerID)
                </th>
                <td class="gt2" colspan="1">
                    @Html.DisplayFor(model => model.Customer.Name)

                </td>
                <td class="gt2" colspan="2">

                    @Html.DisplayFor(model => model.Customer.Account)

                </td>
            </tr>
            <tr>
                <th class="l_4">訂單處理狀態
                </th>
                <td class="gt2">
                    @Model.OrderStatus
                    @Html.HiddenFor(model => model.OrderStatus)



                </td>
                <th class="l_4">供應商訂單處理狀態

                </th>
                <td class="gt2">
                    @if (ViewBag.Edit)
                    {
                        if (ViewBag.Role)
                        {
                        @Model.ProductStatus
                        @Html.HiddenFor(model => model.ProductStatus)
                        }
                        else
                        {
                        @Html.DropDownListFor(model => model.ProductStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ProductStatus))))
                        @Html.ValidationMessageFor(model => model.ProductStatus)
                        }
                    }
                    else
                    {
                        @Model.ProductStatus
                        @Html.HiddenFor(model => model.ProductStatus)
                    }

                </td>
            </tr>
            <tr>
                <th class="l_4">郵寄方式
                </th>
                <td class="gt2">
                    @if (ViewBag.Edit)
                    {
                        if (ViewBag.Role)
                        {
                        @Model.Delivery
                        @Html.HiddenFor(model => model.Delivery)
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.Delivery, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("Delivery") })
                        }
                    }
                    else
                    {
                        @Model.Delivery
                        @Html.HiddenFor(model => model.Delivery)
                    }

                </td>
                <th class="l_4">查詢編號

                </th>
                <td class="gt2">
                    @if (ViewBag.Edit)
                    {
                        if (ViewBag.Role)
                        {
                        @Html.DisplayFor(model => model.DeliveryId)
                        @Html.HiddenFor(model => model.DeliveryId)
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.DeliveryId, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("DeliveryId") })
                        }
                    }
                    else
                    {
                        @Model.DeliveryId
                        @Html.HiddenFor(model => model.DeliveryId)
                    }
                </td>
            </tr>


            <tr>
                <th class="l_4">屏客退貨處理狀態
                </th>
                <td class="gt2">


                    @if (ViewBag.Edit)
                    {

                        if (ViewBag.Role)
                        {
                            if (Model.ProductStatus == ProductStatus.可退款)
                            {
                        @Html.DropDownListFor(model => model.PtBusStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PtBusStatus))))
                        @Html.ValidationMessageFor(model => model.PtBusStatus)
                            }
                            else
                            {
                        @Model.PtBusStatus
                        @Html.HiddenFor(model => model.PtBusStatus)
                            }


                        }
                        else
                        {

                        @Model.PtBusStatus
                        @Html.HiddenFor(model => model.PtBusStatus)
                            
                        }
                    }
                    else
                    {
                        @Model.PtBusStatus
                        @Html.HiddenFor(model => model.PtBusStatus)
                    }


                </td>
                <th class="l_4">付款方式
                     @Html.HiddenFor(model => model.PayType)
                </th>
                <td class="gt2" colspan="3">
                    @Model.PayType

                </td>
            </tr>

            <tr>
                <th class="l_4">發票號碼
                   
                </th>
                <td class="gt2">

                  

                        @if (ViewBag.Role)
                        {
                            if (Model.OrderStatus == OrderStatus.退貨處理完成)
                            {
                                 @Model.UnifiedId
                            @Html.HiddenFor(model => model.UnifiedId)
                            }
                            else
                            {
                                 @Html.TextBoxFor(model => model.UnifiedId, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("UnifiedId")})
                            }
                           

                        }
                        else
                        {

                            @Model.UnifiedId
                            @Html.HiddenFor(model => model.UnifiedId)

                        }
                    
               
                </td>
                <th class="l_4">是否已寄送發票
                    @Html.HiddenFor(model => model.IsSend)
                </th>
                <td class="gt2">


                    @if (ViewBag.Edit)
                    {

                        if (ViewBag.Role)
                        {


                            <input type="checkbox" name="send"/>

                        }
                        else
                        {

                            @Model.IsSend
                            @Html.HiddenFor(model => model.IsSend)
                        }


                    }
                    else
                    {
                         @Model.IsSend
                            @Html.HiddenFor(model => model.IsSend)
                    }
                   


                </td>
            </tr>


            <tr>
                <th class="l_4">訂單備註
                </th>
                <td class="gt2" colspan="3">
                    @if (ViewBag.Edit)
                    {
                        @Html.TextAreaFor(model => model.OrderMomo, new { @style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("OrderMomo") })
                        @Html.ValidationMessageFor(model => model.OrderMomo)
                    }
                    else
                    {
                        @Model.OrderMomo
                        @Html.HiddenFor(model => model.OrderMomo)
                    }
                </td>
            </tr>

            @{
                    List<Transaction> transactions = ViewBag.Transaction;
                    foreach (var transaction in transactions)
                    {
                <tr>
                    <th class="l_4">信用卡卡號
                    </th>
                    <td class="gt2">
                        @transaction.Pan
                    </td>
                    <th class="l_4">信用卡授權碼
                    </th>
                    <td class="gt2">
                        @transaction.Approvecode
                    </td>
                </tr>
                    }
            }

            @*  @if (Model.PayType == PayType.自動櫃員機ATM繳費)
                {
                    <tr>
                        <th class="l_4">匯款人姓名
                        </th>
                        <td class="gt2">
                            @Model.RemittanceName
                        </td>
                        <th class="l_4">匯款帳號後五碼
                        </th>
                        <td class="gt2" style="color: #000;">
                            @Model.RemittanceAccount
                        </td>
                    </tr>
                     <tr>
                    <th class="l_4"> @Html.LabelFor(model => model.RemittanceMomo)
                    </th>
                    <td class="gt2" colspan="3">
                          @Model.RemittanceMomo
                    </td>
                    </tr>
                }
                else if (Model.PayType == PayType.信用卡刷卡)
                {
                    List<Transaction> transactions = ViewBag.Transaction;
                    foreach (var transaction in transactions)
                    {
                        <tr>
                            <th class="l_4">
                                信用卡卡號
                            </th>
                            <td class="gt2">
                                @transaction.Pan
                            </td>
                            <th class="l_4">
                                信用卡授權碼
                            </th>
                            <td class="gt2">
                                @transaction.Approvecode
                            </td>
                        </tr>
                    }
                }*@
        </table>


        <h3>購買人資訊</h3>
        <table border="0" class="od1 table table-bordered">
            <tbody>
                <tr>
                    <th width="130" class="l_2">
                        @Html.LabelFor(model => model.OrderName)
                    </th>
                    <td class="l_2 gt2" width="180">

                        @Html.DisplayFor(model => model.OrderName)

                        @Html.HiddenFor(model => model.OrderName)
                    </td>
                    <th class="l_4">
                        @Html.LabelFor(model => model.OrderEmail)
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Html.HiddenFor(model => model.OrderEmail)
                        @Html.DisplayFor(model => model.OrderEmail)
                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.OrderTelphone)
                        @Html.HiddenFor(model => model.OrderTelphone)
                    </th>
                    <td class="gt2">

                        @Html.DisplayFor(model => model.OrderTelphone)
                    </td>
                    <th class="l_4">
                        @Html.LabelFor(model => model.OrderMobile)
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Html.HiddenFor(model => model.OrderMobile)
                        @Html.DisplayFor(model => model.OrderMobile)
                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.OrderAddress)
                    </th>
                    <td class="gt2" colspan="3">

                        @Html.HiddenFor(model => model.OrderAddress)
                        @Html.DisplayFor(model => model.OrderAddress)
                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.PayMomo)
                    </th>
                    <td class="gt2" colspan="3">
                        @Html.HiddenFor(model => model.PayMomo)
                        @Html.DisplayFor(model => model.PayMomo)
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>收件人資訊</h3>
        <table border="0" class="od1 table table-bordered">
            <tbody>
                <tr>
                    <th width="130" class="l_2">
                        @Html.LabelFor(model => model.ShippingName)
                    </th>
                    <td class="l_2 gt2" width="180">

                        @if (ViewBag.Edit)
                        {
                            @Html.TextBoxFor(model => model.ShippingName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingName") })
                        }
                        else
                        {
                            @Model.ShippingName
                            @Html.HiddenFor(model => model.ShippingName)
                        }
                    </td>
                    <th class="l_4">
                        @Html.LabelFor(model => model.ShippingEmail)
                    </th>
                    <td class="gt2" style="color: #000;">
                        @if (ViewBag.Edit)
                        {
                            @Html.TextBoxFor(model => model.ShippingEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingEmail") })
                        }
                        else
                        {
                            @Model.ShippingEmail
                            @Html.HiddenFor(model => model.ShippingEmail)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.ShippingTelphone)
                    </th>
                    <td class="gt2">
                        @if (ViewBag.Edit)
                        {
                            @Html.TextBoxFor(model => model.ShippingTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingTelphone") })
                        }
                        else
                        {
                            @Model.ShippingTelphone
                            @Html.HiddenFor(model => model.ShippingTelphone)
                        }
                    </td>
                    <th class="l_4">
                        @Html.LabelFor(model => model.ShippingMobile)
                    </th>
                    <td class="gt2" style="color: #000;">

                        @if (ViewBag.Edit)
                        {
                            @Html.TextBoxFor(model => model.ShippingMobile, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingMobile") })
                        }
                        else
                        {
                            @Model.ShippingMobile
                            @Html.HiddenFor(model => model.ShippingMobile)
                        }


                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.ShippingAddress)
                    </th>
                    <td class="gt2" colspan="3">

                        @if (ViewBag.Edit)
                        {
                            @Html.TextBoxFor(model => model.ShippingAddress, new { style = "width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Orders>.GetDisplayName("ShippingAddress") })
                        }
                        else
                        {
                            @Model.ShippingAddress
                            @Html.HiddenFor(model => model.ShippingAddress)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        @Html.LabelFor(model => model.ShippingType)
                        @Html.HiddenFor(model => model.ShippingType)
                    </th>
                    <td class="gt2" colspan="3">
                        @*   @Html.DropDownListFor(model => model.ShippingType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShippingType))))
                            @Html.ValidationMessageFor(model => model.ShippingType)*@
                        @Model.ShippingType
                    </td>
                </tr>
  <tr>
                <th class="l_4">
                    @Html.LabelFor(model => model.GetPlace)
                    @Html.HiddenFor(model => model.GetPlace)
                </th>
                <td class="gt2" colspan="3">
                    @*   @Html.DropDownListFor(model => model.ShippingType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.ShippingType))))
                            @Html.ValidationMessageFor(model => model.ShippingType)*@
                    @Model.GetPlace
                </td>
            </tr>
            </tbody>
        </table>

        @Html.HiddenFor(model => model.Subtotal)
        @Html.HiddenFor(model => model.ShippingFee)
        @Html.HiddenFor(model => model.Total)

        @*      @Html.HiddenFor(model => model.RemittanceName)
            @Html.HiddenFor(model => model.RemittanceAccount)*@

        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.UpdateDate)

        <h3>訂單明細</h3>
        <div class="common">
            <table class="cart table table-bordered">
                <tr>
                    <th width="25%">品名</th>
                    <th width="15%" class="text-center">單價</th>
                    <th width="8%" class="text-center">數量</th>
                    <th width="15%" class="text-center">金額</th>
                </tr>
                @foreach (var item in Model.OrderDetailses)
                {
                    //sumPrice += item.TotalPrice;
                    <tr>
                        <td align="left">
                            <span class="blue">@item.Subject</span>
                            <input type="hidden" name="shoppingCar[@i].Subject" value="@item.Subject" />
                        </td>

                        <td align="center">
                            <em class="red">NTD$@item.Price</em>
                            <input type="hidden" name="shoppingCar[@i].Price" value="@item.Price" />
                        </td>
                        <td align="center">
                            @item.Quantity

                        </td>
                        <td align="center">
                            <em class="red">NTD$@item.TotalPrice</em>
                            <input type="hidden" name="shoppingCar[@i].TotalPrice" value="@item.TotalPrice" />
                            <input type="hidden" name="shoppingCar[@i].ProductId" value="@item.ProductId" />

                        </td>

                    </tr>
                    i++;
                }

                <tr>
                    <td colspan="4">
                        <p class="text-right">小計：<span class="red" style="color: red">$@Model.Subtotal</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p class="text-right">運費：<span class="red" style="color: red">$@Model.ShippingFee</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p class="text-right">消費總金額：<span class="red" style="color: red">$@Model.Total</span></p>
                    </td>
                </tr>
            </table>
        </div>

        <p>
            @if (Model.OrderStatus != OrderStatus.退貨處理完成)
            {
                <input type="submit" value="更新"/>
            }
            <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>

}
