﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.Orders>

@{
    ViewBag.Title = "瘋趣南島商城訂單管理列表";
}

<h2>瘋趣南島商城訂單管理列表</h2>

<p style="display: none">
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid):@Html.InputSearchBox("SearchByOrderid", ViewData["SearchByOrderid"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName):@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
        <br />
       <div style ="display: none"> @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)：@Html.DropDownList("SearchByPayType", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))), "請選擇")</div>
       @if (ViewBag.Role)
       {
           <div>
               <div>商城名稱 :@Html.DropDownList("SearchByMallId", (IEnumerable<SelectListItem>)ViewBag.MallId, "請選擇")</div>
               </div>
               }
        @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)：@Html.DropDownList("SearchByOrderStatus", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.OrderStatus))), "請選擇")
        <br />
    </div>
    <div>
        訂單日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" /> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
    </div>
    <div>
        <input type="submit" value="搜尋" />
        <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>


}

<table class="table">
    <tr>
        <th>
            訂單日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderTelphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
        </th>
        @if (ViewBag.Role)
        {
            <th>
                商城名稱
            </th>
        }
    
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProductStatus)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTelphone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                @if (ViewBag.Role)
                {
                    <td>
                       @Html.DisplayFor(modelItem => item.Mall.Subject)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus)
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) 
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @*@Html.ActionLink("刪除", "Delete", new { id=item.Id })*@
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

