﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ProductCategory

@{
    ViewBag.Title = "產品類別管理新增";
}

<h2>產品類別管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>產品類別管理新增</legend>

      
        @Html.Hidden("ParentId",Request["ParentId"])
        @*<div class="editor-label">
            @Html.LabelFor(model => model.MailId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("MailId")
            @Html.ValidationMessageFor(model => model.MailId)
       
            
        </div>*@

        @Html.Hidden("OrderCount","0")

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ProductCategory>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="UpImageUrls" />            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
       
            
        </div>
 <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PromotionProductStatus))), "請選擇")
            @Html.ValidationMessageFor(model => model.Status)

        </div>

             @Html.Hidden("ListNum","0")

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
