﻿@model Fun2twModels.Models.ProductCategory

@{
    ViewBag.Title = "產品類別管理刪除";
}

<h2>產品類別管理刪除</h2>
<h3>Are you sure you want to delete this?</h3>
<h2><div style="color: red">@ViewBag.DelMessage</div></h2>
<fieldset>
   
    <legend>ProductCategory</legend>
   
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ParentCategory.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentCategory.Subject)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Mall.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mall.Subject)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryPath)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PathNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PathNumber)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.OrderCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderCount)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpImageUrl)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Article)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ListNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListNum)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.YoutubeCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YoutubeCode)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
      

        @if (ViewBag.DelMessage == null)
        {
            <input type="submit" value="刪除"/>
        }

        <input type="button" onclick="history.back()" value="回到上一頁"/>
    </p>
}
