﻿
@model Fun2twModels.Models.ProductCategory

@{
    ViewBag.Title = "產品類別管理內容";
}

<h2>產品類別管理內容</h2>

<fieldset>
    <legend>ProductCategory產品類別管理內容</legend>
	<table>
	<tr>
	<td colspan="7">
	 ProductCategory
	</td>

	</tr>
	<tr>
    <td>
         欄位中文名稱
    </td>
    <td>
      欄位名稱
    </td>
	 <td>
       是否主索引
    </td>
	<td>
	是否唯讀
	</td>
	<td>
	 是否外索引
	</td>
	<td>
	型別
	</td>
</tr>

<tr>
    <td>
         @Html.DisplayNameFor(model => model.ParentCategory.Subject)
    </td>
    <td>
       ParentId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 True
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Mall.Subject)
    </td>
    <td>
       MailId
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 True
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.CategoryPath)
    </td>
    <td>
       CategoryPath
    </td>
	 <td>
       False
    </td>
	<td>
	 True
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.PathNumber)
    </td>
    <td>
       PathNumber
    </td>
	 <td>
       False
    </td>
	<td>
	 True
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Level)
    </td>
    <td>
       Level
    </td>
	 <td>
       False
    </td>
	<td>
	 True
	</td>
	
	<td>
	 False
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.OrderCount)
    </td>
    <td>
       OrderCount
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Subject)
    </td>
    <td>
       Subject
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpImageUrl)
    </td>
    <td>
       UpImageUrl
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Article)
    </td>
    <td>
       Article
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.ListNum)
    </td>
    <td>
       ListNum
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 Int32
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.YoutubeCode)
    </td>
    <td>
       YoutubeCode
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Poster)
    </td>
    <td>
       Poster
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.InitDate)
    </td>
    <td>
       InitDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.Updater)
    </td>
    <td>
       Updater
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 String
	</td>
	
</tr>
<tr>
    <td>
         @Html.DisplayNameFor(model => model.UpdateDate)
    </td>
    <td>
       UpdateDate
    </td>
	 <td>
       False
    </td>
	<td>
	 False
	</td>
	
	<td>
	 False
	</td>
	<td>
	 DateTime
	</td>
	
</tr>
</table>
</fieldset>
<p>
    @Html.ActionLink("編輯","Edit", new { id=Model.Id }) |
     <input type="button" onclick="history.back()" value="回到上一頁" />
</p>
