﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.ProductCategory

@{
    ViewBag.Title = "產品類別管理編輯";
}

<h2>產品類別管理編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductCategory</legend>

        @Html.HiddenFor(model => model.Id)
         @Html.HiddenFor(model => model.ParentId)

       
      @*<div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.MailId)
        </div>
        <div class="editor-field"  style="display: none">
            @Html.DropDownList("MailId")
            @Html.ValidationMessageFor(model => model.MailId)
           
        </div>*@

        @Html.HiddenFor(model => model.OrderCount)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ProductCategory>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label"  style="display: none">
            @Html.LabelFor(model => model.UpImageUrl)
        </div>
        <div class="editor-field" style="display: none">
            <input type="file" name="UpImageUrls" />
            @Html.HiddenFor(model => model.UpImageUrl)
            @if (!string.IsNullOrEmpty(Model.UpImageUrl))
            {
                <img src="~/upfiles/images/S@(Model.UpImageUrl)" />
            }
           
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field" style="display: none">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
           
        </div>
         <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field"  style="display: none">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
 <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PromotionProductStatus))), "請選擇")
            @Html.ValidationMessageFor(model => model.Status)

        </div>
            @Html.HiddenFor(model => model.ListNum)
        
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
