﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.ProductCategory>

@{
    ViewBag.Title = "產品類別管理列表";
}

<h2>產品類別管理列表</h2>
<p>
    @Html.ActionLink("新增", "Create", new { ParentId=@ViewBag.ParentId})
</p>


<div>
    所在位置: @Html.ActionLink("最上層","Index", new { id=0})  @Html.Raw(ViewBag.categoryPath)
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th style="display: none">
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
         <th>
            新排序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Updater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpdateDate)
        </th>
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        @if (item.Level >1)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            
        }
        else
        {
            <td>
                @Html.ActionLink(item.Subject, "Index", new {id = item.Id})
            </td>
        }
<td style="display: none">
            @if (!string.IsNullOrEmpty(item.UpImageUrl))
            {
                <img src="~/upfiles/images/S@(item.UpImageUrl)"/>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.ListNum, new {@class = "position"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Updater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new {id = item.Id}) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new {id = item.Id})
            @Html.Hidden("Cid", item.Id)
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("Sort",null))
    {
        <div>
            <input type="hidden" id="sortData" name="sortData"/>
            <input type="submit" value="更新排序" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </div>
    }

@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
   
    <script>
        $(document).ready(function () {
            $("table").tableDnD({
                onDragClass: "showDragHandle",
                onDrop: function (table, row) {
                    var rows = table.tBodies[0].rows;
                    var map = "";
                    for (var i = 1; i < rows.length; i++) {
                        $(rows[i]).find(".position").val(i);
                        map += $(rows[i]).find("#Cid").val() + ":" + i + ",";
                    }
                    $("#sortData").val(map);
                }
            });
        });
    </script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}

