﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.OrderAndReturnProduct

@{
    ViewBag.Title = "訂貨及退換貨管理編輯";
}

<h2>訂貨及退換貨管理編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>OrderAndReturnProduct</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.MallId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.OrderAndReturnProduct>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)


        </div>
      
      <div class="editor-label">
            @Html.LabelFor(model => model.OrderDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.OrderDescription,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.OrderDescription)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReturnDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ReturnDescription,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.ReturnDescription)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
