﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.PushMessage>

@{
    ViewBag.Title = "LBS推撥設定列表";
}

<h2>LBS推撥設定列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
    @using (Html.BeginForm())
    {
        <div>
          
            @Html.DisplayNameFor(model => model.FirstOrDefault().TownId):@Html.DropDownList("SearchByTownId", (IEnumerable<SelectListItem>) ViewBag.TownId, "不分區")
            <br/>發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker"/>
            <div>
                <input type="submit" value="搜尋"/>
            </div>
        </div>
    }
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Town.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
         <th>
            新排序
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @(item.Town==null?"不分區":item.Town.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
                @Html.TextBoxFor(modelItem => item.ListNum,new {@class="position"})
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
      
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

@using (Html.BeginForm("Sort",null))
    {
        <div>
            <input type="hidden" id="sortData" name="sortData"/>
            <input type="submit" value="更新排序" />
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>

     @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>

    <script>
    $(document).ready(function () {
        $("tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find("#ID").val() + ":" + (i + 1) + ",";
                }
                $("#sortData").val(map);
            }
        });
    });
</script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}


