﻿@using System.Collections

@model Fun2twModels.Models.Role

@{
    ViewBag.Title = "Create";
}

<h2 class="page-title"><i class="fa fa-pencil-square-o"></i>新增角色</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>角色</legend>
<table class="table table-h">
  <tr>
    <th width="120">
            @Html.LabelFor(model => model.Subject)
      
    </th>
    <td>
       @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
    </td>
  </tr>
  <tr>
    <th>
      
    </th>
    <td>
       @Html.LabelFor(model => model.Permission)
            <div id="tree3"></div>
            @Html.HiddenFor(model => model.Permission)
    </td>
  </tr>
  <tr>
    <th>
            @Html.LabelFor(model => model.Members)
      
    </th>
    <td>
      <div style="float: left">
                @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))
            </div>
            <div style="float: left; width: 35px; padding: 0px 10px;">
                <input type="button" value="==＞" id="toRight"/>
                <input type="button" value="＜==" id="toLeft" />
            </div>
            <div style="float: left">
                <select name="MemberListSelect" multiple="multiple" id="MemberListSelect">
                </select>
            </div>
         <div style="clear: both"></div>

            @Html.ValidationMessageFor(model => model.Members)
    </td>
  </tr>
 
  
</table>
       

    </fieldset>
     <input type="submit" value="新增" class="btn-button" />
}

<div>
    @Html.ActionLink("回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Role/TreeScript/0" type="text/javascript"></script>
   <script>
       $(document).ready(function () {
           $("#toRight").click(function () {

               $("#MemberList").children(":selected").each(function () {
                   $(this).appendTo("#MemberListSelect");
               });
           });
           
           $("#toLeft").click(function () {

               $("#MemberListSelect").children(":selected").each(function () {
                   $(this).appendTo("#MemberList");
               });
           });

       });
    </script>
}
