﻿@using System.Collections

@model Fun2twModels.Models.Role

@{
    ViewBag.Title = "Edit";
}

<h2 class="page-title"><i class="fa fa-pencil-square-o"></i>角色維護</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>角色維護</legend>

        @Html.HiddenFor(model => model.Id)

        <table class="table table-h">
    <tr>
        <th width="120">
            @Html.LabelFor(model => model.Subject)
            
        </th>
        <td>
              @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </td>
    </tr>
    <tr>
        <th>
             @Html.LabelFor(model => model.Permission)
           
        </th>
        <td> <div id="tree3"></div>
            @Html.HiddenFor(model => model.Permission)
            
        </td>
    </tr>
    <tr>
        <th>
            @Html.LabelFor(model => model.Members)
            
        </th>
        <td>
             <div style="float: left">
                @Html.ListBox("MemberList", new SelectList(ViewBag.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))
            </div>
            <div style="float: left; width: 35px; padding: 0px 10px;">
                <input type="button" value="-&gt;" id="toRight"/>
        <input type="button" value="&lt;-" id="toLeft"/>
            </div>
                <div style="float: left">
                @Html.ListBox("selectMembers", new SelectList(Model.Members as IEnumerable, "Id", "Name", new { Multiple = "multiple" }))
              
              <input type="hidden" id="MemberListSelect" name="MemberListSelect" />
            </div>
            <div style="clear: both"></div>
 

            @Html.ValidationMessageFor(model => model.Members)
        </td>
    </tr>
   
</table>

        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.Poster)
        <p>
            <input type="submit" value="儲存" class="btn-button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("回列表", "Index")
</div>

@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery-ui.custom.js" type="text/javascript"></script>


    <link href="~/Content/themes/base/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
    <script src="~/Scripts/jquery.dynatree.js" type="text/javascript"></script>
    <script src="~/Role/TreeScript/@Model.Id" type="text/javascript"></script>
    <script>
        $(document).ready(function () {

            initMemberListSelect();

            $("#toRight").click(function() {

                $("#MemberList").children(":selected").each(function() {
                    $(this).appendTo("#selectMembers");
                });
                initMemberListSelect();
            });

            $("#toLeft").click(function() {

                $("#selectMembers").children(":selected").each(function () {
                    $(this).appendTo("#MemberList");
                });
                initMemberListSelect();
            });

            function initMemberListSelect() {
                var list = '';
                $("#selectMembers").children().each(function () {
                    list += $(this).val() + ",";
                });
                $("#MemberListSelect").val(list);
            }

        });
    </script>

}
