﻿@model IEnumerable<Fun2twModels.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>角色列表</h2>
<div class="top">
   
   @Html.ActionLink("建立角色", "Create",null, new { @class = "btn btn-primary" })
</div>



<table class="table table-v">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.InitDate)
        </th>
       
        <th>功能</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id },new { @class = "btn btn-primary" }) 
            @Html.ActionLink("詳細內容", "Details", new { id=item.Id },new { @class = "btn btn-primary" })
            @Html.ActionLink("刪除", "Delete", new { id=item.Id },new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
