﻿@using Fun2twModels.Models
@model Fun2twModels.Models.ContactUS

@{
    ViewBag.Title = "聯絡我們管理新增";
}

<h2>聯絡我們管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>ContactUS</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ContactUS>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ContactUS>.GetDisplayName("Name") })
            @Html.ValidationMessageFor(model => model.Name)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ContactUS>.GetDisplayName("Email") })
            @Html.ValidationMessageFor(model => model.Email)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Tel,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ContactUS>.GetDisplayName("Tel") })
            @Html.ValidationMessageFor(model => model.Tel)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    
}
