﻿
@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.FAQ>

@{
    ViewBag.Title = "問與答管理列表";
}

<h2>問與答管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                @Html.DisplayNameFor(model => model.FirstOrDefault().ClassId):@Html.DropDownList("SearchByClassId", (IEnumerable<SelectListItem>)ViewBag.ClassId, "請選擇")
                @Html.DisplayNameFor(model => model.FirstOrDefault().Language): @Html.DropDownList("SearchByLanguage", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))), "請選擇")
    <br/>發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        <input type="submit" value="搜尋" />
    </div>
}

<table class="table">
    <tr>
        <th  width="290px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FaqCategory.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Views)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ListNum)
        </th>
         <th>
            新排序
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaqCategory.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Views)
        </td>
        <td>
                 @Html.DisplayFor(modelItem => item.ListNum)
        </td>
        <td>
                @Html.TextBoxFor(modelItem => item.ListNum,new {@class="position"})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

@using (Html.BeginForm("Sort",null))
    {
        <div>
            <input type="hidden" id="sortData" name="sortData"/>
            <input type="submit" value="更新排序" />
        </div>
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/jquery.tablednd.0.5.js")" type="text/javascript"></script>
   
<script>
    $(document).ready(function () {
        $("tbody").tableDnD({
            onDragClass: "showDragHandle",
            onDrop: function (table, row) {
                var rows = table.rows;
                var map = "";
                for (var i = 0; i < rows.length; i++) {
                    $(rows[i]).find(".position").val(i + 1);
                    map += $(rows[i]).find("#ID").val() + ":" + (i + 1) + ",";
                }
                $("#sortData").val(map);
            }
        });
    });
</script>
    <style>
        .position {
            width: 27px;
        }
    </style>
}


