﻿@using Fun2twAdmin.Helpers
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.CustomerLog>

@{
    ViewBag.Title = "會員使用紀錄";
}

<h2>會員使用紀錄</h2>




<table class="table">
    <tr>
         <th>
            會員帳號
        </th>
        <th>
            瀏覽頁面
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>

       
        <td>
            @item.InitDate
        </td>

    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

