﻿@using Fun2twModels.Models
@model Fun2twModels.Models.CarMember

@{
    ViewBag.Title = "座位辨識新增";
}

<h2>座位辨識新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>CarMember</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Car)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("Car") })
            @Html.ValidationMessageFor(model => model.Car)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Count,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("Count") })
            @Html.ValidationMessageFor(model => model.Count)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.inCount)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.inCount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("inCount") })
            @Html.ValidationMessageFor(model => model.inCount)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outCount)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.outCount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("outCount") })
            @Html.ValidationMessageFor(model => model.outCount)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MTime)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MTime,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("MTime") })
            @Html.ValidationMessageFor(model => model.MTime)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
