﻿@model Fun2twModels.Models.CarMember

@{
    ViewBag.Title = "座位辨識刪除";
}

<h2>座位辨識刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CarMember</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Car)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Car)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.inCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.inCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.outCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.outCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
