﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.CarMember

@{
    ViewBag.Title = "座位辨識編輯";
}

<h2>座位辨識編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CarMember</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Car)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Car,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("Car") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Count,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("Count") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.inCount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.inCount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("inCount") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.outCount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.outCount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("outCount") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MTime, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("MTime")})

        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CarMember>.GetDisplayName("MTime") })
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
