﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.CarMember>

@{
    ViewBag.Title = "座位辨識列表";
}

<h2>座位辨識列表</h2>



    @using (Html.BeginForm())
{
<div style="display:none">
    	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().inCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().outCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Poster)
        </td>
        <td>
            @item.InitDate
        </td>
       
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

