﻿@using Fun2twModels.Models
@model TravelOrder

@{
    ViewBag.Title = "Check";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>核銷套票</title>
<style>
        h2 {
            color: #00b1c9;
        }
        body {
            font-family: 微軟正黑體,sans-serif;
            text-align: center;
        }
        .cen img {
            width: 150px;
            margin: 20px;
        }
        .btn {
            text-align: center;
            font-size: 1em;
            width: 150px;
            display: inline-block;
            padding: 5px;
            background: #00b1c9;
            color: white;
            border-radius: 5px;
            border: 0;
            outline: 0;
            box-shadow: none;
            cursor: pointer;
        }
        .style-line {
            height: 2px;
            background: #00b1c9;
        }
    </style>
</head>
<body>
    <div>
        <div style="color: red">@ViewBag.Message</div>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2>瘋趣台灣-套票核銷</h2>
            <div class="cen">
                <img src="http://www.fun2tw.com/qrcode/@(Model.QRCode).PNG" style="width: 80px; height: 80px"/>

                <div class="boxPrint">
                    <p>
                        編號：@Model.Id
                        @Html.HiddenFor(model => model.Id)
                    </p>
                    <p>
                        行程名稱：@Model.Product.Subject
                        @Html.HiddenFor(model => model.Product.Subject)
                    </p>
                    <p>
                        購買人：@Model.OrderName
                         @Html.HiddenFor(model => model.OrderName)
                    </p>
                    <p>
                        購買日期：@Model.InitDate.GetValueOrDefault().Date.ToString("yyyy/MM/dd")
                        @Html.HiddenFor(model => model.InitDate)
                    </p>
                    <p>
                        出發日期：@Model.ActityDate.Date.ToString("yyyy/MM/dd")
                        @Html.HiddenFor(model => model.ActityDate)
                    </p>
                  <p>
                        使用與否：@Model.TicketUseStatus
                    </p>
                    <div style="display: none">
                        <select id="BooleanType" name="BooleanType">
                            <option selected="selected">是</option>
                            <option>否</option>
                        </select>
                    </div>

                </div>

            </div>
            <div>
                
                @Html.HiddenFor(model => model.Orderid)
               @Html.HiddenFor(model => model.OrderTelphone)
                @Html.HiddenFor(model => model.OrderMobile)
                @Html.HiddenFor(model => model.FAX)
                @Html.HiddenFor(model => model.OrderAddress)
                @Html.HiddenFor(model => model.CustomerMemo)
                @Html.HiddenFor(model => model.PayType)
                @Html.HiddenFor(model => model.OrderStatus)
                @Html.HiddenFor(model => model.CustomerId)
                @Html.HiddenFor(model => model.Total)
                @Html.HiddenFor(model => model.ProcesssMemo)   
                @Html.HiddenFor(model => model.Updater)
               @Html.HiddenFor(model => model.OrderEnglishName)
                @Html.HiddenFor(model => model.CarArea)  
                @Html.HiddenFor(model => model.SchduleId)
                @Html.HiddenFor(model => model.RemittanceName)   
                @Html.HiddenFor(model => model.RemittanceAccount)
                @Html.HiddenFor(model => model.Coupon)
                @Html.HiddenFor(model => model.Source)
                @Html.HiddenFor(model => model.QRCode)
                @Html.HiddenFor(model => model.UseDate)
                @Html.HiddenFor(model => model.Poster)
                @Html.HiddenFor(model => model.InitDate)
                @Html.HiddenFor(model => model.UpdateDate)

                @if (@Model.TicketUseStatus == TravelTicketUseStatus.否)
                {
                    <input type="submit" value="已領取"/>
                }




            </div>

        }
    </div>
</body>
</html>
