﻿@{
    ViewBag.Title = "CheckError";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>您非此供應商沒有權限核銷此票券</title>
</head>
<body>
    <div>
        <h1>您非此供應商沒有權限核銷此票券</h1>
    </div>
</body>
</html>