﻿
@using Fun2twModels.Models
@model TravelOrder

@{
    ViewBag.Title = "熱門行程核銷編輯";
    Member member = ViewBag.Member;
    
}

<h2>多型態套票活動核銷編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PackageTicketOrderDetails</legend>

        @Html.HiddenFor(model => model.Id)

     
        <div class="editor-label"><h3>
                @Model.Product.Subject</h3>
           
        </div>
        <br/>
        <div class="editor-label">
            @Html.LabelFor(model => model.TicketUseStatus)
        </div>
        <div class="editor-field">
       
                @Html.DropDownListFor(model => model.TicketUseStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelTicketUseStatus))))
                @Html.ValidationMessageFor(model => model.TicketUseStatus)
           

          

        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.QRCode)
        </div>
        <div>
           
           <img src="http://www.fun2tw.com/qrcode/@(Model.QRCode).png" style="width:80px;height:80px"/>
        </div>
        @Html.HiddenFor(model => model.Orderid)
        @Html.HiddenFor(model => model.OrderName)
        @Html.HiddenFor(model => model.OrderTelphone)
        @Html.HiddenFor(model => model.OrderMobile)
        @Html.HiddenFor(model => model.FAX)
        @Html.HiddenFor(model => model.OrderAddress)
        @Html.HiddenFor(model => model.CustomerMemo)
        @Html.HiddenFor(model => model.PayType)
        @Html.HiddenFor(model => model.OrderStatus)
        @Html.HiddenFor(model => model.CustomerId)
       @Html.HiddenFor(model => model.Total)
        @Html.HiddenFor(model => model.ProcesssMemo)   
        @Html.HiddenFor(model => model.Updater)
        @Html.HiddenFor(model => model.ActityDate)   
        @Html.HiddenFor(model => model.OrderEnglishName)
        @Html.HiddenFor(model => model.CarArea)  
        @Html.HiddenFor(model => model.SchduleId)
        @Html.HiddenFor(model => model.RemittanceName)   
        @Html.HiddenFor(model => model.RemittanceAccount)
        @Html.HiddenFor(model => model.Coupon)
        @Html.HiddenFor(model => model.Source)
        @Html.HiddenFor(model => model.QRCode)
      @Html.HiddenFor(model => model.UseDate)
@Html.HiddenFor(model => model.OrderEmail)
            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    }
