﻿@using Fun2twAdmin.Helpers
@using Fun2twModels.Models
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.TravelOrder>
@{
    ViewBag.Title = "熱門行程核銷列表";
}

<h2>熱門行程核銷列表</h2>



    @using (Html.BeginForm())
{
    <div>
        <div>@Html.DisplayNameFor(model => model.FirstOrDefault().Orderid):@Html.InputSearchBox("SearchByOrderid", ViewData["SearchByOrderid"])</div>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Subject):@Html.InputSearchBox("SearchByActionName", ViewData["SearchByActionName"])
            @Html.DisplayNameFor(model => model.FirstOrDefault().TicketUseStatus)：@Html.DropDownList("SearchByBooleanType", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelTicketUseStatus))), "請選擇")


        





        </div>
    <div>
        訂單日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        使用日期：<input type="text" name="SearchByUseStartDate" value="@ViewData["SearchByUseStartDate"]" class="datepicker" /> ~ <input type="text" name="SearchByUseEndDate" value="@ViewData["SearchByUseEndDate"]" class="datepicker" />
    </div>
 <div>
     <input type="submit" value="搜尋" />
     <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>

    
}

<table class="table">
    <tr>
     
        <th>
            訂單編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Product.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TicketUseStatus)
        </th>
       
        <th>
            訂單日期
        </th>
        <th>
            使用日期
        </th>
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
   
        <tr>
     
            <td>
                @Html.DisplayFor(modelItem => item.Orderid)
                
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketUseStatus)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new {id = item.Id})
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @*@Html.ActionLink("刪除", "Delete", new { id=item.Id })*@
            @Html.Hidden("ID", item.Id)
        </td>
    </tr>
    

}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

