﻿@using Fun2twModels.Models
@model Fun2twModels.Models.TravelSchdule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
    <script src="@Url.Content("~/Scripts/jquery.colorbox-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/colorbox.css")" rel="stylesheet" type="text/css"/>
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @{
    if (ViewBag.close == "true")
    {
        <script>
            $(document).ready(function () {
                parent.$.fn.colorbox.close();
                parent.location = '@Url.Action("Edit", "TravelProduct", new { id = ViewBag.ProductId, type = "2" })';
            });
        </script>
    }
    
      
    }
    <style>
        .position {
            width: 27px;
        }
    </style>
        @using (Html.BeginForm()) {
    
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @ViewBag.Message
        <fieldset>
            <legend>新增行程</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Subject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("Subject") })
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.EnSubject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("EnSubject") })
                @Html.ValidationMessageFor(model => model.EnSubject)
            </div>

             <div class="editor-label">
                @Html.LabelFor(model => model.JpSubject)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.JpSubject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("JpSubject") })
                @Html.ValidationMessageFor(model => model.JpSubject)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Article)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Article, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.Article)
            </div>

             <div class="editor-label">
                @Html.LabelFor(model => model.EnArticle)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.EnArticle, new {@class = "ckeditor"})
                @Html.ValidationMessageFor(model => model.EnArticle)
            </div>

             <div class="editor-label">
                @Html.LabelFor(model => model.JpArticle)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.JpArticle,new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.JpArticle)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Breakfast)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Breakfast, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("Breakfast")})
                @Html.ValidationMessageFor(model => model.Breakfast)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EnBreakfast)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnBreakfast, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("EnBreakfast")})
                @Html.ValidationMessageFor(model => model.EnBreakfast)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.JpBreakfast)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.JpBreakfast, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("JpBreakfast")})
                @Html.ValidationMessageFor(model => model.JpBreakfast)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Lunch)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Lunch, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("Lunch")})
                @Html.ValidationMessageFor(model => model.Lunch)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EnLunch)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnLunch, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("EnLunch")})
                @Html.ValidationMessageFor(model => model.EnLunch)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.JpLunch)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.JpLunch,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("JpLunch") })
                @Html.ValidationMessageFor(model => model.JpLunch)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Dinner)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Dinner, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("Dinner")})
                @Html.ValidationMessageFor(model => model.Dinner)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EnDinner)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnDinner, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("EnDinner")})
                @Html.ValidationMessageFor(model => model.EnDinner)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.JpDinner)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.JpDinner,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("JpDinner") })
                @Html.ValidationMessageFor(model => model.JpDinner)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Stay)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Stay, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("Stay")})
                @Html.ValidationMessageFor(model => model.Stay)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.EnStay)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnStay, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("EnStay")})
                @Html.ValidationMessageFor(model => model.EnStay)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.JpStay)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.JpStay, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.TravelSchdule>.GetDisplayName("JpStay")})
                @Html.ValidationMessageFor(model => model.JpStay)
            </div>

            <input type="hidden" name="ProductId" value="@ViewBag.ProductId"/>
                 @Html.Hidden("ListNum","0")
            <p>
                <input type="submit" value="新增" />
            </p>
        </fieldset>
    }
    
    
</body>
</html>
