﻿@model Fun2twModels.Models.TravelSchdule

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>刪除</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>TravelSchdule</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Subject)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Subject)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.TravelProduct.Subject)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.TravelProduct.Subject)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Article)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Article)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Breakfast)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Breakfast)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Lunch)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Lunch)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Dinner)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Dinner)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Stay)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Stay)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ListNum)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ListNum)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Poster)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Poster)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.InitDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.InitDate)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Updater)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Updater)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.UpdateDate)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UpdateDate)
        </div>
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="刪除" /> |
            <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    }

</body>
</html>
