﻿@using Fun2twModels.Models
@model Fun2twModels.Models.LbsNews

@{
    ViewBag.Title = "景點推撥設定新增";
}

<h2>景點推撥設定新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>LbsNews</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.LbsNews>.GetDisplayName("Subject")})
            @Html.ValidationMessageFor(model => model.Subject)


        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.LbsNews>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
       
            
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lat)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lat,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.LbsNews>.GetDisplayName("Lat") })
            @Html.ValidationMessageFor(model => model.Lat)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lon)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Lon, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.LbsNews>.GetDisplayName("Lon")})
            @Html.ValidationMessageFor(model => model.Lon)


        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Distance)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Distance,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.LbsNews>.GetDisplayName("Distance") })
            @Html.ValidationMessageFor(model => model.Distance)
       
            
        </div>

        <p>
              <input name="Views" value="0" type="hidden"/>
            <input type="submit" value="新增"/><input type="button" onclick="history.back()" value="回到上一頁"/>
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
        @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
