﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Coupon

@{
    ViewBag.Title = "優惠卷下載管理新增";
}

<h2>優惠卷下載管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Coupon</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Coupon>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndUseDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndUseDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.EndUseDate)
       
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Coupon>.GetDisplayName("Description") })
            @Html.ValidationMessageFor(model => model.Description)

        </div>
      

             @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
        @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
