﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.ThemeVideo

@{
    ViewBag.Title = "旅遊主題影片編輯";
}

<h2>旅遊主題影片編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ThemeVideo</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.ThemeVideo>.GetDisplayName("Subject")})

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TownId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("TownId","不分區")
            @Html.ValidationMessageFor(model => model.TownId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.ThemeVideo>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
           
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeUrl)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.ThemeVideo>.GetDisplayName("YoutubeUrl") })
           
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate, "{0:d}", new {@class = "datepicker", target = ""})

        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.ListNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ListNum)
            @Html.ValidationMessageFor(model => model.ListNum)
       
            
        </div>
        @Html.HiddenFor(model => model.Views)

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
