﻿
@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.ThemeVideo>

@{
    ViewBag.Title = "旅遊主題影片列表";
}

<h2>旅遊主題影片列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

    @using (Html.BeginForm())
{
<div>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Subject):@Html.InputSearchBox("SearchBySubject", ViewData["SearchBySubject"])
                @Html.DisplayNameFor(model => model.FirstOrDefault().Language): @Html.DropDownList("SearchByLanguage", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))), "請選擇")
    <br/>
        	發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/> ~ <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
 <div>
        <input type="submit" value="搜尋" />
    </div>

    
}

<table class="table">
    <tr>
        <th width="300px">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UpImageUrl)
        </th>
      
      
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().InitDate)
        </th>
       
        <th></th>
    </tr>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
       <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>

            <img src="@item.UpImageUrl"/>
        </td>
       
      
      
        <td>
            @Html.DisplayFor(modelItem => item.InitDate)
        </td>
     
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
            @Html.Hidden("ID",item.Id)
        </td>
    </tr>
}
</tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

