﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.News

@{
    ViewBag.Title = "最新消息管理編輯";
}

<style>
    .editor-field img {
        width: 600px!important;
        height: auto!important;
    }
</style>

<h2>最新消息管理編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>News</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.News>.GetDisplayName("Subject") })
           
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)
        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
            @Html.HiddenFor(model => model.UpImageUrl)
            @if (!string.IsNullOrEmpty(Model.UpImageUrl))
            {
                <img src="~/upfiles/images/@Model.UpImageUrl" />
            }

        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Language)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.Language))))
            @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId")
            @Html.ValidationMessageFor(model => model.CategoryId)

        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.TownId)

        </div>
        <div class="editor-field">
            @Html.DropDownList("TownId","不分區")
            @Html.ValidationMessageFor(model => model.TownId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article,new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
           
        </div>

        @Html.HiddenFor(model => model.Views)


        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.StartDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, "{0:d}", new {@class = "datepicker", target = ""})
            @Html.ValidationMessageFor(model => model.EndDate)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate, "{0:d}", new {@class = "datepicker", target = ""})

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.ListNum)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ListNum)
            @Html.ValidationMessageFor(model => model.ListNum)
       
            
        </div>
        @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

   <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
        @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker({ changeYear: true, changeMonth: true, currentText: "Now", dateFormat: "yy/mm/dd", showButtonPanel: true });
        });

      
    </script>

    }
