﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicketOrder

@{
    ViewBag.Title = "交通套票訂單管理新增";
}

<h2>交通套票訂單管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>PackageTicketOrder</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Orderid)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Orderid,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("Orderid") })
            @Html.ValidationMessageFor(model => model.Orderid)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActityDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ActityDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.ActityDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageTicketIdCh)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PackageTicketIdCh,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("PackageTicketIdCh") })
            @Html.ValidationMessageFor(model => model.PackageTicketIdCh)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageTicketIdEn)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PackageTicketIdEn,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("PackageTicketIdEn") })
            @Html.ValidationMessageFor(model => model.PackageTicketIdEn)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PackageTicketIdJp)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PackageTicketIdJp,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("PackageTicketIdJp") })
            @Html.ValidationMessageFor(model => model.PackageTicketIdJp)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarType)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarType,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("CarType") })
            @Html.ValidationMessageFor(model => model.CarType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarCode)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarCode,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("CarCode") })
            @Html.ValidationMessageFor(model => model.CarCode)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BooleanType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.BooleanType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.BooleanType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderName") })
            @Html.ValidationMessageFor(model => model.OrderName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEnglishName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderEnglishName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEnglishName") })
            @Html.ValidationMessageFor(model => model.OrderEnglishName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderEmail)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderEmail,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEmail") })
            @Html.ValidationMessageFor(model => model.OrderEmail)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderTelphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderTelphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderTelphone") })
            @Html.ValidationMessageFor(model => model.OrderTelphone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderMobile)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderMobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderMobile") })
            @Html.ValidationMessageFor(model => model.OrderMobile)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerMemo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.CustomerMemo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("CustomerMemo") })
            @Html.ValidationMessageFor(model => model.CustomerMemo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PayType, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PayType))))
            @Html.ValidationMessageFor(model => model.PayType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.TravelOrderStatus))))
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Total,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("Total") })
            @Html.ValidationMessageFor(model => model.Total)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProcesssMemo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ProcesssMemo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("ProcesssMemo") })
            @Html.ValidationMessageFor(model => model.ProcesssMemo)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemittanceName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RemittanceName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("RemittanceName") })
            @Html.ValidationMessageFor(model => model.RemittanceName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RemittanceAccount)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.RemittanceAccount,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("RemittanceAccount") })
            @Html.ValidationMessageFor(model => model.RemittanceAccount)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
