﻿@model Fun2twModels.Models.PackageTicketOrder

@{
    ViewBag.Title = "交通套票訂單管理刪除";
}

<h2>交通套票訂單管理刪除</h2>

<h3>你確定要刪除嗎?</h3>
<fieldset>
    <legend>PackageTicketOrder</legend>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
