﻿@using Fun2twModels.Models
@model Fun2twModels.Models.PackageTicketOrder

@{
    ViewBag.Title = "交通套票訂單管理編輯";
    string DetailsId = "";
}

<h2>交通套票訂單管理編輯</h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PackageTicketOrder</legend>

        @Html.HiddenFor(model => model.Id)


        <div class="editor-field">
            訂購時間: @Model.ActityDate
            @Html.HiddenFor(model => model.ActityDate)
        </div>

        <table border="0" class="od1 table table-bordered">
            <tr>
                <th class="l_4">訂單編號
                    @Html.HiddenFor(model => model.Orderid)
                </th>
                <td class="gt2" colspan="3">
                    @Model.Orderid
                </td>
            </tr>
            <tr>
                <th class="l_4">訂購會員
                    @Html.HiddenFor(model => model.CustomerId)
                </th>
                <td class="gt2" colspan="1">
                    @Html.DisplayFor(model => model.Customers.Name)

                </td>
                <td class="gt2" colspan="2">

                    @Html.DisplayFor(model => model.Customers.Account)

                </td>
            </tr>
            <tr>
                <th class="l_4">訂單處理狀態
                </th>
                <td class="gt2">
                    @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                    {
                        @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PackageTicketOrderStatus))))
                        @Html.ValidationMessageFor(model => model.OrderStatus)
                    }
                    else
                    {
                        @Model.OrderStatus
                        @Html.ValidationMessageFor(model => model.OrderStatus)
                    }


                </td>
                <th class="l_4">付款方式
                @Html.HiddenFor(model => model.PayType)
                </th>
                <td class="gt2" style="color: #000;">
                    @Model.PayType
                </td>
            </tr>
            @if (Model.OrderStatus == PackageTicketOrderStatus.取消訂單)
            {    <tr>
        <th width="130" class="l_2">取消訂單日期
                       
        </th>
        <td colspan="3">

            @Model.CancelDate
        </td>

    </tr>
            }

            <tbody>
                <tr>
                    <th width="130" class="l_2">套票名稱
                        @Html.HiddenFor(model => model.PackageTicketIdCh)
                        @Html.HiddenFor(model => model.PackageTicketIdEn)
                        @Html.HiddenFor(model => model.PackageTicketIdJp)
                    </th>
                    <td colspan="3">

                        @Model.PackageTicketIdCh
                    </td>

                </tr>
                <tr>
                    <th width="130" class="l_2">
                        <span style="color: red"></span>中文姓名
                    </th>
                    <td class="l_2 gt2" width="180">

                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                            @Html.TextBoxFor(model => model.OrderName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderName") })
              
                        }
                        else
                        {
                            @Model.OrderName
                            @Html.ValidationMessageFor(model => model.OrderName)
                        }

                    </td>
                    <th width="130" class="l_2">英文姓名
                    </th>
                    <td class="l_2 gt2" style="color: #000;">
                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                            @Html.TextBoxFor(model => model.OrderEnglishName, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEnglishName") })

                        }
                        else
                        {
                            @Model.OrderEnglishName
                            @Html.ValidationMessageFor(model => model.OrderEnglishName)
                        }

                    </td>
                </tr>
                <tr>
                    <th class="l_4">
                        <span style="color: red"></span>聯絡電話
                    </th>
                    <td class="gt2">
                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                            @Html.TextBoxFor(model => model.OrderTelphone, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderTelphone") })

                        }
                        else
                        {
                            @Model.OrderTelphone
                            @Html.ValidationMessageFor(model => model.OrderTelphone)
                        }

                    </td>
                    <th class="l_4">行動電話
                    </th>
                    <td class="gt2" style="color: #000;">
                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                  
                            @Html.TextBoxFor(model => model.OrderMobile, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderMobile") })
              
                        }
                        else
                        {
                            @Model.OrderMobile
                            @Html.ValidationMessageFor(model => model.OrderMobile)
                        }



                    </td>
                </tr>
                <tr>
                    <th class="l_4">車票種類
                    </th>
                    <td class="gt2">
                        @Model.CarType
                    </td>
                    <th class="l_4">車票兌換碼
                    </th>
                    <td class="gt2" style="color: #000;">
                        @Model.CarCode
                    </td>
                </tr>
                <tr>
                    <th class="l_4">車票兌換與否
                    </th>
                    <td class="gt2">
                        @Model.CarUseStatus
                    </td>
                    <th class="l_4">
                        <span style="color: red"></span>Email
                    </th>
                    <td class="gt2" style="color: #000;">
                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                  
                            @Html.TextBoxFor(model => model.OrderEmail, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("OrderEmail") })
                    
                        }
                        else
                        {
                            @Model.OrderEmail
                            @Html.ValidationMessageFor(model => model.OrderEmail)
                        }

                    </td>
                </tr>

                <tr>
                    <th class="l_4">是否寄送代收轉付收據
                    </th>
                    <td class="gt2">
                        @if (!string.IsNullOrEmpty(Model.Address))
                        {
                            <span>是</span>
                        }
                        else
                        {
                            <span>否</span>
                        }
                    </td>
                    <th class="l_4">
                        <span style="color: red"></span>寄送地址
                    </th>
                    <td class="gt2" style="color: #000;">
                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                  
                            @Html.TextBoxFor(model => model.Address, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("Address") })
                    
                        }
                        else
                        {
                            @Model.Address
                            @Html.ValidationMessageFor(model => model.Address)
                        }
                    </td>
                </tr>
                <tr>
                    <th class="l_4">特別需求
                        @Html.HiddenFor(model => model.CustomerMemo)
                    </th>
                    <td class="gt2" colspan="3">
                        @Model.CustomerMemo

                    </td>
                </tr>
                <tr>
                    <th class="l_4">處理備註
                    </th>
                    <td class="gt2" colspan="3">


                        @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
                        {
                            @Html.TextAreaFor(model => model.ProcesssMemo, new { @style = "height: 100px; width:800px;", placeholder = ModelsAttributeHelper<Fun2twModels.Models.PackageTicketOrder>.GetDisplayName("ProcesssMemo") })
                            @Html.ValidationMessageFor(model => model.ProcesssMemo)
                        }
                        else
                        {
                            @Model.ProcesssMemo
                            @Html.ValidationMessageFor(model => model.ProcesssMemo)
                        }




                    </td>
                </tr>
                <tr>
                    <th class="l_4">總金額
                        @Html.HiddenFor(model => model.Total)
                    </th>
                    <td class="gt2" colspan="3">
                        <span style="color: red">@Model.Total</span>
                    </td>
                </tr>

            </tbody>
        </table>
        @Html.HiddenFor(model => model.CarCode)
        @Html.HiddenFor(model => model.CarType)
        @Html.HiddenFor(model => model.ProcesssMemo)
        @Html.HiddenFor(model => model.RemittanceName)
        @Html.HiddenFor(model => model.RemittanceAccount)
        @Html.HiddenFor(model => model.CarUseStatus)
        @Html.HiddenFor(model => model.Poster)
        @Html.HiddenFor(model => model.UpdateDate)
        @Html.HiddenFor(model => model.InitDate)
        @Html.HiddenFor(model => model.Updater)
        @Html.HiddenFor(model => model.PackageTicketsTransactionId)
        @Html.HiddenFor(model => model.CancelDate)
        <h3>訂單明細</h3>
        <table class="table table-bordered">
            <thead>
                <th>活動名稱
                </th>

                <th>供應商
                </th>
                <th>是否使用
                </th>
                <th>使用日期
                </th>
            </thead>
            <tbody>

                @foreach (var item in Model.PackageTicketOrderDetail)
                {
                    DetailsId += @item.Id + "#";
                    <tr>
                        <td>
                            @item.ActionName
                        </td>
                        <td>
                            @item.Supplier.Subject
                        </td>
                        <td>
                            @item.TicketUseStatus

                        </td>
                        <td>
                            @if (item.UseDate != null)
                            {
                                <div>@item.UseDate.GetValueOrDefault().ToString("yyyy/MM/dd")</div>
                            }
                            else
                            {
                                <div>@item.UseDate</div>
                            }

                        </td>
                    </tr>
                }
            </tbody>






            <input type="hidden" name="DetailsId" value=@DetailsId />


        </table>

        <p>
            @if (Model.OrderStatus != PackageTicketOrderStatus.取消訂單)
            {
                <input type="submit" value="更新" />
            }
            <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>

}
