﻿@using Fun2twAdmin.Helpers
@using Fun2twModels.Models
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.PackageTicketOrder>

@{
    ViewBag.Title = "交通套票訂單管理列表";
}

<h2>交通套票訂單管理列表</h2>

<p style="display: none">
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>  @Html.DisplayNameFor(model => model.FirstOrDefault().PackageTicketsTransactionId):@Html.InputSearchBox("SearchByPackageTicketsTransactionId", ViewData["SearchByPackageTicketsTransactionId"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid):@Html.InputSearchBox("SearchByOrderid", ViewData["SearchByOrderid"])
    </div><div>
              @Html.DisplayNameFor(model => model.FirstOrDefault().CarUseStatus)：@Html.DropDownList("SearchByBooleanType",

                                                                                     new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PackageTicketUseStatus))), "請選擇")
              @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)：@Html.DropDownList("SearchByOrderStatus", new

                                                                                    SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PackageTicketOrderStatus))), "請選擇")

          </div>
     <div>
        使用日期：<input type="text" name="SearchByUseStartDate" value="@ViewData["SearchByUseStartDate"]" class="datepicker" />
        ~
        <input type="text" name="SearchByUseEndDate" value="@ViewData["SearchByUseEndDate"]" class="datepicker" />
    </div>
    <div>
        訂單日期：<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class="datepicker" />
        ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class="datepicker" />
    </div>
    <div>
        <input type="submit" value="搜尋" />
        <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>


}

<table class="table">
    <tr>
        <th>金流編號
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Orderid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ActityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PackageTicketIdCh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarUseStatus)
        </th>
        <th>活動核銷狀態
        </th>
        <th>使用日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderName)
        </th>
        <th>
            是否寄送收據
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Total)
        </th>

        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageTicketsTransactionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActityDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageTicketIdCh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarUseStatus)
                </td>
                <td>

                    @item.PackageTicketOrderDetail.Count(x => x.TicketUseStatus == PackageTicketUseStatus.是)

                    <span>/</span> @item.PackageTicketOrderDetail.Count
                </td>
                <td>
                    @if (item.PackageTicketOrderDetail.Count(x => x.TicketUseStatus == PackageTicketUseStatus.是) > 0)
                    {
                        <div>@item.PackageTicketOrderDetail.Where(x=>x.UseDate.HasValue).OrderBy(x=>x.UseDate).First().UseDate.Value.ToString("yyyy/MM/dd")</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Address))
                    {
                        <span>是</span>
                    }
                    else
                    {
                        <span>否</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
 
                <td style="width: 10%">
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id })
                    @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @*@Html.ActionLink("刪除", "Delete", new { id=item.Id })*@
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

