﻿@using Fun2twModels.Models
@model Fun2twModels.Models.CustomerVideo

@{
    ViewBag.Title = "玩家分享新增";
}

<h2>玩家分享新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>CustomerVideo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
       
            
        </div>

       
        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeUrl)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("YoutubeUrl")})
            @Html.ValidationMessageFor(model => model.YoutubeUrl)


        </div>

          <div class="editor-label">
            @Html.LabelFor(model => model.UpFile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UpFile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("UpFile") })
           
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
           
        </div>

        <input name="Views" value="0" type="hidden"/>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
