﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.CustomerVideo

@{
    ViewBag.Title = "玩家分享編輯";
}

<h2>玩家分享編輯</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" })) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomerVideo</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Subject") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Memo)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Memo,new { @style = "height: 150px",placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("Memo") })
            @Html.ValidationMessageFor(model => model.Memo)
           
        </div>

       
        <div class="editor-label">
            @Html.LabelFor(model => model.YoutubeUrl)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.YoutubeUrl, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("YoutubeUrl")})

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="editor-field">
            @(Model.Customers == null ? "" :Model.Customers.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpFile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.UpFile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.CustomerVideo>.GetDisplayName("UpFile") })

            <video id="video" controls="" width="320" height="240">
    <source src="http://www.fun2tw.com/VideoFiles/@Model.UpFile" />
</video>



            <div id="output"></div>


        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)

        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.InitDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InitDate,"{0:d}",new {@class="datepicker",target="" })
           
        </div>
        @Html.HiddenFor(model => model.Views)

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
            <script>
                (function () {
                    "use strict";

                    var video, $output;
                    var scale = 0.25;

                    var initialize = function () {
                        $output = $("#output");
                        video = $("#video").get(0);
                        $("#capture").click(captureImage);
                    };

                    var captureImage = function () {

                        var canvas = document.createElement("canvas");
                        canvas.width = video.videoWidth * scale;
                        canvas.height = video.videoHeight * scale;
                        canvas.getContext('2d')
                              .drawImage(video, 0, 0, canvas.width, canvas.height);

                        var img = document.createElement("img");
                        img.src = canvas.toDataURL();
                        $output.prepend(img);
                    };

                    $(initialize);

                }());
    </script>
    
}
