﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Products

@{
    ViewBag.Title = "供應商商品上架管理新增";
}

<h2>供應商商品上架管理新增</h2>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <H2 style="color:red">@ViewBag.Message</H2>
    <fieldset>
        <legend>Products</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClassId)

        </div>
    <div class="editor-field">
        @Html.DropDownList("ClassId", (SelectList)ViewBag.SelectList, "請選擇", new { id = "ClassId" }).
        @Html.ValidationMessageFor(model => model.ClassId)
       
    </div>

          <div class="editor-label">
           第二層類別
        </div>
        <div class="editor-field">
             <select id="ProductClassSecondId" name="ProductClassSecondId"><option>------</option></select>
        </div>

       

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("Subject") })
            @Html.ValidationMessageFor(model => model.Subject)
       
            
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductTotalQuantity)

        </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ProductTotalQuantity, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("ProductTotalQuantity") })
        @Html.ValidationMessageFor(model => model.ProductTotalQuantity)
       
            
    </div>
    

    <div class="editor-label">
            @Html.LabelFor(model => model.Productkey)

        </div>
        <div class="editor-field" >
            @Html.TextBoxFor(model => model.Productkey, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("Productkey") })
            @Html.ValidationMessageFor(model => model.Productkey)     
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Specification)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextBoxFor(model => model.Specification, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("Specification") })
            @Html.ValidationMessageFor(model => model.Specification)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UpImageUrl)

        </div>
        <div class="editor-field">
            <input type="file" name="UpImageUrls" />
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.ShortMemo)

        </div>
        <div class="editor-field" style="display: none">
            @Html.TextAreaFor(model => model.ShortMemo, new { @style = "height: 150px", placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("ShortMemo") })
            @Html.ValidationMessageFor(model => model.ShortMemo)
       
            
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.Description)

        </div>
        <div class="editor-field" >
            @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Description)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Article)

        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Article, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Article)
       
            
        </div>

      <div class="editor-label">
            @Html.LabelFor(model => model.OrderAndReturnProductId)

        </div>
    <div class="editor-field">
        
 
            @Html.DropDownList("OrderAndReturnProductId")
     
        @Html.ValidationMessageFor(model => model.OrderAndReturnProductId)


    </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.OnSalePrice)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OnSalePrice, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("OnSalePrice") })
            @Html.ValidationMessageFor(model => model.OnSalePrice)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { placeholder = ModelsAttributeHelper<Fun2twModels.Models.Products>.GetDisplayName("Price") })
            @Html.ValidationMessageFor(model => model.Price)
       
            
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Status)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.PromotionProductStatus)), PromotionProductStatus.上架))
            @Html.ValidationMessageFor(model => model.Status)
       
            
        </div>

      
            <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.Verify)

        </div>
           <div class="editor-field"style="display: none">
               @Html.DropDownListFor(model => model.Verify, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
               @Html.ValidationMessageFor(model => model.Verify)


           </div>
               <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.HotProduct)

        </div>
        <div class="editor-field" style="display: none">
            @Html.DropDownListFor(model => model.HotProduct, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
            @Html.ValidationMessageFor(model => model.HotProduct)
       
            
        </div>

        <div class="editor-label" style="display: none">
            @Html.LabelFor(model => model.HitoProduct)

        </div>
        <div class="editor-field" style="display: none">
            @Html.DropDownListFor(model => model.HitoProduct, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType)), BooleanType.否))
            @Html.ValidationMessageFor(model => model.HitoProduct)
       
            
        </div> 
            
    <div class="editor-label noshow">
        @Html.LabelFor(model => model.PayTypes)

    </div>
    <div class="editor-field noshow">

        @*<input type="checkbox" name="PayType" value="@PayType.信用卡刷卡" id="@PayType.信用卡刷卡" checked="checked"/>
        <label style="display: inline; padding-right: 20px" for="信用卡刷卡">信用卡刷卡</label>*@


        @foreach (var item in new SelectList(Enum.GetValues(typeof (Fun2twModels.Models.PayType)), PayType.信用卡刷卡))
        {
if (item.Text != "國民旅遊卡")
            {
            if (item.Selected)
            {
                <input type="checkbox" name="PayTypes" value="@item.Text" id="@item.Text" checked="checked"/>
            }
            else
            {
                <input type="checkbox" name="PayTypes" value="@item.Text" id="@item.Text"/>
            }
 <label style="display: inline; padding-right: 20px" for="@item.Text">@item.Text</label>
}
           
        }


    </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartDate, "{0:d}", new { @class = "datepicker", target = "" })
            @Html.ValidationMessageFor(model => model.StartDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndDate, "{0:d}", new { @class = "datepicker", target = "" })
            @Html.ValidationMessageFor(model => model.EndDate)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
    }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
            $(".noshow").hide();
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#ClassId').change(function() { ChangeProductClassManageFirst(); });

        });

        function ChangeProductClassManageFirst() {
            var selectedtext = $('#ClassId option:selected').text();
            if (selectedtext === "特惠票券") {
                $(".noshow").show();
            } else {
                $(".noshow").hide();
            }


            var selectedValue = $('#ClassId option:selected').val();
            if ($.trim(selectedValue).length > 0) {
                GetProductClassManageSecond(selectedValue);
            } else {
                $('#ProductClassSecondId').empty();
                $('#ProductClassSecondId').append($('<option></option>').val('').text('請選擇'));
            }


        }

        function GetProductClassManageSecond(ClassId) {
            $.ajax({
                url: '@Url.Action("ProductClassSecond", "Products")',
                data: { ClassId: ClassId },
                type: 'post',
                cache: false,
                async: false,
                dataType: 'json',
                success: function(data) {
                    if (data.length > 0) {
                        $('#ProductClassSecondId').empty();
                        $('#ProductClassSecondId').append($('<option></option>').val('').text('請選擇'));

                        $.each(data,
                            function(i, item) {
                                $('#ProductClassSecondId')
                                    .append($('<option></option>').val(item.Key).text(item.Value));
                            });
                    }
                }
            });
        }
    </script>



}
