﻿@model Fun2twModels.Models.Products

@{
    ViewBag.Title = "供應商商品上架管理刪除";
}

<h2>供應商商品上架管理刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Products</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductCategory.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductCategory.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Brand.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Productkey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Productkey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Specification)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Specification)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpImageUrl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ShortMemo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortMemo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Article)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Article)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderAndReturnProductId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderAndReturnProductId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OnSalePrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OnSalePrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

  

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Poster)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InitDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InitDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Updater)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Updater)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
