﻿@using Fun2twModels.Models
@model Fun2twModels.Models.NewsCatalog

@{
    ViewBag.Title = "最新消息類別管理新增";
}

<h2>最新消息類別管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>NewsCatalog</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Subject, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.NewsCatalog>.GetDisplayName("Subject")})
            @Html.ValidationMessageFor(model => model.Subject)


        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectEnglish)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectEnglish, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.NewsCatalog>.GetDisplayName("SubjectEnglish")})

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubjectJapan)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SubjectJapan, new {placeholder = ModelsAttributeHelper<Fun2twModels.Models.NewsCatalog>.GetDisplayName("SubjectJapan")})

        </div>

        @Html.Hidden("ListNum","0")
        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
