﻿@using Fun2twModels.Models
@model Fun2twModels.Models.RevenueReport

@{
    ViewBag.Title = "快線營運報表新增";
}

<h2>快線營運報表新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>RevenueReport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TakeDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TakeDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.TakeDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ScheduleName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("ScheduleName") })
            @Html.ValidationMessageFor(model => model.ScheduleName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarTime)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CarTime,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("CarTime") })
            @Html.ValidationMessageFor(model => model.CarTime)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Account,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("Account") })
            @Html.ValidationMessageFor(model => model.Account)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Source)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Source,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("Source") })
            @Html.ValidationMessageFor(model => model.Source)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PayType,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("PayType") })
            @Html.ValidationMessageFor(model => model.PayType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("CName") })
            @Html.ValidationMessageFor(model => model.CName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Quantity,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("Quantity") })
            @Html.ValidationMessageFor(model => model.Quantity)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("Price") })
            @Html.ValidationMessageFor(model => model.Price)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("OrderId") })
            @Html.ValidationMessageFor(model => model.OrderId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartPoint)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartPoint,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("StartPoint") })
            @Html.ValidationMessageFor(model => model.StartPoint)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndPoint)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndPoint,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("EndPoint") })
            @Html.ValidationMessageFor(model => model.EndPoint)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.RevenueReport>.GetDisplayName("OrderStatus") })
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
