﻿@model Fun2twModels.Models.RevenueReport

@{
    ViewBag.Title = "快線營運報表刪除";
}

<h2>快線營運報表刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RevenueReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TakeDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TakeDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ScheduleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScheduleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartPoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartPoint)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndPoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndPoint)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStatus)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
