﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.RevenueReport>

@{
    ViewBag.Title = "快線營運報表列表";
}


<h2>快線營運報表列表</h2>
<div>
    匯出報表:
     @using (Html.BeginForm("GetFile", "RevenueReport"))
     {
         <select name="fileName">
             <option value="R201609">9月份瘋趣營收(墾丁+機場快線)</option>
 <option value="R201610">10月份瘋趣營收(墾丁+機場快線)</option>
 <option value="R201611">11月份瘋趣營收(墾丁+機場快線)</option>
 <option value="R201612">12月份瘋趣營收(墾丁+機場快線)</option>
         </select>
         <input type="submit" value="匯出"/>
     }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TakeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ScheduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CarTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().StartPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EndPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>

    </tr>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TakeDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

        </tr>
    }
    </tbody>
</table>

<div>
    現場營收:@ViewBag.total2 <br/>
    線上營收:@ViewBag.total1 <br/>

</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

