﻿@using Fun2twModels.Models
@model Fun2twModels.Models.BusReport

@{
    ViewBag.Title = "觀巴營運報表新增";
}

<h2>觀巴營運報表新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>BusReport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("OrderId") })
            @Html.ValidationMessageFor(model => model.OrderId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.OrderDate)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("CName") })
            @Html.ValidationMessageFor(model => model.CName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("EName") })
            @Html.ValidationMessageFor(model => model.EName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Birthday,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.Birthday)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdentityId)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IdentityId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("IdentityId") })
            @Html.ValidationMessageFor(model => model.IdentityId)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleName)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ScheduleName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("ScheduleName") })
            @Html.ValidationMessageFor(model => model.ScheduleName)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("Price") })
            @Html.ValidationMessageFor(model => model.Price)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PayType,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("PayType") })
            @Html.ValidationMessageFor(model => model.PayType)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("OrderStatus") })
            @Html.ValidationMessageFor(model => model.OrderStatus)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>
    
}
