﻿@model Fun2twModels.Models.BusReport

@{
    ViewBag.Title = "觀巴營運報表刪除";
}

<h2>觀巴營運報表刪除</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BusReport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdentityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdentityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ScheduleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScheduleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderStatus)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="刪除" /> |
        <input type="button" onclick="history.back()" value="回到上一頁" />
    </p>
}
