﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.BusReport

@{
    ViewBag.Title = "觀巴營運報表編輯";
}

<h2>觀巴營運報表編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BusReport</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("OrderId") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderDate,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.OrderDate)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("CName") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("EName") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Birthday,"{0:d}",new {@class="datepicker",target="" })
            @Html.ValidationMessageFor(model => model.Birthday)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdentityId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IdentityId,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("IdentityId") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ScheduleName,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("ScheduleName") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("Price") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PayType)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PayType,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("PayType") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderStatus)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.OrderStatus,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.BusReport>.GetDisplayName("OrderStatus") })
           
        </div>

        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();
        });
    </script>

    }
