﻿
@using MvcPaging
@model MvcPaging.IPagedList<Fun2twModels.Models.BusReport>

@{
    ViewBag.Title = "觀巴營運報表列表";
}

<h2>觀巴營運報表列表</h2>

匯出報表:
@using (Html.BeginForm("GetFile", "BusReport"))
{
    <select name="fileName">
        <option value="L201609">2016年9月份瘋趣營收(觀巴)</option>
        <option value="L201610">2016年10月份瘋趣營收(觀巴)</option>
        <option value="L201611">2016年11月份瘋趣營收(觀巴)</option>
        <option value="L201612">2016年12月份瘋趣營收(觀巴)</option>
         <option value="L201701">2017年1月份瘋趣營收(觀巴)</option>
 <option value="L201701(不含現金)">2017年1月份瘋趣營收(觀巴)(不含現金)</option>
        <option value="L201702">2017年2月份瘋趣營收(觀巴)</option>
<option value="L201702(不含現金)">2017年2月份瘋趣營收(觀巴)(不含現金)</option>
        <option value="L201703">2017年3月份瘋趣營收(觀巴)</option>
<option value="L201703(不含現金)">2017年3月份瘋趣營收(觀巴)(不含現金)</option>
        <option value="L201704">2017年4月份瘋趣營收(觀巴)</option>
<option value="L201704(不含現金)">2017年4月份瘋趣營收(觀巴)(不含現金)</option>
        <option value="L201705">2017年5月份瘋趣營收(觀巴)</option>
<option value="L201705(不含現金)">2017年5月份瘋趣營收(觀巴)(不含現金)</option>
        <option value="L201706">2017年6月份瘋趣營收(觀巴)</option>
<option value="L201706(不含現金)">2017年6月份瘋趣營收(觀巴)(不含現金)</option>
    </select>
    <input type="submit" value="匯出"/>
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IdentityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ScheduleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PayType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OrderStatus)
        </th>

    </tr>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                 @item.OrderDate.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>

        </tr>
    }
    </tbody>
</table>
<div>
    現場營收:@ViewBag.total1 <br/>
    線上營收:@ViewBag.total2 <br/>

</div>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function() {
            $(".datepicker").datepicker();

        });
    </script>
}

