﻿@using Fun2twModels.Models
@model Fun2twModels.Models.Customers

@{
    ViewBag.Title = "瘋趣會員帳號管理新增";
}

<h2>瘋趣會員帳號管理新增</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @ViewBag.Message
    <fieldset>
        <legend>Customers</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Account,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Account") })
            @Html.ValidationMessageFor(model => model.Account)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Password") })
            @Html.ValidationMessageFor(model => model.Password)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PasswordSalt)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PasswordSalt,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("PasswordSalt") })
            @Html.ValidationMessageFor(model => model.PasswordSalt)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Name") })
            @Html.ValidationMessageFor(model => model.Name)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Email") })
            @Html.ValidationMessageFor(model => model.Email)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telphone)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Telphone") })
            @Html.ValidationMessageFor(model => model.Telphone)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)

        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Address") })
            @Html.ValidationMessageFor(model => model.Address)
       
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)

        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
       
            
        </div>

        <p>
            <input type="submit" value="新增" /><input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
