﻿
@using Fun2twModels.Models
@model Fun2twModels.Models.Customers

@{
    ViewBag.Title = "瘋趣會員帳號管理編輯";
}

<h2>瘋趣會員帳號管理編輯</h2>

    @using (Html.BeginForm()) {

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customers</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Account)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Account,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Account") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.Password)
            @Html.HiddenFor(model => model.PasswordSalt)
            <input type="password" name ="Opassword" /> (密碼已經加密，不修改請保持空白)
        </div>
    

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Name") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.GenderType))))
            @Html.ValidationMessageFor(model => model.Gender)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Email") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telphone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telphone,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Telphone") })
           
        </div>

           <div class="editor-label">
            @Html.LabelFor(model => model.Mobile)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mobile,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Mobile") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Address,new { placeholder=ModelsAttributeHelper<Fun2twModels.Models.Customers>.GetDisplayName("Address") })
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enable)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Enable, new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))))
            @Html.ValidationMessageFor(model => model.Enable)
           
        </div>

            @Html.HiddenFor(model => model.Poster)
            @Html.HiddenFor(model => model.InitDate)
            @Html.HiddenFor(model => model.UpdateDate)
        <p>
            <input type="submit" value="更新" /> <input type="button" onclick="history.back()" value="回到上一頁" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
