﻿@using MvcPaging
@using Fun2twAdmin.Helpers
@model MvcPaging.IPagedList<Fun2twModels.Models.Customers>

@{
    ViewBag.Title = "瘋趣會員帳號管理列表";
}

<h2>瘋趣會員帳號管理列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm())
{
    <div>
        @Html.DisplayNameFor(model => model.FirstOrDefault().Account):@Html.InputSearchBox("SearchByAccount", ViewData["SearchByAccount"])
        <br />
        @Html.DisplayNameFor(model => model.FirstOrDefault().Name):@Html.InputSearchBox("SearchByName", ViewData["SearchByName"])
        @Html.DisplayNameFor(model => model.FirstOrDefault().Poster):@Html.InputSearchBox("SearchByPoster", ViewData["SearchByPoster"])
        <br />
      
        @Html.DisplayNameFor(model => model.FirstOrDefault().Enable): @Html.DropDownList("SearchByEnable", new SelectList(Enum.GetValues(typeof(Fun2twModels.Models.BooleanType))), "請選擇")
        <br />

        發布日期:<input type="text" name="SearchByStartDate" value="@ViewData["SearchByStartDate"]" class = "datepicker"/>
        ~
        <input type="text" name="SearchByEndDate" value="@ViewData["SearchByEndDate"]" class = "datepicker"/>
    </div>
    <div>
        <input type="submit" name="search" value="搜尋" />
        <input type="submit" name="csv" value="匯出.csv" />
        <input type="submit" name="excel" value="匯出Excel(.xlsx)" />
    </div>

    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Account)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
               
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Enable)
        </th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Account)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
             
               
                 <td>
                    @item.Enable
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
            @*@Html.ActionLink("內容", "Details", new { id=item.Id }) | *@
                    @Html.ActionLink("刪除", "Delete", new { id = item.Id })
                    @Html.Hidden("ID", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pager">
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();

        });
    </script>
}

